<app-nav-bar
  [title]="'Thông báo'"
  [isSearch]="true"
  (onSearchEvent)="onFilter($event)"
></app-nav-bar>

<ion-content>
  <ion-refresher
    *ngIf="isMobile"
    slot="fixed"
    style="margin-top: 4rem; z-index: 999 !important"
    (ionRefresh)="doRefresh($event)"
  >
    <ion-refresher-content refreshingSpinner="bubbles"></ion-refresher-content>
  </ion-refresher>

  <ion-fab class="d-md-none" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="custom-fab" (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="m-content-0 m-md-content m-mobile-content mb-mobile">
    <div
      *ngIf="isManageNotification"
      class="d-none d-md-flex justify-content-end p-3 p-md-0"
    >
      <ion-button color="primary" class="custom-btn" (click)="presentModal()">
        <ion-icon class="me-1" name="add-outline"></ion-icon>
        <span>Thêm mới</span>
      </ion-button>
    </div>

    <table-filter class="d-none d-md-block">
      <div class="my-2 p-2 p-md-0">
        <form
          [formGroup]="searchForm"
          (keyup.enter)="onFilter()"
          (ngSubmit)="onFilter()"
        >
          <div class="row mx-0 align-items-baseline">
            <div class="col-md-12">
              <mat-form-field class="w-100 search-input" appearance="outline">
                <mat-icon matPrefix>search</mat-icon>

                <input
                  matInput
                  formControlName="textSearch"
                  placeholder="Tìm kiếm"
                />
              </mat-form-field>
            </div>

            <div class="w-100 d-flex justify-content-end mb-2">
              <ion-button
                fill="clear"
                class="custom-btn text-secondary"
                (click)="onResetFilter()"
                type="button"
              >
                Xóa bộ lọc
              </ion-button>
              <ion-button color="primary" class="custom-btn mx-2" type="submit">
                Tìm kiếm
              </ion-button>
            </div>
          </div>
        </form>
      </div>
    </table-filter>

    <div *ngIf="!notificationList.length" class="mt-5 text-center">
      <img src="assets/images/empty_state.png" alt="empty-data" />
      <h2>Không tồn tại thông báo</h2>
    </div>

    <div class="notification">
      <div
        class="notification-item"
        *ngFor="let item of notificationList; index as i"
        (click)="onViewDetail(item)"
      >
        <div class="d-flex justify-content-between align-items-center">
          <div class="flex-grow-1 notification-left">
            <h2 class="mb-2 text-title">{{ item.title }}</h2>
            <h3 class="m-0 notification-content">{{ item.content }}</h3>
            <div class="notification-date">
              {{ item.createdDate | date: "H:mm dd/MM/yyyy" }}
            </div>
          </div>

          <div *ngIf="isManageNotification" (click)="$event.stopPropagation()">
            <table-icon
              (onViewDetailEvent)="onViewDetail(item)"
              (onUpdateEvent)="onUpdate(item, i)"
              (onDeleteEvent)="onDelete(item, i)"
              [isShowDelete]="isManageNotification"
              [isShowUpdate]="isManageNotification"
              [vercical]="false"
            >
            </table-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="d-none d-md-block" *ngIf="notificationList.length > 0">
      <mat-paginator
        [pageSizeOptions]="pageSizeList"
        [pageSize]="filter.PageSize"
        [length]="pagingModel.totalRecord"
        class="text-md paging"
        (page)="pageChange($event)"
      ></mat-paginator>
    </div>

    <ion-infinite-scroll
      class="d-md-none"
      threshold="15%"
      (ionInfinite)="loadMoreData($event)"
    >
      <ion-infinite-scroll-content> </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>

<app-loading [show]="clientState.isBusy"></app-loading>
