.text-title {
  line-height: 1.4rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.mb-mobile {
  margin-bottom: 25px;
}

.m-mobile-content {
  padding: 0 12px;
  margin-top: 65px;
}

.notification {
  &-item {
    background-color: #fff;
    padding: 1rem;
    border-radius: 12px;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }
  &-left {
  }

  &-content {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }

  &-date {
    color: lightslategray;
  }
}

.paging {
  border-radius: 12px !important;
}

@media (min-width: 576px) {
  .m-mobile-content {
    padding-left: 0;
    padding-right: 0;
  }
  .m-md-content {
    padding: 30px;
    margin-top: 45px;
  }

  .mb-mobile {
    margin-bottom: 0;
  }
}
