<app-nav-bar-custome [title]="'Công việc'" class="d-md-none">
  <div start>
    <ion-button (click)="onGoBack()">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>
  </div>
</app-nav-bar-custome>

<div class="d-none d-md-block">
  <app-nav-bar [title]="'Chi tiết công việc'"></app-nav-bar>
</div>

<ion-content>
  <div class="m-content-0 m-md-content m-mobile-content mb-mobile">
    <!-- open -->
    <reusable-detail-icon
      [goBackUrl]="'/task/history'"
      [isShowDelete]="false"
      [isShowUpdate]="false"
    >
    </reusable-detail-icon>
    <!-- close -->
    <div class="main-content">
      <div class="d-flex flex-column mb-3">
        <div class="d-flex justify-content-between w-100">
          <div class="d-flex justify-content-between w-100">
            <div class="title mb-2">
              <ion-icon class="title-icon" name="reader-outline"></ion-icon>
              <span class="title-text">{{ task.name }}</span>
            </div>
            <button
              *ngIf="isManagerTask"
              mat-icon-button
              matTooltip="Sao chép"
              class="me-2"
              #tooltipUpdate="matTooltip"
              (mousedown)="tooltipUpdate.hide()"
              onclick="this.blur()"
              (click)="copyTask()"
            >
              <mat-icon class="custom-mat-icon" color="primary"
                >file_copy</mat-icon
              >
            </button>
          </div>
        </div>
        <div class="d-flex flex-column">
          <div class="d-flex align-items-center disable mb-3">
            <span class="me-2 title-sub">Trạng thái</span>
            <ion-badge
              color="{{
                task.status == 0
                  ? 'danger'
                  : task.status == 1
                  ? 'success'
                  : 'primary'
              }}"
            >
              {{
                task.status == 0
                  ? "Huỷ"
                  : task.status == "1"
                  ? "Hoàn thành"
                  : "Đang xử lý"
              }}
            </ion-badge>
          </div>
          <div class="d-flex align-items-center disable">
            <span class="me-2 title-sub">Độ ưu tiên</span>
            <ion-badge
              color="{{
                task.priority == 0
                  ? 'primary'
                  : task.priority == 1
                  ? 'warning'
                  : 'danger'
              }}"
            >
              {{
                task.priority == 0
                  ? "Thấp"
                  : task.priority == "1"
                  ? "Trung bình"
                  : "Cao"
              }}
            </ion-badge>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column flex-sm-row justify-content-between pb-3">
        <div class="col-12 d-flex flex-column">
          <div class="mb-2 disable">
            <span class="me-2 title-sub">Phòng ban </span>
            <ion-chip
              [class]="task.departmentName ? 'cursor-default' : 'disable'"
              class="font-16"
            >
              {{ task.departmentName ? task.departmentName : "Không" }}
            </ion-chip>
          </div>
          <div class="d-flex align-items-center flex-wrap disable mb-4">
            <span class="me-2 mb-3 mb-md-0 title-sub">Người xử lý </span>
            <ion-chip *ngIf="!task.staffName && roleLevel != 0"
              >Chưa có người xử lý</ion-chip
            >
            <ion-chip *ngIf="task.staffName" class="chip-staff">
              <ion-avatar style="max-width: 2rem; max-height: 2rem">
                <img
                  [src]="
                    task.staffAvatar
                      ? task.staffAvatar
                      : 'assets/images/default-avatar.png'
                  "
                  alt=""
                  style="width: 2rem; height: 2rem"
                />
              </ion-avatar>
              <span class="ms-2">{{ task.staffName }}</span>
            </ion-chip>
          </div>
          <div class="mb-4" *ngIf="task.eventName">
            <span class="me-2 title-sub">Sự kiện </span
            ><span>{{ task.eventName }}</span>
          </div>
          <div class="mb-4">
            <span class="me-2 title-sub">Hạn chót </span>
            <span>{{ task.deadline | date: "H:mm dd/MM/yyyy" }}</span>
          </div>
          <div class="mb-4">
            <span class="me-2 title-sub">Mô tả </span>
            <span>{{ task.description ? task.description : "Không" }}</span>
          </div>
          <div class="mb-4 d-flex" *ngIf="task.equipments?.lenght">
            <span class="me-2 title-sub">Trang thiết bị </span>
            <div class="flex-grow">
              <div *ngFor="let item of task.equipments">
                <span>{{ item.name }} - {{ item.quantity }}</span>
              </div>
            </div>
          </div>
          <div
            class="mb-4 d-flex flex-column sub-tasks"
            *ngIf="task.subTasks?.length"
          >
            <div
              (click)="showSubTasks = !showSubTasks"
              class="sub-tasks-title pointer"
            >
              <span class="title-sub">Chi tiết công việc </span>
              <mat-icon class="text-secondary">{{
                showSubTasks ? "arrow_drop_up" : "arrow_drop_down"
              }}</mat-icon>
            </div>
            <div class="m-3 flex-grow" *ngIf="showSubTasks">
              <div *ngFor="let item of task.subTasks; index as i">
                <mat-checkbox
                  class="example-margin"
                  [checked]="item.status"
                  color="primary"
                  [disabled]="true"
                >
                  {{ item.name }}
                </mat-checkbox>
              </div>
            </div>
          </div>
          <div
            *ngIf="files.length"
            class="files d-flex flex-column mb-2"
            [ngClass]="files.length ? 'pointer' : ''"
          >
            <div
              class="file-title d-flex align-items-center"
              (click)="changeShowFiles()"
            >
              <span class="me-2">Tệp tin</span>
              <mat-icon class="text-secondary me-2">{{
                showFiles ? "arrow_drop_up" : "arrow_drop_down"
              }}</mat-icon>
            </div>
            <div
              [class]="
                showFiles ? 'file-show d-flex flex-wrap mt-3 w-100' : 'd-none'
              "
            >
              <div *ngFor="let fileComment of files" class="file mx-3 pointer">
                <div
                  (click)="goFile(fileComment.fileURL)"
                  target="_blank"
                  class="link-file"
                >
                  {{ fileComment.fileName }}
                </div>
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="comment mb-2">
            <div
              class="comment-title d-flex align-items-center pointer mb-3"
              (click)="showComment = !showComment"
            >
              <ion-icon
                class="me-2"
                size="large"
                name="list-outline"
              ></ion-icon>
              <span>Bình luận</span>
              <mat-icon class="text-secondary me-2">{{
                showComment ? "arrow_drop_up" : "arrow_drop_down"
              }}</mat-icon>
            </div>

            <div class="chat-area-main" *ngIf="showComment">
              <div *ngFor="let comment of comments; index as i">
                <div class="chat-msg pt-message w-100">
                  <div class="chat-msg-profile">
                    <img
                      class="chat-msg-img"
                      [src]="
                        comment.creatorAvatar
                          ? comment.creatorAvatar
                          : '../../../../assets/images/default-avatar.png'
                      "
                      alt="avatar"
                    />
                  </div>

                  <div
                    class="chat-msg-content d-flex flex-column"
                    style="width: 90%"
                  >
                    <div class="d-flex justify-content-between w-100">
                      <div>
                        <span class="text-dark" style="font-weight: 500"
                          >{{ comment.creator }}
                        </span>
                        <span class="text-secondary">{{
                          comment.createdDate | date: "H:mm dd/MM/yyyy"
                        }}</span>
                      </div>
                    </div>
                    <div
                      *ngIf="comment.content != 'null'"
                      class="chat-msg-text w-100"
                    >
                      {{ comment.content }}
                    </div>
                    <div
                      (click)="goFile(comment.files[0].fileURL)"
                      target="_blank"
                      class="
                        link-file
                        col-4
                        pointer
                        d-flex
                        justify-content-between
                        align-items-center
                      "
                      *ngIf="comment.files[0]"
                    >
                      {{ comment.files[0].fileName }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <h3 *ngIf="!comments.length" class="ms-5">Không</h3>
        </div>
      </div>
    </div>
  </div>
</ion-content>
