<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <!-- button back start-->
    <ion-buttons slot="start">
      <ion-button (click)="onBack()">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- button back end-->

    <!-- <ion-buttons class="pe-1" slot="end">
      <ion-button (click)="onAction()">Lưu</ion-button>
    </ion-buttons> -->

    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>
