<ion-header [translucent]="true" class="ion-no-border position-sticky">
  <ion-toolbar class="px-2">
    <!-- button back start-->
    <ion-buttons slot="start">
      <ion-button (click)="onBack()">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- button back end-->

    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>
