<ion-header class="ion-no-border">
  <ion-toolbar class="main-header px-2" [class.hidden]="isToggleSearch">
    <!-- button toggle sidebar start-->
    <ion-buttons slot="start">
      <ion-menu-toggle autoHide="false">
        <ion-button (click)="toggleMenu()">
          <img src="assets/menu_bar.svg" />
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <!-- button toggle sidebar end-->

    <ion-title class="d-md-none">{{ title }}</ion-title>

    <!-- button search start -->
    <ion-buttons class="d-md-none" slot="end" *ngIf="isSearch">
      <ion-button (click)="openSearch()">
        <ion-icon
          class="search-icon"
          name="search-outline"
          slot="icon-only"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- button search end -->

    <ion-buttons slot="end">
      <ion-button
        class="user-toggle"
        onclick="this.blur()"
        slot="end"
        [matMenuTriggerFor]="user"
      >
        <span class="d-none d-md-block text-name me-2">{{ fullName }}</span>
        <div class="toggler-image">
          <img
            [src]="avatar ? avatar : 'assets/images/default-avatar.png'"
            alt="user avatar"
          />
        </div>
      </ion-button>

      <mat-menu #user="matMenu" class="custom-matMenu" xPosition="before">
        <a mat-menu-item (click)="onPresentModalInfo()">
          <mat-icon>account_circle</mat-icon>
          <span>Tài khoản</span>
        </a>
        <a mat-menu-item (click)="logOut()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Đăng xuất</span>
        </a>
      </mat-menu>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar
    mode="md"
    class="d-md-none search-block"
    [class.active]="isToggleSearch && !clientState.isBusy"
  >
    <ion-searchbar
      class="custom-search"
      placeholder="Tìm kiếm"
      (ionCancel)="isToggleSearch = false"
      [debounce]="300"
      showCancelButton="always"
      (ionChange)="onSearch($event)"
      #searchbar
    ></ion-searchbar>
    <ng-content></ng-content>
  </ion-toolbar>
</ion-header>
