ion-button {
  --color: #222428;
}

.user-toggle {
  .toggler-image {
    width: 30px;
    height: 30px;

    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      object-fit: cover;
    }
  }
  .text-name {
    font-weight: 500;
  }
}

.mat-menu-item .mat-icon {
  margin-right: 8px;
}

// ion-title {
//   padding-left: 3.5rem !important;
//   font-weight: normal !important;
//   text-align: start;
// }

.main-header {
  position: fixed;
  top: 10;
  z-index: 99;
  transition: all 250ms ease-in-out;
  &.hidden {
    opacity: 1;
  }
}

.search-block {
  --min-height: 0px !important;

  position: fixed;
  top: 10;
  z-index: 99;
  transition: all 250ms ease-in-out;

  width: 0%;
  right: 0;
  &.active {
    width: 100%;
  }
}

.search-icon {
  height: 25px;
  width: 25px;
}
