<app-nav-bar [title]="'Sự kiện đang diễn ra'"></app-nav-bar>

<ion-content>
  <div class="m-content">
    <div
      *ngIf="!eventList.length && !clientState.isBusy"
      class="mt-5 text-center"
    >
      <img src="assets/images/empty_state.png" alt="empty-data" />
      <h2>Không tồn tại sự kiện đang diễn ra</h2>
    </div>

    <div *ngIf="eventList.length > 0">
      <!-- event search start -->
      <mat-form-field
        class="search-input w-100 p-detail p-md-0"
        appearance="outline"
      >
        <mat-icon matPrefix>search</mat-icon>

        <mat-select [formControl]="eventControl" placeholder="Tên sự kiện">
          <mat-option *ngFor="let event of eventList" [value]="event.id">{{
            event.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- event search end -->

      <div class="d-xl-flex mt-md-2">
        <div class="col-xl-8">
          <div class="event mt-4 mt-xl-0">
            <div class="event-main d-flex flex-column justify-content-center">
              <div class="event-name">{{ selectedEvent.name }}</div>
              <div class="event-description">
                {{ selectedEvent.description }}
              </div>
            </div>
          </div>

          <div class="d-xl-flex">
            <div class="w-100 mt-2 mt-md-0">
              <div class="header header-event d-xl-flex px-3">
                <div class="header-left">Công việc đang thực hiện</div>

                <a
                  class="header-right"
                  [routerLink]="['/task/list']"
                  [queryParams]="{ eid: eventId }"
                  >Xem thêm</a
                >
              </div>
              <div
                class="task-col task-main mb-3 text-center"
                *ngIf="!taskInEvent.length"
              >
                <b>Chưa có công việc</b>
              </div>
              <div
                class="task-col task-main mb-3 cursor-pointer"
                *ngFor="let task of taskInEvent; let i = index"
                (click)="showTask(task.id)"
              >
                <div class="task-item d-flex align-items-center" *ngIf="i < 3">
                  <div class="progress-wrapper me-3">
                    <div class="current">
                      {{
                        task.subTasks.length == 0
                          ? "0/1"
                          : completeSubtask[i] + "/" + task.subTasks.length
                      }}
                    </div>
                    <div
                      [class]="
                        task.priority == 2
                          ? 'hight'
                          : task.priority == 1
                          ? 'medium'
                          : 'low'
                      "
                      class="priority-circle"
                    ></div>
                    <round-progress
                      [current]="completeSubtask[i]"
                      [max]="
                        task.subTasks.length == 0 ? '1' : task.subTasks.length
                      "
                      [color]="
                        task.priority == 2
                          ? '#E86969'
                          : task.priority == 1
                          ? '#FEE281'
                          : '#A1E26D'
                      "
                      [background]="'#eaeaea'"
                      [radius]="35"
                      [stroke]="8"
                      [duration]="500"
                    >
                    </round-progress>
                  </div>

                  <div class="task-content">
                    <div class="task-title">
                      {{ task.name }}
                    </div>
                    <div class="task-deadline">
                      Hạn chót: {{ task.deadline | date: "H:mm dd/MM/yyyy" }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-100">
              <div class="header px-3">
                <b class="header-left">Thu chi</b>
                <a class="header-right" (click)="onViewEvent()">Xem thêm</a>
              </div>
              <div
                class="task-col task-main mb-3 text-center"
                *ngIf="!budgetInEvent.length"
              >
                <b>Chưa có thu chi</b>
              </div>
              <div
                class="task-col task-main mb-3 cursor-pointer"
                *ngFor="let item of budgetInEvent; let i = index"
              >
                <div
                  *ngIf="i < 3"
                  class="task-item d-flex align-items-center"
                  style="height: 86px"
                >
                  <span
                    style="font-weight: 600px; font-size: 32px; width: 70px"
                    class="px-2"
                    >{{ item.expense ? "Chi" : "Thu" }}</span
                  >
                  <div
                    class="d-flex flex-column px-2"
                    style="border-left: 1px solid black"
                  >
                    <span style="font-size: 32; font-weight: 600px">{{
                      item.name
                    }}</span>
                    <span style="color: gray">{{ item.price | number }}đ</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-4 ps-xl-3">
          <div class="staff" style="height: 80vh; overflow: auto">
            <div
              class="w-100 justify-content-center align-items-center d-flex h-100"
              *ngIf="!userInEvent.length"
            >
              <b>Chưa có nhân viên</b>
            </div>

            <div
              class="w-100 ms-1 mt-2 d-flex justify-content-between"
              *ngIf="userInEvent.length"
            >
              <span style="font-size: 20px"
                ><span style="font-weight: 400">Có mặt: </span
                >{{ countUserCheckIn }}/{{ userInEvent.length }}</span
              >

              <a class="header-right me-3" (click)="onViewAttendent()"
                >Chi tiết</a
              >
            </div>
            <div
              class="column w-100 p-2"
              [style]="
                userNotCheckIn.length === 0 || userCheckIn.length === 0
                  ? ''
                  : 'border-bottom: 1px solid lightgray'
              "
            >
              <div
                class="py-2 d-md-flex justify-content-between align-items-center"
                *ngFor="let item of userCheckIn"
              >
                <ion-avatar style="max-width: 2rem; max-height: 2rem">
                  <img
                    [src]="
                      item.avatar
                        ? item.avatar
                        : 'assets/images/default-avatar.png'
                    "
                    alt="avatar"
                    style="width: 2rem; height: 2rem"
                  />
                </ion-avatar>

                <div class="d-flex flex-column w-50">
                  <span>{{ item.fullName }}</span>
                  <span style="color: gray">{{ item.roleName }}</span>
                </div>

                <ion-button class="d-none d-block" (click)="createTask(item.id)"
                  >Giao việc</ion-button
                >
              </div>
            </div>
            <div class="column w-100 p-2">
              <div
                class="py-2 d-flex justify-content-between align-items-center"
                *ngFor="let item of userNotCheckIn"
              >
                <ion-avatar style="max-width: 2rem; max-height: 2rem">
                  <img
                    [src]="
                      item.avatar
                        ? item.avatar
                        : 'assets/images/default-avatar.png'
                    "
                    alt="avatar"
                    style="width: 2rem; height: 2rem"
                  />
                </ion-avatar>
                <div class="d-flex flex-column w-50">
                  <span>{{ item.fullName }}</span>
                  <span style="color: gray">{{ item.roleName }}</span>
                </div>
                <ion-button
                  class="d-none d-md-block"
                  (click)="createTask(item.id)"
                  >Giao việc</ion-button
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
