// test
.bdr {
  border: 1px solid red !important;
}
.bdb {
  border: 1px solid blue !important;
}
.bdy {
  border: 1px solid yellow !important;
}
.bdg {
  border: 1px solid green !important;
}
//test

.m-content {
  padding-left: 12px;
  padding-right: 12px;
}

.event {
  // flex-grow: 1;
  flex: 1;

  &-main {
    padding: 1rem;
    background: #5eacf3;
    border-radius: 12px;
    color: #ffffff;
    height: calc(100% - 31.2px);
  }

  &-name {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 1rem;
    line-height: 3rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }

  &-description {
    font-size: 25px;
    line-height: 2rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7rem;

  &-left {
    font-weight: 500;
    font-size: 20px;
  }
  &-right {
    color: #5eacf3;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      color: #7ebdf5;
    }
  }
}
@media (min-width: 750px) {
  .event {
    height: 300px;
  }
}

.task-main {
  .task-item {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 0.5rem;

    &:hover {
      color: #595959;
    }
  }
}

.task-col {
  padding: 0 0.5rem 0 0.5rem;
}

.progress-wrapper {
  position: relative;
}

.current {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.priority-circle {
  top: 50%;
  left: 50%;
  width: 3.43rem;
  height: 3.43rem;
  position: absolute;
  border-radius: 100%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hight {
  border: 3px solid #e86969;
}

.medium {
  border: 3px solid #fee281;
}

.low {
  border: 3px solid #a1e26d;
}

.staff {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 0.5rem;
}

.header-event {
  display: block;
}

.header-right {
  display: block;
  text-align: end;
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .m-content {
    padding: 30px;
    margin-top: 45px;
  }

  // .header-event {
  //   display: flex;
  // }

  .header-right {
    margin-top: 0;
  }
}
