<div class="d-md-none">
  <app-nav-bar-modal
    title="{{ status == 2 ? 'Chấp thuận' : 'Từ chối' }} yêu cầu"
    (onBackEvent)="onDismissModal()"
    (onActionEvent)="onSubmit()"
  ></app-nav-bar-modal>
</div>

<ion-content class="modal-main">
  <h2 class="d-none d-sm-block">
    {{ status == 2 ? "Chấp thuận" : "Từ chối" }} yêu cầu
  </h2>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="col-12 px-0 px-lg-2 mb-3">
      <label class="input-label">Nội dung</label>
      <mat-form-field class="w-100" appearance="outline">
        <textarea
          matInput
          [matTextareaAutosize]="true"
          [matAutosizeMinRows]="10"
          [matAutosizeMaxRows]="10"
          placeholder="Nội dung"
          formControlName="message"
        ></textarea>

        <mat-error
          *ngIf="
            message.invalid && (message.dirty || message.touched || f.submitted)
          "
        >
          <span *ngIf="message.errors?.maxlength"
            >Nội dung nằm trong khoảng 0-500 ký tự</span
          >
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-12 px-0 mt-3 mt-md-0 text-end">
      <ion-button
        fill="clear"
        class="custom-btn d-none d-md-inline-block text-secondary"
        type="button"
        (click)="onDismissModal()"
      >
        Hủy
      </ion-button>
      <ion-button
        color="primary"
        class="custom-btn d-block d-md-inline-block"
        [disabled]="clientState.isBusy || !createForm.dirty"
        type="submit"
      >
        {{ status == 2 ? "Chấp thuận" : "Từ chối" }}
      </ion-button>
    </div>
  </form>
</ion-content>

<app-loading [isModal]="true" [show]="clientState.isBusy"></app-loading>
