<div class="d-md-none">
  <app-nav-bar-modal
    title="{{ id ? 'Cập nhật' : 'Tạo mới' }}"
    (onBackEvent)="onDismissModal()"
    (onActionEvent)="onSubmit()"
  ></app-nav-bar-modal>
</div>

<ion-content class="modal-main">
  <h2 class="d-none d-sm-block">{{ id ? "Cập nhật" : "Tạo mới" }}</h2>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="row mx-0 align-items-baseline">
      <div class="col-12 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Tên thể loại <span class="text-danger">*</span></label
        >

        <mat-form-field class="w-100" appearance="outline">
          <input
            matInput
            formControlName="name"
            placeholder="Nhập tên thể loại"
          />
          <mat-error
            *ngIf="name.invalid && (name.dirty || name.touched || f.submitted)"
          >
            <span *ngIf="name.errors?.required"
              >Tên thể loại là trường bắt buộc</span
            >
            <span *ngIf="name.errors?.maxlength"
              >Tên thể loại nằm trong khoảng 1-50 ký tự</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="!id" class="col-12 px-0 px-lg-2 mb-2">
        <label class="input-label"
          >Chức năng <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <mat-select formControlName="type" placeholder="Chọn chức năng">
            <mat-option *ngFor="let type of types" [value]="type.value">
              {{ type.label }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="type.invalid && (type.dirty || type.touched || f.submitted)"
          >
            <span *ngIf="type.errors?.required"
              >Chức năng là trường bắt buộc</span
            >
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- button save -->
    <div class="col-12 px-0 text-end">
      <ion-button
        fill="clear"
        class="custom-btn d-none d-md-inline-block text-secondary"
        type="button"
        (click)="onDismissModal()"
      >
        Hủy
      </ion-button>
      <ion-button
        color="primary"
        class="custom-btn d-block d-md-inline-block"
        [disabled]="clientState.isBusy || !createForm.dirty"
        type="submit"
      >
        Lưu
      </ion-button>
    </div>
  </form>
</ion-content>

<app-loading [isModal]="true" [show]="clientState.isBusy"></app-loading>
