<div class="d-md-none">
  <app-nav-bar-modal
    title="Ứng lương"
    (onBackEvent)="onDismissModal()"
  ></app-nav-bar-modal>
</div>

<ion-content class="modal-main">
  <h2 class="d-none d-sm-block">Ứng lương</h2>

  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="col-12 px-0 px-lg-2 mb-3">
      <label class="input-label"
        >Số tiền ứng <span class="text-danger">*</span></label
      >
      <mat-form-field class="w-100" appearance="outline">
        <input
          placeholder="Nhập số tiền ứng"
          maxlength="10"
          matInput
          formControlName="value"
          decimalFormat
        />
        <mat-error *ngIf="updateForm.hasError('required', 'value')"
          >Số tiền ứng là trường bắt buộc</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-12 px-0 mt-3 mt-md-0 text-end">
      <ion-button
        fill="clear"
        class="custom-btn d-none d-md-inline-block text-secondary"
        type="button"
        (click)="onDismissModal()"
      >
        Hủy
      </ion-button>
      <ion-button
        color="primary"
        class="custom-btn d-block d-md-inline-block"
        [disabled]="clientState.isBusy || !updateForm.dirty"
        type="submit"
      >
        Lưu
      </ion-button>
    </div>
  </form>
</ion-content>
