<div class="d-md-none">
  <app-nav-bar-modal
    title="Chi tiết nhân viên"
    (onBackEvent)="onDismissModal()"
  ></app-nav-bar-modal>
</div>
<ion-content class="modal-main">
  <div class="mb-mobile">
    <div class="d-none d-md-flex justify-content-end p-0">
      <ion-button (click)="onViewDetail()" class="custom-btn" color="primary">
        <span>Xem đầy đủ</span>
      </ion-button>
    </div>

    <div class="d-md-none profile-image mb-3">
      <div class="outer">
        <img
          [src]="avatarURL ? avatarURL : 'assets/images/default-avatar.png'"
        />
      </div>
    </div>

    <h3 class="text-secondary text-uppercase border-bottom">
      Thông tin cá nhân
    </h3>

    <div class="mt-3">
      <div class="d-flex mx-0">
        <div class="flex-grow-1">
          <div class="row mx-0">
            <div class="col-sm-6">
              <div class="info-group">
                <label class="text-secondary">Họ và tên </label>
                <p class="font-weight-600">{{ model.fullName }}</p>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="info-group">
                <label class="text-secondary">Giới tính </label>
                <p class="font-weight-600">
                  {{ model.gender == 0 ? "Nam" : "Nữ" }}
                </p>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="info-group">
                <label class="text-secondary">Email </label>
                <p class="font-weight-600">
                  {{ model.email }}
                </p>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="info-group">
                <label class="text-secondary">Ngày sinh </label>
                <p class="font-weight-600">
                  {{ model.doB | date: "dd/MM/yyyy" }}
                </p>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="info-group">
                <label class="text-secondary">Số điện thoại </label>
                <p class="font-weight-600">{{ model.phone }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 d-none d-md-block profile-image m-img">
          <div class="outer">
            <img
              [src]="avatarURL ? avatarURL : 'assets/images/default-avatar.png'"
            />
          </div>
        </div>
      </div>
    </div>

    <h3 class="text-secondary text-uppercase border-bottom">
      Thông tin nhân sự
    </h3>
    <div class="mt-3">
      <div class="row mx-0">
        <div class="col-md-4 col-sm-6">
          <div class="info-group">
            <label class="text-secondary">Phòng ban </label>
            <p class="font-weight-600">{{ model.department?.name }}</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="info-group">
            <label class="text-secondary">Chức vụ </label>
            <p class="font-weight-600">{{ model.role?.name }}</p>
          </div>
        </div>
      </div>
    </div>
    <ion-button
      color="primary"
      class="custom-btn d-block d-md-none mt-3"
      (click)="onViewDetail()"
    >
      Xem đầy đủ
    </ion-button>
  </div>
</ion-content>
<app-loading [show]="clientState.isBusy"></app-loading>
