label {
  margin-bottom: 3px;
}

.profile-image {
  padding: 0;
  width: 7.5rem;
  height: 7.5rem;
  display: block;
  margin: 0 auto;
}

.m-img {
  margin-right: 12px;
}

.outer {
  width: 100%;
  height: 100%;
  max-width: 7.5rem !important;
  max-height: 7.5rem !important;
  margin: auto;
  border-radius: 100%;
  position: relative;
  border: 1px solid #f1f1f1;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}
