<app-nav-bar [title]="'Danh sách phiếu lương của tôi'"></app-nav-bar>
<ion-content>
  <div class="m-content d-none d-md-block">
    <div class="mt-2">
      <div class="main-content">
        <div class="main-content-header">
          <span class="content-header-text">Danh sách phiếu lương của tôi</span>
        </div>

        <div class="d-none d-sm-flex justify-content-end">
          <app-table-display-columns
            [tableName]="'salary'"
            [baseColumns]="displayedColumns"
            [showColumns]="showColumns"
            (onColumnsChange)="showColumns = $event"
          >
          </app-table-display-columns>
        </div>

        <div class="overflow-auto custom-table">
          <table
            mat-table
            [dataSource]="dataSource"
            class="table table-striped table-hover"
          >
            >
            <ng-container matColumnDef="staff">
              <th mat-header-cell *matHeaderCellDef class="w-1">
                Tên nhân viên
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.user.fullName }}
              </td>
            </ng-container>
            <ng-container matColumnDef="startDate">
              <th mat-header-cell *matHeaderCellDef class="w-1">
                Ngày bắt đầu
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.startDate | date: "dd/MM/yyyy" }}
              </td>
            </ng-container>
            <ng-container matColumnDef="endDate">
              <th mat-header-cell *matHeaderCellDef class="w-1">
                Ngày kết thúc
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.endDate | date: "dd/MM/yyyy" }}
              </td>
            </ng-container>
            <ng-container matColumnDef="creator">
              <th mat-header-cell *matHeaderCellDef class="w-1">Người tạo</th>
              <td mat-cell *matCellDef="let element">
                {{ element.createdBy }}
              </td>
            </ng-container>
            <ng-container matColumnDef="createdDate">
              <th mat-header-cell *matHeaderCellDef class="w-1">Ngày tạo</th>
              <td mat-cell *matCellDef="let element">
                {{ element.createdDate | date: "dd/MM/yyyy" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef class="w-3">Trạng thái</th>
              <td mat-cell *matCellDef="let element">
                <ion-badge *ngIf="element.status == 0" color="warning">
                  <ion-label> Chờ xác nhận </ion-label>
                </ion-badge>
                <ion-badge *ngIf="element.status == 1" color="primary">
                  <ion-label> Đã xác nhận </ion-label>
                </ion-badge>
                <ion-badge *ngIf="element.status == 2" color="success">
                  <ion-label> Đã nhận </ion-label>
                </ion-badge>
              </td>
            </ng-container>
            <ng-container matColumnDef="noData">
              <td
                mat-footer-cell
                *matFooterCellDef
                [attr.colspan]="displayedColumns.length"
                class="text-center"
                style="background-color: rgba(90, 86, 86, 0.23)"
              >
                Không tồn tại bản ghi.
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="showColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: showColumns"
              class="cursor-pointer"
              (click)="onViewDetailPayroll(row)"
            ></tr>

            <tr
              mat-footer-row
              *matFooterRowDef="['noData']"
              [ngClass]="{
                'd-none': !(dataSource != null && dataSource.data.length == 0)
              }"
            ></tr>
          </table>
        </div>

        <mat-paginator
          [pageSizeOptions]="pageSizeList"
          [pageSize]="filter.PageSize"
          [length]="pagingModel.totalRecord"
          class="text-md"
          (page)="pageChange($event)"
        ></mat-paginator>
      </div>
    </div>
  </div>

  <div class="mb-mobile m-mobile-content d-md-none">
    <div *ngIf="!this.dataSource.data.length" class="mt-5 text-center">
      <img src="assets/images/empty_state.png" alt="empty-data" />
      <h2>Không tồn tại bản ghi</h2>
    </div>

    <ion-card
      *ngFor="let item of dataSource.data"
      class="mt-2 mb-2 animated fadeIn fast"
    >
      <ion-item (click)="onViewDetailPayroll(item)" class="pt-3 pb-3">
        <ion-label
          >Ngày bắt đầu: {{ item.startDate | date: "dd-MM-yyyy" }}</ion-label
        >
        <ion-icon
          name="chevron-forward-outline"
          size="small"
          slot="end"
        ></ion-icon>
      </ion-item>
    </ion-card>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
      <ion-infinite-scroll-content> </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <app-loading [show]="clientState.isBusy"></app-loading>
</ion-content>
