<div class="fixed">
  <ion-fab class="d-md-none" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="custom-fab" (click)="presentEquipmentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>

<div class="d-none d-md-flex justify-content-between p-3 p-md-0 mb-3">
  <button
    mat-icon-button
    matTooltip="Quay lại"
    class="d-none d-md-block"
    #tooltipBack="matTooltip"
    (mousedown)="tooltipBack.hide()"
    (click)="onBack()"
  >
    <mat-icon class="custom-mat-icon fg-primary">arrow_back</mat-icon>
  </button>

  <ion-button
    color="primary"
    class="custom-btn"
    (click)="presentEquipmentModal()"
  >
    <ion-icon class="me-1" name="add-outline"></ion-icon>
    <span>Thêm mới</span>
  </ion-button>
</div>

<div *ngIf="!equipmentListGroup.length" class="mt-5 text-center">
  <img src="assets/images/empty_state.png" alt="empty-data" />
  <h2>Không tồn trang thiết bị</h2>
</div>

<div class="p-detail p-md-0 m-md-0">
  <div *ngFor="let group of equipmentListGroup; index as i">
    <!-- group start -->
    <div class="group group-open">
      <div class="group-title">{{ group.name }}</div>
    </div>
    <!-- group end -->

    <!-- sub group start -->

    <div class="sub">
      <div
        class="sub-parent"
        *ngFor="let item of group.value; index as j"
        (click)="onOpen(item.id)"
      >
        <div
          class="sub-item d-flex justify-content-between"
          [class]="item.id === isOpen ? 'mb-3' : ''"
        >
          <div class="sub-title">{{ item.name }}</div>
          <div class="d-flex align-items-center">
            <div class="sub-quantity me-4">Số lượng: {{ item.quantity }}</div>

            <ion-icon
              class="icon-more"
              [matMenuTriggerFor]="menu"
              (click)="$event.stopPropagation()"
              size="small"
              name="ellipsis-vertical"
            ></ion-icon>

            <mat-menu #menu="matMenu" class="custom-matMenu">
              <a mat-menu-item (click)="onDelete(item.id, i, j)">
                <mat-icon>delete_outline</mat-icon>
                <span>Xóa</span>
              </a>
              <a mat-menu-item (click)="onUpdate(item.id, i, j)">
                <mat-icon>create</mat-icon>
                <span>Cập nhật </span>
              </a>
            </mat-menu>
          </div>
        </div>

        <!-- description start -->
        <div
          class="description"
          (click)="$event.stopPropagation()"
          *ngIf="item.id === isOpen"
        >
          <div class="description-text">
            Mô tả: {{ item.description ? item.description : "Không" }}
          </div>
        </div>
        <!-- description end -->
      </div>
      <!-- sub eqiupment end -->
    </div>
    <!-- sub group end -->
  </div>
</div>
