:focus {
  outline: none !important;
}

button {
  font-weight: 500 !important;
  letter-spacing: 0.5px;
  // border-radius: 10rem !important;
}

.custom-btn {
  // padding: 10px 16px !important;
  color: #ffffff;
  font-size: 1rem !important;
  border-radius: 8px !important;
  line-height: 20px !important;
  font-weight: 500 !important;
}

.btn-save {
  width: 75px;
  height: 40px;
}

.btn-close {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.btn-gray {
  background: #6c757d !important;
  color: #fff !important;
}

button.alert-button {
  border-radius: 0 !important;
}
