.main-content {
  border-radius: 12px;
  background-color: #ffffff;
  letter-spacing: 0.5px;
  padding: 25px;
  background-clip: border-box;
  box-shadow: 1px 5px 24px 0 rgb(68 102 242 / 5%);
}

.main-content-header {
  margin-left: 15px;
  margin-bottom: 15px;

  span {
    font-size: 25px;
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
    letter-spacing: 0.05em;
  }
}

//custom  reusable detail  start
.detail-content {
  font-size: 16px;
}

.detail-label {
  font-weight: 500;
}

@media (min-width: 768px) {
  .main-content-header {
    margin-left: 8px;
    margin-bottom: 15px;
  }
}
