//--Custom mat form input

//border top
.mat-form-field-infix {
  border-top: 0 !important;
  height: 2.5rem;
}

.mat-select-arrow-wrapper {
  transform: translateY(0%) !important;
}

.mat-form-field-outline {
  border-radius: 8px;
  color: transparent !important;
  background-color: #f3f3f4;
  height: 100% !important;
}

.mat-input-element {
  caret-color: #0c0d22 !important;
}

.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  background-color: #ffeeee;
}

// color text error
.mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
  caret-color: #ff5555 !important;
}

.mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
  padding: 0 0.5em !important;
}

//color error
mat-error {
  margin-top: 0.8rem;
  color: #ff5555;
  font-size: 15px;
}

// search input

.search-input {
  .mat-form-field-outline {
    border-radius: 8px;
    color: transparent !important;
    background-color: #ffffff !important;
    height: 100% !important;
  }
}

.mat-form-field-wrapper {
  padding-bottom: 10px !important;
}
