.sc-ion-modal-ios-h {
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.4);
}

.modal-main {
  --background: white !important;
  --padding-top: 1rem !important;
  --padding-bottom: 1rem !important;
  --padding-start: 1rem !important;
  --padding-end: 1rem !important;
}

.from-history {
  // --background: white !important;
  --padding-top: 3.5rem !important;
  --padding-bottom: 1.5rem !important;
  --padding-start: 2rem !important;
  --padding-end: 2rem !important;
  // margin: 3.5rem 1.5rem 3rem !important;
  @media (max-width: 425px) {
    --background: white !important;
    --padding-top: 0rem !important;
    --padding-start: 1rem !important;
    --padding-end: 1rem !important;
  }
}
.not-from-history {
  --background: white !important;
  --padding-top: 1.5rem !important;
  --padding-bottom: 1.5rem !important;
  --padding-start: 1rem !important;
  --padding-end: 1rem !important;
  @media (max-width: 425px) {
    --padding-top: 0rem !important;
  }
}

@media (min-width: 768px) {
  .modal-main {
    --background: white !important;
    --padding-top: 1.5rem !important;
    --padding-bottom: 1.5rem !important;
    --padding-start: 1.5rem !important;
    --padding-end: 1.5rem !important;
  }

  //modal
  .modal-1 .modal-wrapper.sc-ion-modal-ios {
    --height: 10% !important;
    --width: 60% !important;
    --border-radius: 10px;
  }

  .modal-2 .modal-wrapper.sc-ion-modal-ios {
    --width: 60% !important;
    --height: 20% !important;
    --border-radius: 10px;
  }

  .modal-3 .modal-wrapper.sc-ion-modal-ios {
    --height: 30% !important;
    --width: 60% !important;
    --border-radius: 10px;
  }

  .modal-4 .modal-wrapper.sc-ion-modal-ios {
    --height: 40% !important;
    --width: 60% !important;
    --border-radius: 10px;
  }

  .modal-5 .modal-wrapper.sc-ion-modal-ios {
    --height: 50% !important;
    --width: 60% !important;
    --border-radius: 10px;
  }

  .modal-6 .modal-wrapper.sc-ion-modal-ios {
    --height: 60% !important;
    --width: 60% !important;
    --border-radius: 10px;
  }

  .modal-7 .modal-wrapper.sc-ion-modal-ios {
    --height: 70% !important;
    --width: 60% !important;
    --border-radius: 10px;
  }

  .modal-default-1 .modal-wrapper.sc-ion-modal-ios {
    --height: 10% !important;
  }
  .modal-default-2 .modal-wrapper.sc-ion-modal-ios {
    --height: 20% !important;
  }
  .modal-default-3 .modal-wrapper.sc-ion-modal-ios {
    --height: 30% !important;
  }
  .modal-default-4 .modal-wrapper.sc-ion-modal-ios {
    --height: 40% !important;
  }
  .modal-default-5 .modal-wrapper.sc-ion-modal-ios {
    --height: 50% !important;
  }
  .modal-default-6 .modal-wrapper.sc-ion-modal-ios {
    --height: 60% !important;
  }
  .modal-default-7 .modal-wrapper.sc-ion-modal-ios {
    --height: 70% !important;
  }
  .modal-default-8 .modal-wrapper.sc-ion-modal-ios {
    --height: 80% !important;
  }

  .modal-role .modal-wrapper.sc-ion-modal-ios {
    --height: 43rem !important;
    --border-radius: 10px;
  }

  //modal request start

  .modal-request .modal-wrapper.sc-ion-modal-ios {
    --height: 44rem !important;
    --width: 45%;
    --border-radius: 10px;
  }

  .modal-request-process .modal-wrapper.sc-ion-modal-ios {
    --height: 26rem !important;
    --border-radius: 10px;
  }

  //modal request end

  //modal staff start
  .modal-staff-create .modal-wrapper.sc-ion-modal-ios {
    --height: 43rem !important;
    --width: 60% !important;
    --border-radius: 10px;
  }

  .modal-staff-update .modal-wrapper.sc-ion-modal-ios {
    --height: 44rem !important;
    --width: 60% !important;
    --border-radius: 10px;
  }

  //modal staff end

  //modal department start
  .modal-department-create .modal-wrapper.sc-ion-modal-ios {
    --height: 32rem !important;
    --border-radius: 10px;
  }

  .modal-department-update .modal-wrapper.sc-ion-modal-ios {
    --height: 38rem !important;
    --border-radius: 10px;
  }
  //modal department end

  //modal notification start
  .modal-notification .modal-wrapper.sc-ion-modal-ios {
    --height: 35rem !important;
    --width: 50rem !important;

    --border-radius: 10px;
  }

  //modal notification end

  //modal event start
  .modal-event .modal-wrapper.sc-ion-modal-ios {
    --height: 43rem !important;
    --width: 55rem !important;
    --border-radius: 10px;
  }

  .modal-event-finish .modal-wrapper.sc-ion-modal-ios {
    --height: 31rem !important;
    --border-radius: 10px;
  }

  //modal event end

  //modal budget start
  .modal-budget .modal-wrapper.sc-ion-modal-ios {
    --height: 45rem !important;
    --border-radius: 10px;
  }

  //modal budget end

  //modal equipment start
  .modal-equipment .modal-wrapper.sc-ion-modal-ios {
    --height: 38rem !important;
    --border-radius: 10px;
  }

  //modal equipment end

  //modal category start
  .modal-category-create .modal-wrapper.sc-ion-modal-ios {
    --height: 22rem !important;
    --border-radius: 10px;
  }

  .modal-category-update .modal-wrapper.sc-ion-modal-ios {
    --height: 16rem !important;
    --border-radius: 10px;
  }
  //modal category end

  //modal attendance start
  .modal-attendance .modal-wrapper.sc-ion-modal-ios {
    --height: 28rem !important;
    --border-radius: 10px;
  }
  //modal attendance end

  //modal task start
  .modal-task .modal-wrapper.sc-ion-modal-ios {
    --height: 45rem !important;
    --width: 60% !important;
    --border-radius: 10px;
  }
  .modal-task-update .modal-wrapper.sc-ion-modal-ios {
    --height: 37rem !important;
    --border-radius: 10px;
  }
  //modal task end

  //modal payroll start
  .modal-payroll-create .modal-wrapper.sc-ion-modal-ios {
    --height: 34rem !important;
    --border-radius: 10px;
  }

  .modal-payroll-list-create .modal-wrapper.sc-ion-modal-ios {
    --height: 28rem !important;
    --border-radius: 10px;
  }
  //modal payroll end

  //modal salary start
  .modal-salary-create .modal-wrapper.sc-ion-modal-ios {
    --height: 21rem !important;
    --border-radius: 10px;
  }
  //modal salary end

  //modal change password start
  .modal-change-password .modal-wrapper.sc-ion-modal-ios {
    --height: 28rem !important;
    --border-radius: 10px;
  }
  //modal change password end

  //modal subsidy start
  .modal-subsidy .modal-wrapper.sc-ion-modal-ios {
    --height: 22rem !important;
    --border-radius: 10px;
  }

  .modal-subsidy-staff .modal-wrapper.sc-ion-modal-ios {
    --height: 16rem !important;
    --border-radius: 10px;
  }

  //modal subsidy end

  .modal-preview-user .modal-wrapper.sc-ion-modal-ios {
    --height: 27rem !important;
    --width: 40rem;
    --border-radius: 10px;
  }

  //modal user info start
  .modal-user-info .modal-wrapper.sc-ion-modal-ios {
    --height: 75% !important;
    --width: 50%;
    --border-radius: 10px;
  }
  //modal user info end

  //modal active account  start
  .modal-active-account .modal-wrapper.sc-ion-modal-ios {
    --height: 22rem !important;
    --border-radius: 10px;
  }
  //modal active account  start

  //modal select user  start
  .modal-select-user .modal-wrapper.sc-ion-modal-ios {
    --height: 45rem !important;
    --border-radius: 10px;
  }
  //modal select user  start
}
