.table {
  border: 1px solid #e8efff;

  th {
    font-size: 16px;
    font-weight: bold;
    color: #212529;
    padding: 15px !important;
  }
  td,
  th {
    height: 50px;
    vertical-align: middle;
  }
  td {
    padding: 10px 15px !important;
  }
  tr {
    outline: none;
    height: auto !important;
  }

  tbody {
    td {
      vertical-align: middle !important;
      border-bottom: none;
    }
  }
}

.table thead th {
  border-bottom: none !important;
  white-space: nowrap;
  border-bottom: 1px solid #e8efff !important;
}

.table-hover tbody tr td {
  transition: 200ms linear;
}

.table-hover tbody tr:hover td {
  background-color: #fafcfe !important;
}

.mat-cell,
.mat-footer-cell {
  font-size: 16px !important ;
}

.w-1 {
  min-width: 130px;
}

.w-2 {
  min-width: 150px;
}

.w-3 {
  min-width: 200px;
}
.w-4 {
  min-width: 350px;
}
.w-5 {
  min-width: 400px;
}
