.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 97;
}

ion-spinner {
  width: 40px;
  height: 40px;
  margin-bottom: 44px;
}

.p-abs {
  position: absolute;
}

.p-fix {
  position: fixed;
  top: 44px;
  width: 100%;
  height: calc(100% - 44px);
}

.p-fix-modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

.login-loading .p-fix {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}
