<ng-container *ngIf="show">
  <div
    [class]="isModal ? 'overlay p-abs p-fix-modal' : 'overlay p-abs p-fix'"
    style="background-color: rgba(255, 255, 255, 0.5)"
  >
    <div class="spinner">
      <ion-spinner color="primary" name="crescent"></ion-spinner>
    </div>
  </div>
</ng-container>
