<div class="d-md-none">
  <app-nav-bar-modal
    title="Sửa điểm danh"
    (onBackEvent)="onDismissModal()"
    (onActionEvent)="onSubmit()"
  ></app-nav-bar-modal>
</div>

<ion-content class="modal-main">
  <h2 class="d-none d-sm-block">Sửa điểm danh</h2>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="row mx-0 align-items-baseline">
      <div class="col-12 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Tên nhân viên <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <mat-select
            placeholder="Chọn nhân viên"
            msInfiniteScroll
            (infiniteScroll)="onLoadMoreUser()"
            formControlName="user"
            (closed)="onResetFilterUser()"
          >
            <ion-item-divider sticky class="custom-ion-divider border-0">
              <ion-searchbar
                padding-start="0"
                mode="md"
                class="custom-search p-0"
                placeholder="Tìm kiếm"
                [debounce]="300"
                showCancelButton="never"
                (ionChange)="onSearchUser($event)"
                (keydown)="$event.stopPropagation()"
                #searchbar
              ></ion-searchbar>
            </ion-item-divider>

            <mat-option
              class="h-option"
              *ngFor="let user of userList"
              [value]="{ id: user.id, attendances: user.attendances }"
            >
              <div class="d-flex align-items-center">
                <ion-avatar style="max-width: 2.3rem; max-height: 2.3rem">
                  <img
                    [src]="
                      user.avatar
                        ? user.avatar
                        : 'assets/images/default-avatar.png'
                    "
                    alt=""
                    style="width: 2.3rem; height: 2.3rem"
                  />
                </ion-avatar>

                <h3 class="mb-0 ms-2">
                  <span>{{ user.fullName }}</span>
                </h3>
              </div>
            </mat-option>
            <h3 class="m-0 p-3 text-secondary" *ngIf="!userList.length">
              Không tồn tại
            </h3>
          </mat-select>

          <mat-error
            *ngIf="user.invalid && (user.dirty || user.touched || f.submitted)"
          >
            <span *ngIf="user.errors?.required"
              >Tên nhân viên là trường bắt buộc</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Ngày điểm danh <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <input
            matInput
            placeholder="Chọn ngày điểm danh"
            [matDatepickerFilter]="rangeFilter"
            [matDatepicker]="dateCheckInMat"
            formControlName="checkInDateTime"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="dateCheckInMat"
          ></mat-datepicker-toggle>
          <mat-datepicker #dateCheckInMat></mat-datepicker>
          <mat-error
            *ngIf="
              checkInDateTime.invalid &&
              (checkInDateTime.dirty || checkInDateTime.touched || f.submitted)
            "
          >
            <span *ngIf="checkInDateTime.errors?.required"
              >Ngày điểm danh là trường bắt buộc</span
            >
            <span *ngIf="checkInDateTime.errors?.matDatepickerFilter"
              >Ngày điểm danh không hợp lệ</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Tan ca <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <mat-select formControlName="checkOut" placeholder="Chọn tan ca">
            <mat-option
              *ngFor="let checkOut of checkOutList"
              [value]="checkOut.value"
            >
              {{ checkOut.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-12 px-0 mt-3 mt-md-0 text-end">
        <ion-button
          fill="clear"
          class="custom-btn d-none d-md-inline-block text-secondary"
          type="button"
          (click)="onDismissModal()"
        >
          Hủy
        </ion-button>
        <ion-button
          color="primary"
          class="custom-btn d-block d-md-inline-block"
          [disabled]="clientState.isBusy || !createForm.dirty"
          type="submit"
        >
          Lưu
        </ion-button>
      </div>
    </div>
  </form>
</ion-content>
