<div class="d-none d-md-block">
  <app-nav-bar [title]="'Chi tiết chức vụ'"></app-nav-bar>
</div>

<app-nav-bar-custome class="d-md-none" [title]="'Chi tiết chức vụ'">
  <div start>
    <ion-button (click)="onBack()">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>
  </div>

  <div *ngIf="isManageRole" end>
    <table-icon
      (onUpdateEvent)="onUpdate()"
      (onDeleteEvent)="onDelete()"
      [isShowDetail]="false"
      [vercical]="false"
      [isShowDelete]="
        !(model.status == 0 || model.deleteEnable == false) ||
        (model.deleteEnable == undefined && isManageRole)
      "
    >
    </table-icon>
  </div>
</app-nav-bar-custome>

<ion-content>
  <ion-fab
    *ngIf="isManageRole && model.status == 1"
    class="d-md-none"
    vertical="bottom"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button class="custom-fab" (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="m-content-0 m-md-content m-mobile-content">
    <div class="d-none d-md-block p-md-0">
      <reusable-detail-icon
        [goBackUrl]="'/role/list'"
        (onUpdateEvent)="onUpdate()"
        [deleteUrl]="deleteUrl"
        [deleteParam]="'id'"
        [id]="id"
        [deleteMsg]="'Bạn có chắc muốn xóa chức vụ này?'"
        [deleteSuccessMsg]="'Xoá chức vụ thành công'"
        [isShowDelete]="
          !(model.status == 0 || model.deleteEnable == false) ||
          (model.deleteEnable == undefined && isManageRole)
        "
        [isShowUpdate]="isManageRole"
      >
      </reusable-detail-icon>
    </div>
    <!-- btn end  -->
    <div class="mt-4 mt-md-2 p-md-0">
      <div class="d-none d-md-block main-content-header">
        <span>Chi tiết chức vụ</span>
      </div>

      <reusable-detail-main
        [labels]="['Tên chức vụ', 'Loại nhân viên', 'Trạng thái', 'Mô tả']"
        [data]="[
          model.name,
          model.level == 0
            ? 'Nhân viên thường'
            : model.level == 1
            ? 'Trưởng nhóm'
            : 'Nhân viên quản lý',
          model.status == 0 ? 'Không hoạt động' : 'Hoạt động',

          model.description
        ]"
      >
        <div *ngIf="isManageRole" class="row mx-0">
          <div class="col-lg-2">
            <label class="detail-label my-2">Phân quyền</label>
          </div>
          <div class="col-lg-10">
            <p
              *ngIf="!features.length"
              class="detail-content text-secondary my-2"
            >
              Mặc định
            </p>

            <div *ngFor="let feature of features">
              <h3 class="m-0">{{ feature.name }}</h3>
              <p
                class="detail-content text-secondary my-2"
                *ngFor="let sub of feature.value"
              >
                {{ sub.name }}
              </p>
            </div>
          </div>
        </div>
      </reusable-detail-main>
    </div>

    <div class="my-2">
      <table-filter>
        <form [formGroup]="searchForm" (ngSubmit)="onFilter()">
          <div class="row mx-0 align-items-baseline">
            <div class="col-12">
              <mat-form-field class="w-100 search-input" appearance="outline">
                <mat-icon matPrefix>search</mat-icon>

                <input
                  placeholder="Tên nhân viên"
                  matInput
                  formControlName="textSearch"
                />
              </mat-form-field>
            </div>

            <div class="w-100 d-flex justify-content-end mb-2">
              <ion-button
                fill="clear"
                class="custom-btn text-secondary"
                (click)="onResetFilter()"
                type="button"
              >
                Xóa bộ lọc
              </ion-button>
              <ion-button color="primary" class="custom-btn mx-2" type="submit">
                Tìm kiếm
              </ion-button>
            </div>
          </div>
        </form>
      </table-filter>
    </div>

    <div class="d-none">
      <app-table-display-columns
        [tableName]="'role-detail'"
        [baseColumns]="displayedColumns"
        [showColumns]="showColumns"
        (onColumnsChange)="showColumns = $event"
      >
      </app-table-display-columns>
    </div>

    <!-- list user start -->
    <div class="mt-2 p-md-0">
      <div class="main-content d-none d-md-block">
        <div class="main-content-header mb-4">
          <span>Danh sách nhân viên</span>
        </div>

        <div
          *ngIf="model.status == 1 && isManageRole"
          class="d-none d-md-flex px-0 justify-content-end"
        >
          <button
            class="me-2 me-md-0"
            mat-icon-button
            matTooltip="Thêm mới"
            #tooltip="matTooltip"
            (mousedown)="tooltip.hide()"
            onclick="this.blur()"
            (click)="presentModal()"
          >
            <mat-icon class="custom-mat-icon">add</mat-icon>
          </button>
        </div>

        <div class="overflow-auto custom-table">
          <table
            mat-table
            [dataSource]="dataSource"
            class="table table-striped table-hover"
          >
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef style="min-width: 270px">
                Tên nhân viên
              </th>
              <td mat-cell *matCellDef="let element">
                <div class="d-flex align-items-center">
                  <ion-avatar style="max-width: 2.3rem; max-height: 2.3rem">
                    <img
                      [src]="
                        element.avatar
                          ? element.avatar
                          : 'assets/images/default-avatar.png'
                      "
                      alt=""
                      style="width: 2.3rem; height: 2.3rem"
                    />
                  </ion-avatar>

                  <h3 class="mb-0 ms-2" style="line-height: 1.2rem">
                    <span>{{ element.fullName }}</span>
                    <br />
                    <span style="font-size: 15px; color: lightslategray">{{
                      element.role.name
                    }}</span>
                  </h3>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef style="min-width: 120px">
                Số điện thoại
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.phone }}
              </td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef style="min-width: 120px">
                Email
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.email ? element.email : "---" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="department">
              <th mat-header-cell *matHeaderCellDef style="min-width: 120px">
                Phòng ban
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.department?.name }}
              </td>
            </ng-container>

            <ng-container matColumnDef="noData">
              <td
                mat-footer-cell
                *matFooterCellDef
                [attr.colspan]="displayedColumns.length"
                class="text-center"
                style="background-color: rgba(90, 86, 86, 0.23)"
              >
                Không tồn tại thành viên với chức vụ.
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="showColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: showColumns"
              class="cursor-pointer"
              (click)="onPresentPreviewUser(row.id)"
            ></tr>

            <tr
              mat-footer-row
              *matFooterRowDef="['noData']"
              [ngClass]="{
                'd-none': !(dataSource != null && dataSource.data.length == 0)
              }"
            ></tr>
          </table>
        </div>

        <mat-paginator
          [pageSizeOptions]="pageSizeList"
          [pageSize]="filter.PageSize"
          [length]="pagingModel.totalRecord"
          class="text-md"
          (page)="pageChange($event)"
        ></mat-paginator>
      </div>
    </div>
  </div>

  <div class="mb-mobile d-md-none">
    <div *ngIf="!this.dataSource.data.length" class="mt-5 text-center">
      <img src="assets/images/empty_state.png" alt="empty-data" />
      <h2>Không tồn tại bản ghi</h2>
    </div>

    <ion-card
      *ngFor="let item of dataSource.data"
      class="mt-2 mb-2 animated fadeIn fast"
    >
      <ion-item (click)="onPresentPreviewUser(item.id)" class="pt-2 pb-2">
        <ion-avatar slot="start">
          <img
            class="h-100"
            style="vertical-align: top"
            [src]="
              item.avatar
                ? item.avatar
                : '../../../../assets/images/default-avatar.png'
            "
          />
        </ion-avatar>
        <ion-label>
          <div class="d-flex flex-column">
            <h3 class="m-0">{{ item.fullName }}</h3>
            <p>{{ item.department.name }}</p>
          </div>
        </ion-label>
        <ion-icon
          name="chevron-forward-outline"
          size="small"
          slot="end"
        ></ion-icon>
      </ion-item>
    </ion-card>

    <ion-infinite-scroll threshold="15%" (ionInfinite)="loadMoreData($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>

<app-loading [show]="clientState.isBusy"></app-loading>
