.mat-progress-bar.mat-accent .mat-progress-bar-fill::after {
  background-color: #3f51b5;
}

app-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  z-index: 99998;

  mat-progress-bar {
    height: 2px !important;
    .mat-progress-bar-buffer {
      background-color: #c5c6cb !important;
    }
  }
}
