.title {
  display: flex;
  align-items: center;

  &-icon {
    font-size: 2rem;
    margin-right: 0.7rem;
  }

  &-text {
    font-size: 25px;
    font-weight: 500;
    line-height: 2rem;
    @media (max-width: 475px) {
      font-size: 20px;
    }
  }
}

.chip-staff {
  margin: 0;
  font-size: 16px;
  padding: 10px;
}

.mat-optgroup .mat-option:not(.mat-option-multiple) {
  padding-left: 16px !important;
}

.title-sub {
  font-weight: 500;
  min-width: 95px;
}

.title-status {
  color: gray;
}
.text-gray {
  color: gray;
  @media (max-width: 475px) {
    font-size: 14px;
  }
}
.sub-tasks {
  .sub-tasks-title {
    font-size: 18px;
    font-weight: 600;
    ion-icon {
      margin-right: 1rem;
    }
  }
}
.files {
  .file-title {
    font-size: 18px;
    font-weight: 600;
    ion-icon {
      margin-right: 1rem;
    }
  }
  .file {
    background-color: #f4f5f7;
    border-radius: 16px;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    width: 25%;
    .link-file {
      color: black;
      width: 100%;
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.comment {
  .comment-title {
    font-size: 18px;
    font-weight: 600;
  }
  .comment-write-box {
    width: 100%;
  }
  .comment-content-detail-text {
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    background-color: white;
  }
  .link-file {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: #f4f5f7;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.actions {
  .action-detail {
    border-radius: 3rem;
  }
}
.priority-selected {
  font-weight: 600;
}
.priority-noselecte {
  font-weight: 300;
}
::ng-deep .members-menu.mat-menu-panel {
  max-height: 200px !important;
  min-width: 250px !important;
}
::ng-deep .status-menu.mat-menu-panel {
  max-height: 200px !important;
  min-width: 200px !important;
}

::ng-deep .staff-select div.mat-select-arrow-wrapper {
  display: none;
}

::ng-deep .staff-select.mat-select {
  display: inline;
}
// ion-content {
//   --padding-start: 1rem !important;
//   --padding-end: 1rem !important;
//   @media (max-width: 425px) {
//     --padding-top: 0rem !important;
//   }
// }
ion-icon.comment-icons {
  font-size: 20px !important;
}
.file-comment {
  background-color: #f4f5f7;
  border-radius: 10px;
  padding: 0.5rem;
  margin-top: 0.5rem;
  .file-name {
    width: 90%;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.comment-content-detail-fullname {
  max-width: 50%;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pointer {
  cursor: pointer;
}
.border-button {
  border-color: #ced4da;
}

.chat-txt {
  float: left;
  width: 100%;
  margin-right: 5px;
}
.disable {
  pointer-events: none;
}
.position-absolute {
  right: 0rem;
}
ion-badge {
  width: auto;
  min-width: 7.5rem;
}
.staff {
  ion-badge {
    min-width: 12rem;
    display: flex;
    align-items: center;
    padding: 3px;
  }
}
// chat
.chat-area {
  display: flex;
  flex-direction: column;
}

.chat-msg-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.btn-delete-msg {
  font-size: 26px;
}

.box-empty {
  margin-right: 40px;
}

.pt-message {
  padding-top: 10px !important;
}

.chat-msg {
  display: flex;
  padding: 35px 0 0;
  &-content {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &-text {
    line-height: 1.5;
    & + & {
      margin-top: 10px;
    }
  }
}

.chat-msg-content {
  background-color: white;
  padding: 15px;
  border-radius: 12px;
}
.chat-msg-text {
  word-break: break-word;
}

.chat-msg-text img {
  max-width: 300px;
  width: 100%;
}

//chat input
.chat-input {
  display: flex;
  // border-bottom: 1px solid #eef2f4;
  width: 100%;
  padding: 10px 0;
  align-items: center;
  position: sticky;
  bottom: 0;
  left: 0;
}

.chat-input svg {
  color: grey;
  width: 20px;
  flex-shrink: 0;
  cursor: pointer;

  & + svg {
    margin-left: 12px;
  }
}

.chat-input input {
  border: none;
  background-color: white;
  padding: 12px;
  border-radius: 6px;
  font-size: 15px;
  margin: 0 12px;
  width: 100%;
}
