<app-nav-bar-custome [title]="'Công việc'" class="d-md-none">
  <div start>
    <ion-button (click)="onGoBack()">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>
  </div>
</app-nav-bar-custome>

<div class="d-none d-md-block" *ngIf="!isHome">
  <app-nav-bar [title]="'Chi tiết công việc'"></app-nav-bar>
</div>

<ion-content>
  <div
    class="bg-white mx-md-3"
    [class]="isHome ? 'mt-md-3' : 'mt-md-5'"
    style="padding: 20px; border-radius: 12px"
  >
    <div
      class="d-flex justify-content-end p-md-0 align-items-center"
      *ngIf="!isHome"
    >
      <reusable-detail-icon
        (onUpdateEvent)="updateTask()"
        [deleteUrl]="deleteUrl"
        [deleteParam]="'id'"
        [id]="task.id"
        [deleteMsg]="'Bạn có chắc muốn xóa công việc này?'"
        [deleteSuccessMsg]="'Xoá công vi thành công'"
        [isShowDelete]="task.status == 2 && isManagerTask"
        [isShowUpdate]="task.status == 2 && isManagerTask"
        [isShowBack]="false"
      >
      </reusable-detail-icon>
      <button
        *ngIf="isManagerTask"
        mat-icon-button
        matTooltip="Sao chép"
        class="me-2"
        #tooltipUpdate="matTooltip"
        (mousedown)="tooltipUpdate.hide()"
        onclick="this.blur()"
        (click)="copyTask()"
      >
        <mat-icon class="custom-mat-icon" color="primary">file_copy</mat-icon>
      </button>
      <ion-button
        color="primary"
        (click)="selectStatus(1)"
        *ngIf="task.status === 2 && (userId == task.staffId || isManagerTask)"
      >
        Kết thúc công việc
      </ion-button>
    </div>

    <div class="title mb-2">
      <span class="title-text">{{ task.name }}</span>
    </div>

    <div class="d-flex flex-column">
      <div class="d-flex align-items-center mb-3">
        <span class="me-2 title-sub">Trạng thái</span>

        <ion-badge
          [matMenuTriggerFor]="status"
          [class]="isManagerTask ? 'cursor-pointer' : ''"
          color="{{
            task.status == 0
              ? 'danger'
              : task.status == 1
              ? 'success'
              : 'primary'
          }}"
        >
          {{
            task.status == 0
              ? "Huỷ"
              : task.status == "1"
              ? "Hoàn thành"
              : "Đang xử lý"
          }}
        </ion-badge>
        <mat-menu
          #status="matMenu"
          [class]="
            task.status !== 2 || (userId != task.staffId && !isManagerTask)
              ? 'd-none'
              : 'status-menu'
          "
        >
          <button mat-menu-item class="text-center" (click)="selectStatus(2)">
            <span
              [class]="task.status === 2 ? 'status-selected text-primary' : ''"
              >Đang xử lý</span
            >
          </button>
          <button mat-menu-item class="text-center" (click)="selectStatus(1)">
            <span
              [class]="task.status === 1 ? 'status-selected text-success' : ''"
              >Hoàn thành</span
            >
          </button>
          <button
            mat-menu-item
            class="text-center"
            (click)="selectStatus(0)"
            *ngIf="isManagerTask"
          >
            <span
              [class]="task.status === 0 ? 'status-selected text-danger' : ''"
              >Huỷ</span
            >
          </button>
        </mat-menu>
      </div>
      <div
        class="d-flex align-items-center mb-3"
        [ngClass]="isManagerTask ? '' : 'disable'"
      >
        <span class="me-2 title-sub">Độ ưu tiên</span>
        <ion-badge
          [matMenuTriggerFor]="priority"
          [class]="isManagerTask ? 'cursor-pointer' : ''"
          color="{{
            task.priority == 0
              ? 'primary'
              : task.priority == 1
              ? 'warning'
              : 'danger'
          }}"
        >
          {{
            task.priority == 0
              ? "Thấp"
              : task.priority == "1"
              ? "Trung bình"
              : "Cao"
          }}
        </ion-badge>
        <mat-menu
          #priority="matMenu"
          [class]="
            task.status !== 2 && (userId != task.staffId || !isManagerTask)
              ? 'd-none'
              : 'status-menu'
          "
        >
          <button mat-menu-item class="text-center" (click)="selectPriority(2)">
            <span
              [class]="
                task.priority === 2
                  ? ' priority-selected'
                  : 'priority-noselecte'
              "
              >Cao</span
            >
          </button>
          <button mat-menu-item class="text-center" (click)="selectPriority(1)">
            <span
              [class]="
                task.priority === 1
                  ? ' priority-selected'
                  : 'priority-noselecte'
              "
              >Trung bình</span
            >
          </button>
          <button mat-menu-item class="text-center" (click)="selectPriority(0)">
            <span
              [class]="
                task.priority === 0 ? 'priority-selected' : 'priority-noselecte'
              "
              >Thấp</span
            >
          </button>
        </mat-menu>
      </div>
    </div>

    <div
      class="mb-2 d-flex align-items-center"
      (click)="task.departmentId || task.staffId ? '' : selectDepartment.open()"
    >
      <span class="me-2 title-sub">Phòng ban </span>
      <ion-badge
        [class]="task.departmentName ? 'cursor-default' : 'cursor-pointer'"
        class="font-16"
        [color]="task.departmentName ? 'primary' : 'medium'"
      >
        {{ task.departmentName ? task.departmentName : "Không" }}
      </ion-badge>

      <mat-select
        [attr.disabled]="!isManagerTask"
        [formControl]="departments"
        class="staff-select"
        #selectDepartment
      >
        <mat-select-filter
          placeholder="Tìm kiếm"
          [array]="departmentList"
          displayMember="name"
          (filteredReturn)="departmentGroups = $event"
        ></mat-select-filter>
        <mat-option
          [value]="group"
          *ngFor="let group of departmentGroups"
          color="accent"
        >
          {{ group.name }}
        </mat-option>
      </mat-select>
    </div>

    <div
      class="d-flex align-items-center flex-wrap cursor-pointer mb-1 staff"
      (click)="
        task.status == 2 && (userId == task.staffId || roleLevel != 0)
          ? selectStaff.open()
          : task.status == 2 && roleLevel == 0
          ? getTask()
          : ''
      "
    >
      <span class="me-2 title-sub">Người xử lý </span>
      <ion-badge
        *ngIf="!task.staffName && roleLevel != 0"
        style="justify-content: center !important"
        >Chưa có người xử lý</ion-badge
      >
      <ion-badge
        *ngIf="!task.staffName && roleLevel == 0"
        style="justify-content: center !important"
        >Nhận công việc</ion-badge
      >

      <ion-badge *ngIf="task.staffName" class="chip-staff px-2">
        <ion-avatar style="max-width: 2rem; max-height: 2rem">
          <img
            [src]="
              task.staffAvatar
                ? task.staffAvatar
                : 'assets/images/default-avatar.png'
            "
            alt=""
            style="width: 2rem; height: 2rem"
          />
        </ion-avatar>
        <span class="ms-2">{{ task.staffName }}</span>
      </ion-badge>

      <mat-select
        msInfiniteScroll
        (infiniteScroll)="onLoadMoreData()"
        [formControl]="users"
        class="staff-select"
        #selectStaff
        (closed)="onResetFilter()"
      >
        <ion-item-divider sticky class="custom-ion-divider border-0">
          <ion-searchbar
            padding-start="0"
            mode="md"
            class="custom-search-select custom-search p-0"
            placeholder="Tìm kiếm"
            [debounce]="300"
            showCancelButton="never"
            (ionChange)="onSearch($event)"
            (keydown)="$event.stopPropagation()"
            #searchbar
          ></ion-searchbar>
        </ion-item-divider>
        <mat-optgroup
          *ngFor="let group of staffList"
          [label]="group.departmentName"
        >
          <mat-option
            *ngFor="let sub of group.users"
            [value]="sub"
            color="accent"
          >
            <div class="d-flex align-items-center">
              <ion-avatar style="width: 2.3rem; height: 2.3rem">
                <img
                  [src]="
                    sub.avatar ? sub.avatar : 'assets/images/default-avatar.png'
                  "
                  alt="avatar"
                  style="width: 2.3rem; height: 2.3rem"
                />
              </ion-avatar>

              <h3 class="mb-0 ms-2 flex-wrap">
                <span>{{ sub.fullname }}</span>
              </h3>
            </div>
          </mat-option>
        </mat-optgroup>
        <mat-option class="m-0 p-3 text-secondary" *ngIf="!staffList.length">
          Không có nhân viên
        </mat-option>
      </mat-select>
    </div>

    <div class="mb-4 d-flex" *ngIf="task.eventName">
      <span class="me-2 title-sub">Sự kiện </span
      ><span>{{ task.eventName }}</span>
    </div>

    <div class="mb-4 d-flex">
      <span class="me-2 title-sub">Hạn chót </span>
      <span>{{ task.deadline | date: "H:mm dd/MM/yyyy" }}</span>
    </div>

    <div class="mb-4 d-flex">
      <span class="me-2 title-sub">Mô tả </span>
      <span>{{ task.description ? task.description : "Không" }}</span>
    </div>
    <div class="mb-2 d-flex" *ngIf="task.equipments?.lenght">
      <span class="me-2 title-sub">Trang thiết bị </span>
      <div class="flex-grow">
        <div *ngFor="let item of task.equipments">
          <span>{{ item.name }} - {{ item.quantity }}</span>
        </div>
      </div>
    </div>
  </div>
  <div
    class="my-4 d-flex flex-column sub-tasks mx-3"
    *ngIf="task.subTasks?.length"
  >
    <div (click)="showSubTasks = !showSubTasks" class="sub-tasks-title pointer">
      <span class="title-sub" style="font-size: 18px; font-weight: 600"
        >Chi tiết công việc
      </span>
      <mat-icon class="text-secondary">{{
        showSubTasks ? "arrow_drop_up" : "arrow_drop_down"
      }}</mat-icon>
    </div>
    <div
      class="my-3 flex-grow bg-white"
      style="border-radius: 20px; padding: 20px"
      *ngIf="showSubTasks"
    >
      <div *ngFor="let item of task.subTasks; index as i">
        <mat-checkbox
          class="example-margin"
          [checked]="item.status"
          color="primary"
          (change)="changeSubTask($event, i)"
          [disabled]="userId != task.staffId"
        >
          {{ item.name }}
        </mat-checkbox>
      </div>
    </div>
  </div>

  <div
    *ngIf="files.length"
    class="files d-flex flex-column my-4 mx-3"
    [ngClass]="files.length ? 'pointer' : ''"
  >
    <div
      class="file-title d-flex align-items-center"
      style="font-size: 18px; font-weight: 600"
      (click)="changeShowFiles()"
    >
      <span class="me-2">Tệp tin</span>
      <mat-icon class="text-secondary me-2">{{
        showFiles ? "arrow_drop_up" : "arrow_drop_down"
      }}</mat-icon>
    </div>
    <div
      class="file-show d-flex flex-wrap mt-3 w-100 bg-white"
      *ngIf="showFiles"
      style="border-radius: 20px; padding: 20px"
    >
      <div *ngFor="let fileComment of files" class="file mx-3 pointer">
        <div
          (click)="goFile(fileComment.fileURL)"
          target="_blank"
          class="link-file"
        >
          {{ fileComment.fileName }}
        </div>
      </div>
    </div>
  </div>

  <div class="comment my-4 mx-3">
    <div
      class="comment-title d-flex align-items-center pointer mb-3"
      (click)="showComment = !showComment"
    >
      <span>Bình luận</span>
      <mat-icon class="text-secondary me-2">{{
        showComment ? "arrow_drop_up" : "arrow_drop_down"
      }}</mat-icon>
    </div>

    <div class="chat-area-main" *ngIf="showComment">
      <div *ngFor="let comment of comments; index as i">
        <div class="chat-msg pt-message w-100">
          <div class="chat-msg-profile">
            <img
              class="chat-msg-img"
              [src]="
                comment.creatorAvatar
                  ? comment.creatorAvatar
                  : '../../../../assets/images/default-avatar.png'
              "
              alt="avatar"
            />
          </div>

          <div class="chat-msg-content d-flex flex-column" style="width: 90%">
            <div class="d-flex justify-content-between w-100">
              <div>
                <span class="text-dark" style="font-weight: 500"
                  >{{ comment.creator }}
                </span>
                <span class="text-secondary">{{
                  comment.createdDate | date: "H:mm dd/MM/yyyy"
                }}</span>
              </div>
              <!-- delelte button start -->
              <ion-icon
                class="btn-delete-msg cursor-pointer text-secondary"
                *ngIf="
                  (comment.createdDate | fiveminutes) &&
                  userId == comment.creatorId
                "
                name="close-outline"
                (click)="deleteComment(comment)"
              ></ion-icon>
              <!-- delelte button start -->
            </div>
            <div *ngIf="comment.content != 'null'" class="chat-msg-text w-100">
              {{ comment.content }}
            </div>
            <div
              (click)="goFile(comment.files[0].fileURL)"
              target="_blank"
              class="
                link-file
                col-8 col-md-4
                pointer
                d-flex
                justify-content-between
                align-items-center
              "
              *ngIf="comment.files[0]"
            >
              {{ comment.files[0].fileName }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- chat start -->
    <div class="chat-area" *ngIf="showComment">
      <!-- input start -->
      <form
        class="chat-input"
        [formGroup]="formComment"
        (ngSubmit)="sendMessage($event)"
      >
        <ion-button
          fill="clear"
          (click)="inputFiles.click()"
          [disabled]="task.status != 2"
          style="width: 36px !important"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-paperclip"
          >
            <path
              d="M21.44 11.05l-9.19 9.19a6 6 0 01-8.49-8.49l9.19-9.19a4 4 0 015.66 5.66l-9.2 9.19a2 2 0 01-2.83-2.83l8.49-8.48"
            />
          </svg>
        </ion-button>
        <input
          type="text"
          formControlName="content"
          placeholder="Nhập bình luận..."
        />
        <ion-button
          type="submit"
          fill="clear"
          (click)="sendMessage($event)"
          *ngIf="!isLoading"
          style="width: 25px !important"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.001 512.001">
            <path
              d="M507.608,4.395c-4.243-4.244-10.609-5.549-16.177-3.321L9.43,193.872c-5.515,2.206-9.208,7.458-9.42,13.395
        c-0.211,5.936,3.101,11.437,8.445,14.029l190.068,92.181l92.182,190.068c2.514,5.184,7.764,8.455,13.493,8.455
        c0.178,0,0.357-0.003,0.536-0.01c5.935-0.211,11.189-3.904,13.394-9.419l192.8-481.998
        C513.156,15.001,511.851,8.638,507.608,4.395z M52.094,209.118L434.72,56.069L206.691,284.096L52.094,209.118z M302.883,459.907
        l-74.979-154.599l228.03-228.027L302.883,459.907z"
            />
          </svg>
        </ion-button>
        <ion-spinner
          name="crescent"
          *ngIf="isLoading"
          style="width: 25px; height: 25px"
        ></ion-spinner>
      </form>

      <input
        type="file"
        #inputFiles
        [formControl]="fileControl"
        [hidden]="true"
        (change)="changeInputFile($event)"
      />
      <div
        class="
          file-comment
          pointer
          d-flex
          w-25
          justify-content-between
          align-items-center
        "
        *ngIf="fileNameChoice"
      >
        <div class="file-name">{{ fileNameChoice }}</div>
        <ion-icon
          name="close-circle-outline"
          (click)="removeFile(); $event.stopPropagation()"
        >
        </ion-icon>
      </div>
    </div>
    <!-- input end -->
  </div>
</ion-content>
