<app-nav-bar-modal
  class="d-sm-none"
  title="Tạo/Thay đổi lương"
  (onBackEvent)="onDismissModal()"
  (onActionEvent)="onSubmit()"
></app-nav-bar-modal>

<ion-content class="modal-main">
  <h2 class="d-none d-sm-block">Thêm mới</h2>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="row mx-0 align-items-baseline">
      <div class="col-12 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Nhân viên <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <mat-select
            placeholder="Chọn nhân viên"
            msInfiniteScroll
            (infiniteScroll)="onLoadMoreDataUser()"
            formControlName="userId"
            (closed)="onResetFilterUser()"
          >
            <ion-item-divider sticky class="custom-ion-divider border-0">
              <ion-searchbar
                padding-start="0"
                mode="md"
                class="custom-search-select custom-search p-0"
                placeholder="Tìm kiếm"
                [debounce]="300"
                showCancelButton="never"
                (ionChange)="loadUser($event)"
                (keydown)="$event.stopPropagation()"
                #searchbar
              ></ion-searchbar>
            </ion-item-divider>
            <mat-optgroup
              *ngFor="let group of departmentUserList"
              [label]="group.departmentName"
            >
              <mat-option
                *ngFor="let sub of group.users"
                [value]="sub.id"
                color="accent"
              >
                <div class="d-flex align-items-center">
                  <ion-avatar style="max-width: 2.3rem; max-height: 2.3rem">
                    <img
                      [src]="
                        sub.avatar
                          ? sub.avatar
                          : 'assets/images/default-avatar.png'
                      "
                      alt=""
                      style="width: 2.3rem; height: 2.3rem"
                    />
                  </ion-avatar>

                  <h3 class="mb-0 ms-2">
                    <span>{{ sub.fullname }}</span>
                  </h3>
                </div>
              </mat-option>
            </mat-optgroup>
            <h3
              class="m-0 p-3 text-secondary"
              *ngIf="!departmentUserList.length"
            >
              Không tồn tại
            </h3>
          </mat-select>

          <mat-error
            *ngIf="
              userId.invalid && (userId.dirty || userId.touched || f.submitted)
            "
          >
            <span *ngIf="userId.errors?.required"
              >Mức lương là trường bắt buộc</span
            >
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Mức lương <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <input
            placeholder="Nhập mức lương"
            decimalFormat
            formControlName="value"
            matInput
          />
          <mat-error
            *ngIf="
              value.invalid && (value.dirty || value.touched || f.submitted)
            "
          >
            <span *ngIf="value.errors?.required"
              >Mức lương là trường bắt buộc</span
            >
            <span *ngIf="value.errors?.lessThanZero"
              >Mức lương phải lớn hơn 0</span
            >
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Loại nhân viên <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <mat-select formControlName="type">
            <mat-option [value]="1">Chính thức</mat-option>
            <mat-option [value]="2">Bán thời gian</mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              typeControl.invalid &&
              (typeControl.dirty || typeControl.touched || f.submitted)
            "
          >
            <span *ngIf="typeControl.errors?.required"
              >Loại nhân viên là trường bắt buộc</span
            >
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- button save -->
    <div class="col-12 px-0 mt-3 mt-md-0 text-end">
      <ion-button
        fill="clear"
        class="custom-btn d-none d-md-inline-block text-secondary"
        type="button"
        (click)="onDismissModal()"
      >
        Hủy
      </ion-button>
      <ion-button
        color="primary"
        class="custom-btn d-block d-md-inline-block"
        [disabled]="clientState.isBusy || !createForm.dirty"
        type="submit"
      >
        Lưu
      </ion-button>
    </div>
  </form>
</ion-content>
