<app-nav-bar
  title="Danh sách sự kiện"
  [isSearch]="true"
  (onSearchEvent)="onFilter($event)"
>
</app-nav-bar>

<ion-content>
  <ion-refresher
    *ngIf="isMobile"
    slot="fixed"
    style="margin-top: 4rem; z-index: 999 !important"
    (ionRefresh)="doRefresh($event)"
  >
    <ion-refresher-content refreshingSpinner="bubbles"></ion-refresher-content>
  </ion-refresher>

  <div class="m-content">
    <table-filter>
      <div class="my-2 p-2 p-md-0">
        <form [formGroup]="searchForm" (ngSubmit)="onFilter()">
          <div class="row mx-0 align-items-baseline">
            <div class="d-none d-md-block col-md-6">
              <mat-form-field class="w-100 search-input" appearance="outline">
                <mat-icon matPrefix>search</mat-icon>

                <input
                  placeholder="Tên sự kiện"
                  matInput
                  formControlName="textSearch"
                />
              </mat-form-field>
            </div>

            <div class="col-md-6 mb-2">
              <mat-form-field class="w-100 search-input" appearance="outline">
                <mat-icon matPrefix>search</mat-icon>

                <mat-select
                  formControlName="StatusFilter"
                  placeholder="Trạng thái"
                >
                  <mat-option
                    *ngFor="let status of status"
                    [value]="status.value"
                  >
                    {{ status.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-6 mb-2">
              <mat-form-field class="w-100 search-input" appearance="outline">
                <mat-icon matPrefix>search</mat-icon>

                <input
                  placeholder="Từ ngày"
                  matInput
                  [matDatepicker]="dateStartMat"
                  formControlName="startDateFilterValue"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="dateStartMat"
                ></mat-datepicker-toggle>
                <mat-datepicker #dateStartMat></mat-datepicker>
                <mat-error
                  *ngIf="
                    searchForm.hasError(
                      'matDatepickerParse',
                      'startDateFilterValue'
                    )
                  "
                >
                  <span>Ngày không hợp lệ</span>
                </mat-error>
                <mat-error
                  *ngIf="
                    searchForm.hasError(
                      'startDateLessThanEndDate',
                      'startDateFilterValue'
                    )
                  "
                >
                  <span>Ngày kết thúc không được nhỏ hơn ngày bắt đầu</span>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-6 mb-2">
              <mat-form-field class="w-100 search-input" appearance="outline">
                <mat-icon matPrefix>search</mat-icon>

                <input
                  placeholder="Đến ngày"
                  matInput
                  [matDatepicker]="dateEndMat"
                  formControlName="endDateFilterValue"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="dateEndMat"
                ></mat-datepicker-toggle>
                <mat-datepicker #dateEndMat></mat-datepicker>
                <mat-error
                  *ngIf="
                    searchForm.hasError(
                      'matDatepickerParse',
                      'endDateFilterValue'
                    )
                  "
                >
                  <span>Ngày không hợp lệ</span>
                </mat-error>

                <mat-error
                  *ngIf="
                    searchForm.hasError(
                      'endDateLessThanStartDate',
                      'endDateFilterValue'
                    )
                  "
                >
                  <span>Ngày kết thúc không được nhỏ hơn ngày bắt đầu</span>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="w-100 d-flex justify-content-end mb-2">
              <ion-button
                fill="clear"
                class="custom-btn text-secondary"
                (click)="onResetFilter()"
                type="button"
              >
                Xóa bộ lọc
              </ion-button>
              <ion-button color="primary" class="custom-btn mx-2" type="submit">
                Tìm kiếm
              </ion-button>
            </div>
          </div>
        </form>
      </div>
    </table-filter>

    <div class="mt-2 d-none d-md-block">
      <div class="main-content">
        <div class="main-content-header">
          <span class="content-header-text">Danh sách điểm danh</span>
        </div>

        <div class="mt-5 d-none d-md-flex justify-content-end">
          <app-table-display-columns
            [tableName]="'attendance-manage'"
            [baseColumns]="displayedColumns"
            [showColumns]="showColumns"
            (onColumnsChange)="showColumns = $event"
          >
          </app-table-display-columns>
        </div>

        <div class="overflow-auto custom-table">
          <table
            mat-table
            [dataSource]="dataSource"
            class="table table-striped table-hover"
          >
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef class="w-3">Tên sự kiện</th>
              <td mat-cell *matCellDef="let element">
                {{ element.name }}
              </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef class="w-3">Trạng thái</th>
              <td mat-cell *matCellDef="let element">
                <ion-badge
                  color="{{
                    element.status == 0
                      ? 'danger'
                      : element.status == 1
                      ? 'tertiary'
                      : element.status == 2
                      ? 'primary'
                      : 'success'
                  }}"
                >
                  <ion-label>
                    {{
                      element.status == 0
                        ? "Huỷ"
                        : element.status == 1
                        ? "Đã kết thúc"
                        : element.status == 2
                        ? "Sắp diễn ra"
                        : "Đang diễn ra"
                    }}
                  </ion-label>
                </ion-badge>
              </td>
            </ng-container>

            <ng-container matColumnDef="startDate">
              <th mat-header-cell *matHeaderCellDef class="w-1">
                Ngày bắt đầu
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.startDate | date: "dd/MM/yyyy" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="endDate">
              <th mat-header-cell *matHeaderCellDef class="w-1">
                Ngày kết thúc
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.endDate | date: "dd/MM/yyyy" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef class="w-2">Địa điểm</th>
              <td mat-cell *matCellDef="let element">
                {{ element.address }}
              </td>
            </ng-container>

            <ng-container matColumnDef="action" stickyEnd>
              <th
                mat-header-cell
                *matHeaderCellDef
                class="table-last-col text-center"
                style="width: 120px"
              >
                Thao tác
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                class="table-last-col text-center"
                (click)="$event.stopPropagation()"
              >
                <table-icon
                  [element]="element"
                  (onViewDetailEvent)="onViewDetail(element)"
                  [isShowDelete]="false"
                  [isShowUpdate]="false"
                >
                </table-icon>
              </td>
            </ng-container>

            <ng-container matColumnDef="loading">
              <td
                mat-footer-cell
                *matFooterCellDef
                [attr.colspan]="displayedColumns.length"
                class="text-center"
                style="background-color: #eee"
              >
                Đang tải...
              </td>
            </ng-container>

            <ng-container matColumnDef="noData">
              <td
                mat-footer-cell
                *matFooterCellDef
                [attr.colspan]="displayedColumns.length"
                class="text-center"
                style="background-color: rgba(90, 86, 86, 0.23)"
              >
                Không tồn tại bản ghi.
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="showColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: showColumns"
              class="cursor-pointer"
              (click)="onViewDetail(row)"
            ></tr>
            <tr
              mat-footer-row
              *matFooterRowDef="['loading']"
              [ngClass]="{ 'd-none': dataSource != null }"
            ></tr>
            <tr
              mat-footer-row
              *matFooterRowDef="['noData']"
              [ngClass]="{
                'd-none': !(dataSource != null && dataSource.data.length == 0)
              }"
            ></tr>
          </table>
        </div>

        <mat-paginator
          [pageSizeOptions]="pageSizeList"
          [pageSize]="filter.PageSize"
          [length]="pagingModel.totalRecord"
          class="text-md"
          (page)="pageChange($event)"
        ></mat-paginator>
      </div>
    </div>
  </div>

  <!-- mobile start -->

  <div class="mb-mobile d-md-none">
    <div *ngIf="!this.dataSource.data.length" class="mt-5 text-center">
      <img src="assets/images/empty_state.png" alt="empty-data" />
      <h2>Không tồn tại bản ghi</h2>
    </div>

    <ion-card
      *ngFor="let item of dataSource.data"
      class="my-2 animated fadeIn fast"
    >
      <ion-item (click)="onViewDetail(item)">
        <ion-label>
          <div class="d-flex flex-column">
            <span class="mb-2">{{ item.name }}</span>
            <ion-badge
              color="{{
                item.status == 0
                  ? 'danger'
                  : item.status == 1
                  ? 'tertiary'
                  : item.status == 2
                  ? 'primary'
                  : 'success'
              }}"
            >
              <ion-label>
                {{
                  item.status == 0
                    ? "Huỷ"
                    : item.status == 1
                    ? "Đã kết thúc"
                    : item.status == 2
                    ? "Sắp diễn ra"
                    : "Đang diễn ra"
                }}
              </ion-label>
            </ion-badge>
          </div>
        </ion-label>
        <ion-icon
          name="chevron-forward-outline"
          size="small"
          slot="end"
        ></ion-icon>
      </ion-item>
    </ion-card>

    <ion-infinite-scroll threshold="15%" (ionInfinite)="loadMoreData($event)">
      <ion-infinite-scroll-content> </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <!-- mobile end -->
  <app-loading [show]="clientState.isBusy"></app-loading>
</ion-content>
