<app-nav-bar [title]="'Dashboard'"></app-nav-bar>

<ion-content>
  <div class="m-content">
    <div *ngIf="!eventList.length" class="mt-5 text-center">
      <img src="assets/images/empty_state.png" alt="empty-data" />
      <h2>Không tồn tại sự kiện đang diễn ra</h2>
    </div>

    <div *ngIf="eventList.length">
      <div class="main mt-3 d-flex flex-column flex-xl-row">
        <div class="attendance">
          <div class="header mt-4 mt-md-0">
            <div class="header-left">
              <span> Điểm danh</span>
            </div>
            <a class="header-right" (click)="onViewAttendance()">Chi tiết </a>
          </div>

          <div class="attendance-main">
            <div class="attendance-process">
              <div class="box me-3">
                <p class="box-title">Vào ca</p>
                <p class="box-time">
                  {{
                    attendanceModel.isCheckIn
                      ? (attendanceModel.checkInTime | date: "H:mm")
                      : "-"
                  }}
                </p>
              </div>
              <div class="box">
                <p class="box-title">Tan ca</p>
                <p class="box-time">
                  {{
                    attendanceModel.isCheckOut
                      ? (attendanceModel.checkOutTime | date: "H:mm")
                      : "-"
                  }}
                </p>
              </div>
            </div>
            <div class="mt-3 box attendance-total">
              <span class="text-uppercase">Tổng:</span>
              <span *ngIf="hourCheckIn == 0" class="attendance-total-time"
                >-</span
              >
              <span *ngIf="hourCheckIn != 0" class="attendance-total-time">{{
                !attendanceModel.isCheckIn
                  ? "-"
                  : attendanceModel.isCheckOut
                  ? (attendanceModel.checkInTime
                    | calculateTime: attendanceModel.checkOutTime
                    | date: "HH:mm")
                  : clock
              }}</span>
            </div>
            <ion-button
              (click)="onClickAttendance()"
              [color]="
                !attendanceModel.isCheckIn && !attendanceModel.isCheckOut
                  ? 'success'
                  : attendanceModel.isCheckIn && !attendanceModel.isCheckOut
                  ? 'warning'
                  : 'medium'
              "
              expand="block"
              class="mt-3 btn-attendance"
              [disabled]="
                isAdmin ||
                (attendanceModel.isCheckIn && attendanceModel.isCheckOut) ||
                !isToggleAttendance
              "
            >
              {{
                !attendanceModel.isCheckIn && !attendanceModel.isCheckOut
                  ? "Vào ca"
                  : attendanceModel.isCheckIn && !attendanceModel.isCheckOut
                  ? "Tan ca"
                  : "Đã điểm danh"
              }}
            </ion-button>
          </div>
        </div>

        <div class="event mt-4 mt-xl-0">
          <div class="header header-event">
            <div class="header-left">
              <div
                class="cursor-pointer event-select"
                [matMenuTriggerFor]="event"
              >
                Sự kiện {{ selectedEvent.name }}
                <span class="material-icons material-icons-outlined">
                  expand_more
                </span>
              </div>
              <mat-menu
                #event="matMenu"
                class="custom-matMenu"
                xPosition="before"
              >
                <a
                  *ngFor="let item of eventList"
                  mat-menu-item
                  [class]="item.id == selectedEvent.id ? 'event-selected' : ''"
                  (click)="onChangeEvent(item)"
                >
                  <span class="font-16">{{ item.name }}</span>
                </a>
              </mat-menu>
            </div>
            <a class="header-right" (click)="onViewEvent()">Xem thêm</a>
          </div>

          <div class="event-main d-flex flex-column justify-content-center">
            <div class="event-name">{{ selectedEvent.name }}</div>
            <div class="event-description">
              {{ selectedEvent.description }}
            </div>
          </div>
        </div>
      </div>

      <div class="task-main mt-4">
        <div class="header header-event mb-4">
          <div class="header-left">Công việc đang thực hiện</div>
          <a routerLink="/task/list" class="header-right">Xem thêm</a>
        </div>

        <div *ngIf="!taskList.length" class="mt-5 text-center">
          <img src="assets/images/empty_state.png" alt="empty-data" />
          <h2>Không tồn tại công việc</h2>
        </div>

        <div *ngIf="taskList.length" class="row m-0">
          <div
            class="col-md-6 col-lg-4 col-xl-4 task-col mb-3 cursor-pointer"
            *ngFor="let task of taskList"
            (click)="showTask(task.id)"
          >
            <div class="task-item d-flex align-items-center">
              <div class="progress-wrapper me-3">
                <div class="current">
                  {{
                    task.subTasks.length == 0
                      ? "0/1"
                      : task.completeTask + "/" + task.subTasks.length
                  }}
                </div>
                <div
                  [class]="
                    task.priority == 2
                      ? 'hight'
                      : task.priority == 1
                      ? 'medium'
                      : 'low'
                  "
                  class="priority-circle"
                ></div>
                <round-progress
                  [current]="task.completeTask"
                  [max]="task.subTasks.length == 0 ? '1' : task.subTasks.length"
                  [color]="
                    task.priority == 2
                      ? '#E86969'
                      : task.priority == 1
                      ? '#FEE281'
                      : '#A1E26D'
                  "
                  [background]="'#eaeaea'"
                  [radius]="35"
                  [stroke]="8"
                  [duration]="500"
                >
                </round-progress>
              </div>

              <div class="task-content">
                <div class="task-title">
                  {{ task.name }}
                </div>
                <div class="task-deadline">
                  Hạn chót: {{ task.deadline | date: "H:mm dd/MM/yyyy" }}
                </div>
              </div>
            </div>
          </div>

          <!-- task end -->
        </div>
      </div>
    </div>
  </div>
</ion-content>

<app-loading [show]="clientState.isBusy"></app-loading>
