<app-nav-bar [title]="'Lương của tôi'"></app-nav-bar>
<ion-content>
  <div class="m-content-0 m-md-content mt-5" *ngIf="model">
    <ion-refresher
      *ngIf="isMobile"
      slot="fixed"
      style="margin-top: 5rem; z-index: 999 !important"
      (ionRefresh)="doRefresh($event)"
    >
      <ion-refresher-content
        refreshingSpinner="bubbles"
      ></ion-refresher-content>
    </ion-refresher>
    <div class="mt-5 mb-3 mt-md-2 p-md-0">
      <div class="d-none d-md-block main-content-header mb-4">
        <span>Lương của tôi</span>
      </div>
      <reusable-detail-main
        *ngIf="model"
        [labels]="labels"
        [data]="[
          (model.salary?.value | number) + ' đ',
          model.salary?.type === 1 ? 'Chính thức' : 'Bán thời gian'
        ]"
      >
      </reusable-detail-main>
    </div>
    <div class="main-content px-3 h-100">
      <div class="d-flex align-items-center justify-content-between">
        <h3 class="text-secondary text-uppercase">Trợ cấp</h3>
      </div>
      <div class="mt-3">
        <div *ngIf="!model.subsidies">
          <div class="info-group">
            <label class="text-secondary">Không</label>
          </div>
        </div>
        <div class="row mx-0">
          <div class="col-md-4 col-sm-6" *ngFor="let item of model.subsidies">
            <div class="info-group">
              <label class="text-secondary">{{ item.name }} </label>
              <p class="font-weight-600">{{ item.value | number }} đ</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-content mt-3 px-3 h-100">
      <h3 class="text-secondary text-uppercase">Ứng lương</h3>
      <div class="mt-3">
        <div *ngIf="!salaryAdvance.length">
          <div class="info-group">
            <label class="text-secondary">Không</label>
          </div>
        </div>
        <div class="row mx-0">
          <div class="col-md-4 col-12" *ngFor="let item of salaryAdvance">
            <div class="info-group">
              <span
                >{{ item.salaryAdvance.value | number }} đ -
                {{ item.salaryAdvance.createdDate | date: "dd/MM/yyyy" }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
