<ion-content>
  <div class="login-page">
    <div class="login-container">
      <h3 class="login-title">
        <span class="title">Đăng nhập</span>
      </h3>

      <div class="login-error-message" *ngIf="isLoginError">
        <span>{{ errorMessage }}</span>
      </div>
      <div
        class="reset-password-message success-message"
        *ngIf="messageResetPassword"
      >
        <span>{{ messageResetPassword }}</span>
      </div>
      <form
        (keyup.enter)="onLogin()"
        [formGroup]="loginForm"
        (ngSubmit)="onLogin()"
        #f="ngForm"
        novalidate
        autocomplete="off"
      >
        <div class="row mx-0 align-items-baseline">
          <div class="col-12 px-0 mb-3">
            <label class="input-label">Tên đăng nhập</label>
            <mat-form-field class="w-100" appearance="outline">
              <input
                matInput
                formControlName="username"
                placeholder="Nhập tên đăng nhập"
              />
              <mat-error
                *ngIf="
                  username.invalid &&
                  (username.dirty || username.touched || f.submitted)
                "
              >
                <span *ngIf="username.errors?.required"
                  >Tên đăng nhập là trường bắt buộc</span
                >
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-12 px-0 mb-3">
            <label class="input-label">Mật khẩu</label>
            <mat-form-field class="w-100" appearance="outline">
              <input
                matInput
                type="password"
                formControlName="password"
                placeholder="Nhập mật khẩu"
                [type]="visiblePassword ? 'text' : 'password'"
              />
              <button
                type="button"
                mat-icon-button
                matSuffix
                (click)="
                  visiblePassword = !visiblePassword; $event.stopPropagation()
                "
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="visiblePassword"
              >
                <mat-icon>{{
                  visiblePassword ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error
                *ngIf="
                  password.invalid &&
                  (password.dirty || password.touched || f.submitted)
                "
              >
                <span *ngIf="password.errors?.required"
                  >Mật khẩu là trường bắt buộc</span
                >
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div
          class="mt-3 d-flex flex-column-reverse flex-md-row justify-content-md-between align-items-md-center"
        >
          <ion-button
            fill="clear"
            class="custom-btn btn-forgot"
            type="button"
            color="primary"
            routerLink="/auth/forgot-password"
          >
            <span>Quên mật khẩu?</span>
          </ion-button>

          <ion-button
            color="primary"
            class="custom-btn d-block"
            [disabled]="clientState.isBusy"
            type="submit"
          >
            Đăng nhập
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
<div class="login-loading">
  <app-loading [show]="clientState.isBusy"></app-loading>
</div>
