<div class="d-md-none">
  <app-nav-bar-modal
    title="Tạo mới trợ cấp"
    (onBackEvent)="onDismissModal()"
    (onActionEvent)="onSubmit()"
  ></app-nav-bar-modal>
</div>

<ion-content class="modal-main">
  <h2 class="d-none d-sm-block">Tạo mới trợ cấp</h2>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="row mx-0 align-items-baseline">
      <div class="col-12 px-0 px-md-2 mb-2">
        <label class="input-label"
          >Tên trợ phí <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <input
            matInput
            formControlName="name"
            placeholder="Nhập tên trợ phí"
          />
          <mat-error
            *ngIf="name.invalid && (name.dirty || name.touched || f.submitted)"
          >
            <span *ngIf="name.errors?.required"
              >Tên trợ phí là trường bắt buộc</span
            >
            <span *ngIf="name.errors?.maxLength"
              >Tên trợ phí nằm trong khoảng 1-50 ký tự</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 px-0 px-md-2 mb-2">
        <label class="input-label"
          >Trợ phí <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <input
            matInput
            formControlName="value"
            placeholder="Nhập trợ phí"
            decimalFormat
          />
          <mat-error
            *ngIf="
              value.invalid && (value.dirty || value.touched || f.submitted)
            "
          >
            <span *ngIf="value.errors?.required"
              >Trợ phí là trường bắt buộc</span
            >

            <span *ngIf="value.errors?.lessThanZero"
              >Trợ phí phải lớn hơn 0</span
            >
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="col-12 px-0 mt-3 mt-md-0 text-end">
      <ion-button
        fill="clear"
        class="custom-btn d-none d-md-inline-block text-secondary"
        type="button"
        (click)="onDismissModal()"
      >
        Hủy
      </ion-button>
      <ion-button
        color="primary"
        class="custom-btn d-block d-md-inline-block"
        [disabled]="clientState.isBusy || !formGroup.dirty"
        type="submit"
      >
        Lưu
      </ion-button>
    </div>
  </form>
</ion-content>
