<div class="d-md-none">
  <app-nav-bar-modal
    title="{{ data ? 'Cập nhật' : 'Tạo mới' }}"
    (onBackEvent)="onDismissModal()"
  ></app-nav-bar-modal>
</div>

<ion-content class="modal-main">
  <h2 class="d-none d-sm-block">{{ data ? "Cập nhật" : "Tạo mới" }}</h2>
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="row mx-0 align-items-baseline">
      <div class="col-12 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Tên sự kiện <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <input
            placeholder="Nhập tên sự kiện"
            matInput
            formControlName="name"
          />
          <mat-error
            *ngIf="name.invalid && (name.dirty || name.touched || f.submitted)"
          >
            <span *ngIf="name.errors?.required"
              >Tên sự kiện là trường bắt buộc</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Hạn chót <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <input
            placeholder="Chọn hạn chót"
            matInput
            [matDatetimepicker]="deadlineMat"
            formControlName="deadline"
          />
          <mat-datetimepicker-toggle
            matSuffix
            [for]="deadlineMat"
          ></mat-datetimepicker-toggle>
          <mat-datetimepicker
            #deadlineMat
            type="datetime"
            [openOnFocus]="true"
            [timeInterval]="5"
          ></mat-datetimepicker>

          <mat-error
            *ngIf="
              deadline.invalid &&
              (deadline.dirty || deadline.touched || f.submitted)
            "
          >
            <span *ngIf="deadline.errors?.required"
              >Hạn chót là trường bắt buộc</span
            >

            <span *ngIf="deadline.errors?.invalidDate"
              >Hạn chót không được nhỏ hơn ngày hiện tại</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 px-0 px-lg-2 mb-3" formArrayName="subTasks">
        <label class="input-label">Danh mục</label>
        <div
          *ngFor="let item of updateForm.controls.subTasks.controls; index as i"
        >
          <div class="d-flex mx-0 align-items-center" [formGroupName]="i">
            <div class="col-11 px-0 mb-3">
              <mat-form-field class="w-100" appearance="outline">
                <input
                  matInput
                  formControlName="name"
                  placeholder="Nhập tên danh mục"
                />
              </mat-form-field>
            </div>

            <button mat-icon-button (click)="removeRow(i)" class="col-1 mb-3">
              <ion-icon class="delete-icon" name="trash-outline"></ion-icon>
            </button>
          </div>
        </div>
        <div class="col-12 px-0 mb-3 px-lg-2">
          <button
            mat-stroked-button
            color="primary"
            type="button"
            (click)="addMore()"
          >
            <mat-icon inline="true">add</mat-icon>
          </button>
        </div>
      </div>
      <div class="col-12 px-0 px-lg-2 mb-3" formArrayName="equipments">
        <label class="input-label">Trang thiết bị</label>
        <div
          *ngFor="
            let item of updateForm.controls.equipments.controls;
            index as i
          "
        >
          <div class="d-flex mx-0 align-items-center" [formGroupName]="i">
            <div class="col-7 pl-0 pr-3 mb-3">
              <label class="input-label">Tên</label>
              <mat-form-field
                class="w-100"
                style="padding-right: 1rem"
                appearance="outline"
              >
                <mat-select
                  placeholder="Tên trang thiết bị"
                  formControlName="name"
                >
                  <mat-option
                    *ngFor="let item of data.equipments"
                    [value]="item.name"
                  >
                    {{ item.name }}
                  </mat-option>
                  <mat-option *ngIf="!data.equipments.length">
                    Không có trang thiết bị
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-4 mb-3">
              <label class="input-label">Số lượng</label>
              <mat-form-field class="w-100" appearance="outline">
                <input
                  matInput
                  formControlName="quantity"
                  OnlyNumber
                  placeholder="Số lượng"
                />
              </mat-form-field>
            </div>

            <button
              mat-icon-button
              (click)="removeRowEquipment(i)"
              class="col-1 mb-3"
            >
              <ion-icon class="delete-icon" name="trash-outline"></ion-icon>
            </button>
          </div>
        </div>
        <div class="col-12 px-0 mb-3 px-lg-2">
          <button
            mat-stroked-button
            color="primary"
            type="button"
            (click)="addMoreEquipment()"
          >
            <mat-icon inline="true">add</mat-icon>
          </button>
        </div>
      </div>
      <div class="col-12 px-0 px-lg-2 mb-3">
        <label class="input-label">Mô tả</label>
        <mat-form-field class="w-100" appearance="outline">
          <textarea
            placeholder="Nhập mô tả"
            matInput
            [matTextareaAutosize]="true"
            [matAutosizeMinRows]="10"
            [matAutosizeMaxRows]="10"
            formControlName="description"
          ></textarea>

          <mat-error
            *ngIf="
              description.invalid &&
              (description.dirty || description.touched || f.submitted)
            "
          >
            <span *ngIf="description.errors?.maxlength"
              >Mô tả nằm trong khoảng 0-500 ký tự là trường bắt buộc</span
            >
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="col-12 px-0 mt-3 mt-md-0 text-end">
      <ion-button
        fill="clear"
        class="custom-btn d-none d-md-inline-block text-secondary"
        type="button"
        (click)="onDismissModal()"
      >
        Hủy
      </ion-button>
      <ion-button
        color="primary"
        class="custom-btn d-block d-md-inline-block"
        [disabled]="clientState.isBusy || !updateForm.dirty"
        type="submit"
      >
        Lưu
      </ion-button>
    </div>
  </form>
</ion-content>

<app-loading [show]="clientState.isBusy"></app-loading>
