<app-nav-bar-custome class="d-md-none" [title]="'Thông tin cá nhân'">
  <div start>
    <ion-button (click)="onDismissModal()">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>
  </div>

  <div class="pe-1" end>
    <table-icon
      [vercical]="false"
      [isShowDetail]="false"
      [isShowDelete]="false"
      [isShowUpdate]="false"
    >
      <a mat-menu-item (click)="onChangePassword()">
        <mat-icon>password</mat-icon>
        <span>Thay đổi mật khẩu</span>
      </a>
    </table-icon>
  </div>
</app-nav-bar-custome>

<ion-content class="modal-user-info">
  <div class="mb-mobile row mx-0">
    <div class="d-none d-md-block p-0">
      <ion-button color="primary" (click)="onChangePassword()">
        Thay đổi mật khẩu
      </ion-button>
    </div>

    <div class="profile-image mt-3">
      <div class="outer">
        <img
          [src]="avatarURL ? avatarURL : 'assets/images/default-avatar.png'"
        />

        <div (click)="imageInputMobile.click()" class="inner">
          <input
            class="input-file"
            #imageInputMobile
            type="file"
            accept="image/png,image/jpeg"
            (change)="imageInputChange($event)"
          />
          <div class="inner-icon">
            <ion-icon name="camera"></ion-icon>
          </div>
        </div>
      </div>
    </div>

    <!-- btn end  -->
    <div class="col-12 px-0 mt-md-2">
      <div class="row mx-0">
        <div class="col-12 px-md-0 mt-3">
          <div class="main-content px-3 py-4 h-100">
            <h3 class="text-secondary text-uppercase">Thông tin cá nhân</h3>
            <div class="mt-3">
              <div class="d-flex mx-0">
                <div class="flex-grow-1">
                  <div class="row mx-0">
                    <div class="col-sm-6 col-lg-4">
                      <label class="text-secondary">Tên đăng nhập </label>
                      <p>{{ model.username }}</p>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                      <label class="text-secondary">Họ và tên </label>
                      <p>{{ model.fullName }}</p>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                      <label class="text-secondary">Giới tính </label>
                      <p>
                        {{ model.gender == 0 ? "Nam" : "Nữ" }}
                      </p>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                      <label class="text-secondary">Địa chỉ </label>
                      <p>
                        {{ model.address }}
                      </p>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                      <label class="text-secondary">Ngày sinh </label>
                      <p>
                        {{ model.doB | date: "dd/MM/yyyy" }}
                      </p>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                      <label class="text-secondary">CMND/CCCD </label>
                      <p>
                        {{ model.identityNumber }}
                      </p>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                      <label class="text-secondary">Số điện thoại </label>
                      <p>{{ model.phone }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 px-md-0 mt-3">
          <div class="main-content px-3 py-4 h-100">
            <h3 class="text-secondary text-uppercase">Thông tin hợp đồng</h3>
            <div class="mt-3">
              <div class="row mx-0">
                <div class="col-sm-12 col-lg-4">
                  <label class="text-secondary">Loại lương nhân viên </label>
                  <p>
                    {{
                      model.salary?.type === 1
                        ? "Nhân viên chính thức"
                        : model.salary?.type === 2
                        ? "Nhân viên bán thời gian"
                        : "Chưa tạo lương"
                    }}
                  </p>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <label class="text-secondary">Phòng ban </label>
                  <p>{{ model.department?.name }}</p>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <label class="text-secondary">Chức vụ </label>
                  <p>{{ model.role?.name }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 px-md-0 mt-3" *ngIf="model.advenInfo?.length">
          <div class="main-content px-3 py-4 h-100">
            <h3 class="text-secondary text-uppercase">Thông tin thêm</h3>
            <div class="mt-3">
              <div class="row mx-0">
                <div
                  class="col-sm-6 col-lg-4"
                  *ngFor="let item of model.advenInfo"
                >
                  <label class="text-secondary">{{ item.name }} </label>
                  <p>{{ item.value }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<app-loading [isModal]="true" [show]="clientState.isBusy"></app-loading>
