<app-nav-bar class="d-none d-md-block" [title]="'Sự kiện'"></app-nav-bar>

<!-- nav bar mobile start -->
<app-nav-bar-custome class="d-md-none" [title]="'Sự kiện'">
  <div start>
    <ion-button (click)="onBack()">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>
  </div>
</app-nav-bar-custome>

<!-- nav bar mobile end -->

<ion-content>
  <div class="m-content-0 m-md-content p-0">
    <ion-segment
      *ngIf="isManageEvent || isManageEquipment || isManageBudget"
      scrollable
      mode="md"
      [(ngModel)]="segment"
      value="detail"
    >
      <ion-segment-button value="detail">
        <ion-label> Chi tiết</ion-label>
      </ion-segment-button>

      <ion-segment-button *ngIf="isManageEquipment" value="equipment">
        <ion-label> Trang thiết bị </ion-label>
      </ion-segment-button>

      <ion-segment-button *ngIf="isManageBudget" value="budget">
        <ion-label> Chi tiêu </ion-label>
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="segment" class="p-content-segment">
      <!-- detail start -->
      <div *ngSwitchCase="'detail'">
        <div class="d-none d-md-block p-md-0">
          <div *ngIf="!isToggleAttendance"></div>

          <reusable-detail-icon
            [goBackUrl]="'/participate-event/list'"
            [isShowDelete]="false"
            [isShowUpdate]="false"
          >
          </reusable-detail-icon>
        </div>

        <!-- button check in web -->
        <ion-button
          fill="clear"
          *ngIf="isToggleAttendance && model.status == 3 && !isAdmin"
          class="custom-btn btn-attendance"
          ngClass="{{
            !attendanceModel.isCheckIn && !attendanceModel.isCheckOut
              ? 'bg-success'
              : attendanceModel.isCheckIn && !attendanceModel.isCheckOut
              ? 'bg-warning'
              : 'bg-success'
          }}"
          [disabled]="attendanceModel.isCheckIn && attendanceModel.isCheckOut"
          (click)="onProcessAttendance()"
        >
          <ion-icon
            class="text-white me-2"
            name="finger-print-outline"
          ></ion-icon>
          <span class="custom-btn">{{
            !attendanceModel.isCheckIn && !attendanceModel.isCheckOut
              ? "Vào ca"
              : attendanceModel.isCheckIn && !attendanceModel.isCheckOut
              ? "Tan ca"
              : "Đã tan ca"
          }}</span>
        </ion-button>

        <!-- button check in web -->

        <div class="mt-4 mt-md-2 p-md-0">
          <div class="d-none d-md-block main-content-header">
            <span class="content-header-text">Chi tiết sự kiện</span>
          </div>

          <reusable-detail-main
            [labels]="labels"
            [data]="[
              model.name,
              model.address,
              model.startDate | date: 'dd/MM/yyyy',
              model.status == 1
                ? (model.actualEndDate | date: 'dd/MM/yyyy')
                : (model.expectedEndDate | date: 'dd/MM/yyyy'),
              model.status == 0
                ? 'Huỷ'
                : model.status == 1
                ? 'Đã kết thúc'
                : model.status == 2
                ? 'Sắp diễn ra'
                : 'Đang diễn ra'
            ]"
          >
            <div class="row mx-0">
              <div class="col-lg-2">
                <label class="detail-label my-2">Mô tả</label>
              </div>
              <div class="col-lg-10">
                <p class="detail-content text-description text-secondary my-2">
                  {{ model.description ? model.description : "Không" }}
                </p>
              </div>
            </div>
          </reusable-detail-main>

          <div *ngIf="model.status == 1 && isManageEvent" class="my-3 p-md-0">
            <div class="d-none d-md-block main-content-header">
              <span class="content-header-text">Thống kê</span>
            </div>

            <reusable-detail-main
              [labels]="['Người giữ tiền', 'Thu', 'Chi', 'Tổng số tiền']"
              [data]="[
                model.cashier?.fullName ? model.cashier?.fullName : 'Không',

                model.income ? (model.income | number) : 0 + ' ₫',
                model.outcome ? (model.outcome | number) : 0 + ' ₫',
                model.totalBudget ? (model.totalBudget | number) : 0 + ' ₫'
              ]"
            >
              <div class="row mx-0">
                <div class="col-lg-2">
                  <label class="detail-label my-2">Ghi chú</label>
                </div>
                <div class="col-lg-10">
                  <p class="detail-content text-secondary my-2">
                    {{ model.note ? model.note : "Không" }}
                  </p>
                </div>
              </div>
            </reusable-detail-main>
          </div>
        </div>
      </div>
      <!-- detail end -->

      <!-- equipment start -->

      <div *ngSwitchCase="'equipment'">
        <app-participate-equipment-list
          [eventId]="id"
        ></app-participate-equipment-list>
      </div>

      <!-- equipment end -->

      <!-- budget start -->
      <div *ngSwitchCase="'budget'">
        <app-participate-budget-list
          [eventId]="id"
        ></app-participate-budget-list>
      </div>
    </div>
  </div>
  <app-loading [show]="clientState.isBusy"></app-loading>
</ion-content>
