<div class="d-md-none">
  <app-nav-bar-modal
    title="Tạo đơn yêu cầu"
    (onBackEvent)="onDismissModal()"
    (onActionEvent)="onSubmit()"
  ></app-nav-bar-modal>
</div>

<ion-content class="modal-main">
  <h2 class="d-none d-sm-block">Tạo đơn yêu cầu</h2>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="row mx-0 align-items-baseline">
      <div class="col-12 px-0 mb-3">
        <label class="input-label"
          >Tiêu đề <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <input matInput formControlName="title" placeholder="Nhập tiêu đề" />
          <mat-error
            *ngIf="
              title.invalid && (title.dirty || title.touched || f.submitted)
            "
          >
            <span *ngIf="title.errors?.required"
              >Tiêu đề là trường bắt buộc</span
            >
            <span *ngIf="title.errors?.maxlength"
              >Tiêu đề nằm trong khoảng 1-100 ký tự</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 px-0 mb-3">
        <label class="input-label"
          >Loại đơn <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <mat-select
            placeholder="Chọn loại đơn"
            msInfiniteScroll
            (infiniteScroll)="onLoadMoreCategory()"
            formControlName="categoryName"
            (closed)="onResetFilterCategory()"
          >
            <ion-item-divider sticky class="custom-ion-divider border-0">
              <ion-searchbar
                padding-start="0"
                mode="md"
                class="custom-search-select custom-search p-0"
                placeholder="Tìm kiếm"
                [debounce]="300"
                showCancelButton="never"
                (ionChange)="onSearchCategory($event)"
                (keydown)="$event.stopPropagation()"
                #searchbar
              ></ion-searchbar>
            </ion-item-divider>

            <mat-option *ngFor="let type of categoryList" [value]="type.id">
              <h3 class="m-0">
                {{ type.name }}
              </h3>
            </mat-option>
            <h3
              class="mt-1 mb-0 text-center font-weight-bold text-secondary"
              *ngIf="!categoryList.length"
            >
              {{
                isManageRequest
                  ? "Chọn từ danh sách hoặc tạo mới"
                  : "Không tồn tại"
              }}
            </h3>
            <mat-option
              *ngIf="!categoryList.length && isManageRequest"
              (click)="onCreateCategory()"
            >
              <h3 class="m-0 font-17">
                <span class="material-icons pe-2"> add </span>Tạo mới
              </h3>
            </mat-option>
          </mat-select>

          <mat-error
            *ngIf="
              categoryName.invalid &&
              (categoryName.dirty || categoryName.touched || f.submitted)
            "
          >
            <span *ngIf="categoryName.errors?.required"
              >Loại đơn là trường bắt buộc</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 px-0 mb-3">
        <label class="input-label"
          >Người nhận đơn <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <mat-select
            placeholder="Chọn người nhận đơn"
            msInfiniteScroll
            (infiniteScroll)="onLoadMoreUser()"
            formControlName="user"
            (closed)="onResetFilterUser()"
          >
            <ion-item-divider sticky class="custom-ion-divider border-0">
              <ion-searchbar
                padding-start="0"
                mode="md"
                class="custom-search p-0"
                placeholder="Tìm kiếm"
                [debounce]="300"
                showCancelButton="never"
                (ionChange)="onSearchUser($event)"
                (keydown)="$event.stopPropagation()"
                #searchbar
              ></ion-searchbar>
            </ion-item-divider>

            <mat-option
              class="h-option"
              *ngFor="let user of userList"
              [value]="{
                acceptId: user.id,
                acceptName: user.fullName,
                acceptAvatar: user.avatar
              }"
            >
              <div class="d-flex align-items-center">
                <ion-avatar style="max-width: 2.3rem; max-height: 2.3rem">
                  <img
                    [src]="
                      user.avatar
                        ? user.avatar
                        : 'assets/images/default-avatar.png'
                    "
                    alt=""
                    style="width: 2.3rem; height: 2.3rem"
                  />
                </ion-avatar>

                <h3 class="mb-0 ms-2">
                  <span>{{ user.fullName }}</span>
                </h3>
              </div>
            </mat-option>
            <mat-select-trigger>
              {{ user.value.acceptName }}
            </mat-select-trigger>

            <h3 class="m-0 p-3 text-secondary" *ngIf="!userList.length">
              Không tồn tại
            </h3>
          </mat-select>

          <mat-error
            *ngIf="user.invalid && (user.dirty || user.touched || f.submitted)"
          >
            <span *ngIf="user.errors?.required"
              >Người nhận đơn là trường bắt buộc</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 px-0 mb-3">
        <label class="input-label"
          >Nội dung <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <textarea
            placeholder="Nhập nội dung"
            matInput
            [matTextareaAutosize]="true"
            [matAutosizeMinRows]="10"
            [matAutosizeMaxRows]="10"
            formControlName="content"
          ></textarea>
          <mat-error
            *ngIf="
              content.invalid &&
              (content.dirty || content.touched || f.submitted)
            "
          >
            <span *ngIf="content.errors?.required"
              >Nội dung là trường bắt buộc</span
            >
            <span *ngIf="content.errors?.maxlength"
              >Nội dung nằm trong khoảng 1-500 ký tự</span
            >
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- button save -->
    <div class="col-12 px-0 mt-3 mt-md-0 text-end">
      <ion-button
        fill="clear"
        class="custom-btn d-none d-md-inline-block text-secondary"
        type="button"
        (click)="onDismissModal()"
      >
        Hủy
      </ion-button>
      <ion-button
        color="primary"
        class="custom-btn d-block d-md-inline-block"
        [disabled]="clientState.isBusy || !createForm.dirty"
        type="submit"
      >
        Lưu
      </ion-button>
    </div>
  </form>
</ion-content>

<app-loading [isModal]="true" [show]="clientState.isBusy"></app-loading>
