html,
body {
  width: 100%;
  height: 100%;
}

html,
body,
table,
input,
label,
textarea {
  font-size: 16px !important;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default !important;
}

.cursor-auto {
  cursor: auto !important;
}

table {
  width: 100%;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.bg-label {
  background-color: #f5f5f5;
}

//text break down
.text-description {
  white-space: pre-line;
  line-height: 1.618;
}

//style label input
.input-label {
  margin-bottom: 0.3rem;
  color: #0d0c22;
  font-size: 15px;
  font-weight: 500;
}

//mat icon same line
.material-icons {
  display: inline-flex;
  vertical-align: middle;
}

//margin top

.m-content {
  margin-top: 45px;
  padding: 0;
}

.m-mobile-content {
  margin-top: 65px;
}

.m-content-0 {
  margin-top: 0px;
}

.mb-mobile {
  margin-bottom: 25px;
}

//last col table
.table-last-col {
  right: -1px !important;
}

.bdl-danger {
  border-left: 5px solid #ff5555;
}
.bdl-success {
  border-left: 5px solid #0dd55d;
}

@media (min-width: 768px) {
  .m-content {
    padding: 30px;
    margin-top: 45px;
  }

  .m-md-content {
    padding: 30px;
    margin-top: 45px;
  }

  .mb-mobile {
    margin-bottom: 0;
  }
}

//main content modal
