ion-content {
  --background: #f1f5f9 !important;
}

ion-content.content-side-bar {
  --background: #ffffff !important;
}

// avatar ion-avatar
ion-avatar {
  width: 3.5rem;
  height: 3.5rem;
}

//remove border last item
ion-item:last-child {
  --border-style: none;
}

//remove padding ion divider
.custom-ion-divider {
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
}
//custom height segment
ion-segment {
  height: 35px;
}

ion-segment-button {
  max-width: 100%;
  min-height: 35px;
}

//searchbar
.custom-search {
  --box-shadow: 0;
}

.custom-ion-divider .custom-search {
  border-bottom: 1px solid grey;
}

//ion chip
ion-badge {
  padding: 7px 0;
  width: 6.6rem;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.9;
  border-radius: 8px;
}
// ion-chip {
//   width: 7.5rem;
//   justify-content: center;
//   font-weight: 500;
//   margin: 0;
// }
//ion card
ion-card {
  border-radius: 12px;
}

@media (min-width: 426px) {
  ion-split-pane {
    --side-max-width: 10rem;
  }
}

@media (min-width: 768px) {
  .p-content-segment {
    padding: 30px;
  }
}
