// Pagination
mat-paginator {
  .mat-paginator-range-label,
  button {
    color: #333 !important;
  }
}

.mat-table-sticky {
  background-color: #ffffff !important;
}
.mat-paginator-container {
  justify-content: space-between !important;
}

.theme-indigo-pink,
.theme-purple-amber {
  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: #64748b;
  }
}

mat-checkbox {
  label {
    margin-bottom: 0 !important;
  }
}
.mat-footer-row {
  .mat-column-noData {
    padding: 5px 0 !important;
  }
}
.custom-matMenu {
  .mat-icon {
    color: #3f9fee !important;
  }
}

.mat-tooltip {
  font-size: 14px !important;
}

mat-icon {
  color: #606060;
}

.mat-flat-button {
  line-height: 30px !important;
}
.mat-button {
  line-height: 30px !important;
  .mat-icon {
    font-size: 20px !important;
  }
  span {
    font-size: 16px !important;
  }
}
.material-icons {
  font-size: 20px !important;
  height: auto !important;
}

td .mat-icon-button {
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
}

.mat-menu-item {
  line-height: 40px !important;
  height: 40px !important;
  padding: 0 10px !important;
}

.mat-paginator,
.mat-paginator-page-size .mat-select-trigger {
  font-size: 1rem !important;
}

.mat-dialog-content {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
}

.custom-mat-icon {
  font-size: 1.7rem !important;
}

//popup mat select,
.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 99999 !important;
}

//for popup action table
.mat-menu-panel.custom-matMenu {
  min-height: 0 !important;
}

.mat-filter {
  padding: 10px 16px !important;
  color: black;
}

//height mat option
.mat-option {
  height: 3.1rem !important;
}
