html,
body {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

body,
button,
input,
label,
td,
th,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label {
  font-family: -apple-system, "Helvetica Neue", sans-serif !important;
}

.material-icons {
  font-family: "Material Icons" !important;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 13px;
}

h6 {
  font-size: 12px;
}

a {
  text-decoration: none;
}
