ion-segment-button {
  max-width: 100%;
}
ion-badge {
  min-width: 20px;
  height: 20px;
  padding: 2px 5px;
  width: auto !important;
}

@media (min-width: 576px) {
  .p-content-segment {
    padding: 30px;
  }
}
