<app-nav-bar [title]="'Lịch sử công việc'"></app-nav-bar>

<ion-content>
  <ion-refresher
    *ngIf="isMobile"
    slot="fixed"
    style="margin-top: 4rem; z-index: 999 !important"
    (ionRefresh)="doRefresh($event)"
  >
    <ion-refresher-content refreshingSpinner="bubbles"></ion-refresher-content>
  </ion-refresher>

  <ion-segment scrollable class="m-content p-0" mode="md" [(ngModel)]="segment">
    <ion-segment-button value="completed">
      <ion-label
        >Đã hoàn thành
        <ion-badge color="success">{{
          pagingCompletedModel.totalRecord
        }}</ion-badge>
      </ion-label>
    </ion-segment-button>

    <ion-segment-button value="cancel">
      <ion-label
        >Đã huỷ
        <ion-badge color="danger">{{
          pagingCancelModel.totalRecord
        }}</ion-badge>
      </ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segment" class="p-content-segment">
    <div *ngSwitchCase="'completed'">
      <app-task-history-table
        [status]="1"
        [refresh]="refreshTable"
        [eventId]="eventId"
      ></app-task-history-table>
    </div>

    <div *ngSwitchCase="'cancel'">
      <app-task-history-table
        [status]="0"
        [refresh]="refreshTable"
        (refreshed)="stopRefresh($event)"
      ></app-task-history-table>
    </div>
  </div>

  <app-loading [show]="clientState.isBusy"></app-loading>
</ion-content>
