<table-filter>
  <div class="my-2 p-2 p-md-0">
    <form
      [formGroup]="searchForm"
      (keyup.enter)="onFilter()"
      (ngSubmit)="onFilter()"
    >
      <div class="row mx-0 align-items-baseline">
        <div class="col-md-6">
          <mat-form-field class="w-100 search-input" appearance="outline">
            <mat-icon matPrefix>search</mat-icon>
            <input
              matInput
              formControlName="textSearch"
              placeholder="Tên công việc"
            />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="w-100 search-input" appearance="outline">
            <mat-icon matPrefix>search</mat-icon>
            <input
              type="text"
              matInput
              placeholder="Sự kiện"
              formControlName="eventName"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="w-100 search-input" appearance="outline">
            <mat-icon matPrefix>search</mat-icon>

            <mat-select
              formControlName="eventNullable"
              placeholder="Loại công việc"
            >
              <mat-option [value]="1">Tất cả</mat-option>
              <mat-option [value]="true">Ngoài sự kiện</mat-option>
              <mat-option [value]="false">Trong sự kiện</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6" *ngIf="!myId">
          <mat-form-field class="w-100 search-input" appearance="outline">
            <mat-icon matPrefix>search</mat-icon>
            <input
              type="text"
              matInput
              placeholder="Nhân viên"
              formControlName="staffName"
            />
          </mat-form-field>
        </div>
        <div class="w-100 d-flex justify-content-end mb-2">
          <ion-button
            fill="clear"
            class="custom-btn text-secondary"
            (click)="onResetFilter()"
            type="button"
          >
            Xóa bộ lọc
          </ion-button>
          <ion-button color="primary" class="custom-btn mx-2" type="submit">
            Tìm kiếm
          </ion-button>
        </div>
      </div>
    </form>
  </div>
</table-filter>

<div class="mt-2 d-none d-md-block">
  <div class="main-content">
    <div class="main-content-header">
      <span class="content-header-text">Danh sách công việc</span>
    </div>

    <div class="d-none d-md-flex justify-content-end">
      <app-table-display-columns
        [tableName]="'task-history'"
        [baseColumns]="displayedColumns"
        [showColumns]="showColumns"
        (onColumnsChange)="showColumns = $event"
      >
      </app-table-display-columns>
    </div>

    <div class="overflow-auto custom-table">
      <table
        mat-table
        [dataSource]="dataSource"
        class="table table-hover table-striped"
      >
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="w-1">Tên công việc</th>
          <td mat-cell *matCellDef="let element">
            {{ element.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="staffName">
          <th mat-header-cell *matHeaderCellDef class="w-1">Người thực hiện</th>
          <td mat-cell *matCellDef="let element">
            {{ element.staffName ? element.staffName : "Không" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="priority">
          <th mat-header-cell *matHeaderCellDef class="w-1">Độ ưu tiên</th>
          <td mat-cell *matCellDef="let element">
            <ion-badge color="primary" *ngIf="element.priority === 0">
              <ion-label>Thấp</ion-label>
            </ion-badge>
            <ion-badge color="warning" *ngIf="element.priority === 1">
              <ion-label>Trung bình</ion-label>
            </ion-badge>
            <ion-badge color="danger" *ngIf="element.priority === 2">
              <ion-label>Cao</ion-label>
            </ion-badge>
          </td>
        </ng-container>

        <ng-container matColumnDef="deadline">
          <th mat-header-cell *matHeaderCellDef class="w-1">Hạn chót</th>
          <td mat-cell *matCellDef="let element">
            {{ element.deadline | date: "H:mm dd/MM/yyyy" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="eventName">
          <th mat-header-cell *matHeaderCellDef class="w-1">Sự kiện</th>
          <td mat-cell *matCellDef="let element">
            {{ element.eventName ? element.eventName : "Không" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="noData">
          <td
            mat-footer-cell
            *matFooterCellDef
            [attr.colspan]="displayedColumns.length"
            class="text-center"
            style="background-color: rgba(90, 86, 86, 0.23)"
          >
            Không tồn tại bản ghi.
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="showColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: showColumns"
          class="cursor-pointer"
          (click)="viewDetail(row)"
        ></tr>

        <tr
          mat-footer-row
          *matFooterRowDef="['noData']"
          [ngClass]="{
            'd-none': !(dataSource != null && dataSource.data.length == 0)
          }"
        ></tr>
      </table>
    </div>

    <mat-paginator
      [pageSizeOptions]="pageSizeList"
      [pageSize]="filter.PageSize"
      [length]="pagingModel.totalRecord"
      class="text-md"
      (page)="pageChange($event)"
      #MatPaginator
    ></mat-paginator>
  </div>
</div>

<div class="mb-mobile d-md-none">
  <h3 *ngIf="!this.dataSource.data.length" class="text-center">
    Không tồn tại bản ghi
  </h3>

  <ion-card
    *ngFor="let item of dataSource.data"
    class="mt-2 mb-2 animated fadeIn fast"
  >
    <ion-item (click)="viewDetail(item)" class="pt-3 pb-3">
      <ion-label>{{ item.name }}</ion-label>
      <span>{{ item.deadline | date: "H:mm dd-MM-yyyy" }}</span>
      <ion-icon
        name="chevron-forward-outline"
        size="small"
        slot="end"
      ></ion-icon>
    </ion-item>
  </ion-card>

  <ion-infinite-scroll
    *ngIf="dataSource.data.length > 0"
    threshold="15%"
    (ionInfinite)="loadMoreData($event)"
    #infiniteScroll
  >
    <ion-infinite-scroll-content> </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>
