<app-nav-bar class="d-none d-md-block" [title]="'Sự kiện'"></app-nav-bar>

<!-- nav bar mobile start -->
<app-nav-bar-custome class="d-md-none" [title]="'Sự kiện'">
  <div start>
    <ion-button (click)="onBack()">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>
  </div>

  <div *ngIf="isManageEvent" end>
    <table-icon
      (onUpdateEvent)="onUpdate()"
      (onDeleteEvent)="onDelete()"
      [vercical]="false"
      [isShowDetail]="false"
    >
      <a
        *ngIf="model.status == 2 && isManageEvent"
        mat-menu-item
        (click)="onEventProcessing()"
      >
        <mat-icon>brightness_5</mat-icon>
        <span>Bắt đầu sự kiện</span>
      </a>
      <a
        *ngIf="model.status == 3 && isManageEvent"
        mat-menu-item
        (click)="onEventFinish()"
      >
        <mat-icon>inventory</mat-icon>
        <span>Kết thúc sự kiện</span>
      </a>
    </table-icon>
  </div>
</app-nav-bar-custome>

<!-- nav bar mobile end -->

<ion-content>
  <div class="m-content-0 m-md-content p-0">
    <ion-segment
      *ngIf="isManageEvent || isManageEquipment || isManageBudget"
      scrollable
      mode="md"
      [(ngModel)]="segment"
      value="detail"
    >
      <ion-segment-button value="detail">
        <ion-label> Chi tiết</ion-label>
      </ion-segment-button>

      <ion-segment-button value="staff">
        <ion-label>Nhân viên</ion-label>
      </ion-segment-button>

      <ion-segment-button *ngIf="isManageEquipment" value="equipment">
        <ion-label> Trang thiết bị </ion-label>
      </ion-segment-button>

      <ion-segment-button *ngIf="isManageBudget" value="budget">
        <ion-label> Chi tiêu </ion-label>
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="segment" class="p-content-segment">
      <!-- detail start -->
      <div *ngSwitchCase="'detail'">
        <div class="d-none d-md-block p-md-0">
          <div *ngIf="!isToggleAttendance"></div>

          <reusable-detail-icon
            [goBackUrl]="'/event/list'"
            (onUpdateEvent)="onUpdate()"
            [deleteUrl]="deleteUrl"
            [deleteParam]="'id'"
            [id]="id"
            [deleteMsg]="'Bạn có chắc muốn xóa sự kiện này?'"
            [deleteSuccessMsg]="'Xoá sự kiện thành công'"
            [isShowDelete]="model.status != 0 && isManageEvent"
            [isShowUpdate]="isManageEvent"
          >
            <ion-button
              *ngIf="this.model.status == 2 && isManageEvent"
              class="custom-btn"
              color="success"
              (click)="onEventProcessing()"
            >
              <span>Bắt đầu sự kiện</span>
            </ion-button>
            <ion-button
              *ngIf="this.model.status == 3 && isManageEvent"
              class="custom-btn"
              color="danger"
              (click)="onEventFinish()"
            >
              <span>Kết thúc sự kiện</span>
            </ion-button>
          </reusable-detail-icon>
        </div>

        <!-- button check in web -->
        <ion-button
          fill="clear"
          *ngIf="isToggleAttendance && model.status == 3 && !isAdmin"
          class="custom-btn btn-attendance"
          ngClass="{{
            !attendanceModel.isCheckIn && !attendanceModel.isCheckOut
              ? 'bg-success'
              : attendanceModel.isCheckIn && !attendanceModel.isCheckOut
              ? 'bg-warning'
              : 'bg-success'
          }}"
          [disabled]="attendanceModel.isCheckIn && attendanceModel.isCheckOut"
          (click)="onClickAttendance()"
        >
          <ion-icon
            class="text-white me-2"
            name="finger-print-outline"
          ></ion-icon>
          <span class="custom-btn">{{
            !attendanceModel.isCheckIn && !attendanceModel.isCheckOut
              ? "Vào ca"
              : attendanceModel.isCheckIn && !attendanceModel.isCheckOut
              ? "Tan ca"
              : "Đã tan ca"
          }}</span>
        </ion-button>

        <!-- button check in web -->

        <div class="mt-4 mt-md-2 p-md-0">
          <div class="d-none d-md-block main-content-header">
            <span class="content-header-text">Chi tiết sự kiện</span>
          </div>

          <reusable-detail-main
            [labels]="labels"
            [data]="[
              model.name,
              model.address,
              model.startDate | date: 'dd/MM/yyyy',
              model.expectedEndDate | date: 'dd/MM/yyyy',
              model.status == 0
                ? 'Huỷ'
                : model.status == 1
                ? 'Đã kết thúc'
                : model.status == 2
                ? 'Sắp diễn ra'
                : 'Đang diễn ra'
            ]"
          >
            <div class="row mx-0">
              <div class="col-lg-2">
                <label class="detail-label my-2">Mô tả</label>
              </div>
              <div class="col-lg-10">
                <p class="detail-content text-description text-secondary my-2">
                  {{ model.description ? model.description : "Không" }}
                </p>
              </div>
            </div>
          </reusable-detail-main>

          <div *ngIf="model.status == 1 && isManageEvent" class="my-3 p-md-0">
            <div class="d-none d-md-block main-content-header">
              <span class="content-header-text">Thống kê</span>
            </div>

            <reusable-detail-main
              [labels]="[
                'Ngày bắt đầu sự kiện',
                'Ngày kết thúc',
                'Người giữ tiền',
                'Thu',
                'Chi',
                'Tổng số tiền'
              ]"
              [data]="[
                model.processDate | date: 'dd/MM/yyyy',
                model.actualEndDate | date: 'dd/MM/yyyy',
                model.cashier?.fullName ? model.cashier?.fullName : 'Không',

                model.income ? (model.income | number) : 0 + ' ₫',
                model.outcome ? (model.outcome | number) : 0 + ' ₫',
                model.totalBudget ? (model.totalBudget | number) : 0 + ' ₫'
              ]"
            >
              <div class="row mx-0">
                <div class="col-lg-2">
                  <label class="detail-label my-2">Ghi chú</label>
                </div>
                <div class="col-lg-10">
                  <p class="detail-content text-secondary my-2">
                    {{ model.note ? model.note : "Không" }}
                  </p>
                </div>
              </div>
            </reusable-detail-main>
          </div>

          <!-- task count start -->
          <div
            class="mt-3 main-content-header d-flex justify-content-between align-items-center p-detail p-md-0"
          >
            <span class="content-header-text">Công việc</span>
            <a routerLink="/task/list" class="content-header-detail"
              >Chi tiết
            </a>
          </div>

          <div
            class="d-flex flex-column flex-xl-row align-items-center justify-content-md-between w-100 p-detail p-md-0"
          >
            <div class="box mb-3 me-xl-3">
              <div class="box-title">Tổng công việc</div>
              <div class="box-count">
                {{ modelReportEvent.numberOfTaskInEvent }}
              </div>
            </div>
            <div
              class="box mb-3 me-xl-3"
              [routerLink]="['/task/history']"
              [queryParams]="{ eid: model.name }"
            >
              <div class="box-title">Hoàn thành</div>
              <div class="box-count">
                {{ modelReportEvent.numberOfFinishTask }}
              </div>
            </div>
            <div
              class="box mb-3"
              [routerLink]="['/task/list']"
              [queryParams]="{ eid: model.id }"
            >
              <div class="box-title">Chưa hoàn thành</div>
              <div class="box-count">
                {{ modelReportEvent.numberOfProcessingTask }}
              </div>
            </div>
          </div>
          <!-- task count end -->
        </div>
      </div>
      <!-- detail end -->

      <!-- detail start -->
      <div *ngSwitchCase="'staff'">
        <app-event-staff-list
          [eventId]="id"
          [eventModel]="model"
          (reload)="onReloadEvent($event)"
        ></app-event-staff-list>
      </div>
      <!-- detail end -->

      <!-- equipment start -->

      <div *ngSwitchCase="'equipment'">
        <app-equipment-list [eventId]="id"></app-equipment-list>
      </div>

      <!-- equipment end -->

      <!-- budget start -->
      <div *ngSwitchCase="'budget'">
        <app-budget-list [eventId]="id"></app-budget-list>
      </div>
    </div>
  </div>
</ion-content>

<app-loading [show]="clientState.isBusy"></app-loading>
