.p-detail {
  padding-left: 12px;
  padding-right: 12px;
}
.btn-attendance {
  margin-left: 12px;
}

.box {
  background-color: #ffffff;
  border-radius: 12px;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 50px;
  cursor: pointer;

  &-title {
    font-size: 25px;
    font-weight: 500;
  }

  &-count {
    font-size: 30px;
    font-weight: 500;
  }

  &:hover {
    color: #595959;
  }
}

.content-header-detail {
  color: #5eacf3;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    color: #7ebdf5;
  }
}

@media (min-width: 576px) {
  .p-content-segment {
    padding: 30px;
  }
  .btn-attendance {
    margin-left: 0;
  }
}
