<div *ngIf="eventId && dataSource.data.length == 0" class="mt-5 text-center">
  <img src="assets/images/empty_state.png" alt="empty-data" />
  <h2>Không tồn tại điểm danh</h2>
</div>
<div *ngIf="dataSource.data.length > 0">
  <table-filter>
    <div class="my-2 p-2 p-md-0">
      <form [formGroup]="searchForm" (ngSubmit)="onFilter()">
        <div class="row mx-0 align-items-baseline">
          <div class="col-md-6 mb-2">
            <mat-form-field class="w-100 search-input" appearance="outline">
              <mat-icon matPrefix>search</mat-icon>

              <input
                matInput
                formControlName="textSearch"
                placeholder="Tên nhân viên"
              />
            </mat-form-field>
          </div>

          <div class="w-100 d-flex justify-content-end mb-2">
            <ion-button
              fill="clear"
              class="custom-btn text-secondary"
              (click)="onResetFilter()"
              type="button"
            >
              Xóa bộ lọc
            </ion-button>
            <ion-button color="primary" class="custom-btn mx-2" type="submit">
              Tìm kiếm
            </ion-button>
          </div>
        </div>
      </form>
    </div>
  </table-filter>

  <div *ngIf="isDoneInit" class="mt-3 p-md-0">
    <div class="main-content">
      <div class="main-content-header mb-4">
        <span class="content-header-text">Danh sách điểm danh</span>
      </div>

      <div class="d-none d-md-flex justify-content-end">
        <app-table-display-columns
          [tableName]="'attendance-home'"
          [baseColumns]="displayedColumns"
          [showColumns]="showColumns"
          (onColumnsChange)="showColumns = $event"
        >
        </app-table-display-columns>
      </div>

      <div class="overflow-auto custom-table">
        <table
          mat-table
          [dataSource]="dataSource"
          class="table table-striped table-hover"
        >
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef style="min-width: 270px">
              Tên nhân viên
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex align-items-center">
                <ion-avatar style="max-width: 2.3rem; max-height: 2.3rem">
                  <img
                    [src]="
                      element.avatar
                        ? element.avatar
                        : 'assets/images/default-avatar.png'
                    "
                    alt=""
                    style="width: 2.3rem; height: 2.3rem"
                  />
                </ion-avatar>

                <h3 class="mb-0 ms-2" style="line-height: 1.2rem">
                  <span>{{ element.fullName }}</span>
                  <br />
                  <span style="font-size: 15px; color: lightslategray">{{
                    element.roleName
                  }}</span>
                </h3>
              </div>
            </td>
          </ng-container>

          <ng-container
            [matColumnDef]="column.name"
            *ngFor="let column of listDate; index as i"
          >
            <th mat-header-cell *matHeaderCellDef class="w-1 text-center">
              {{ column.name }}
            </th>

            <td mat-cell *matCellDef="let element">
              <div [ngSwitch]="onGetValueDate(element.attendances, i)">
                <div *ngSwitchCase="0">
                  <h3 class="m-0">-</h3>
                </div>
                <div *ngSwitchCase="1">
                  <div>
                    <mat-icon class="custom-mat-icon fg-primary text-success"
                      >done</mat-icon
                    >
                  </div>
                  <div>
                    <mat-icon class="custom-mat-icon fg-primary text-danger"
                      >close</mat-icon
                    >
                  </div>
                </div>
                <div *ngSwitchCase="2">
                  <div>
                    <mat-icon
                      class="custom-mat-icon fg-primary text-success seft-align-center"
                      >done</mat-icon
                    >
                  </div>

                  <div>
                    <mat-icon class="custom-mat-icon fg-primary text-success"
                      >done</mat-icon
                    >
                  </div>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="noData">
            <td
              mat-footer-cell
              *matFooterCellDef
              [attr.colspan]="showColumns.length"
              class="text-center"
              style="background-color: rgba(90, 86, 86, 0.23)"
            >
              Không tồn tại bản ghi.
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="showColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: showColumns"
            class="cursor-pointer"
            (click)="onViewDetail(row)"
          ></tr>

          <tr
            mat-footer-row
            *matFooterRowDef="['noData']"
            [ngClass]="{
              'd-none': !(dataSource != null && dataSource.data.length == 0)
            }"
          ></tr>
        </table>
      </div>

      <mat-paginator
        [pageSizeOptions]="pageSizeList"
        [pageSize]="filter.PageSize"
        [length]="pagingModel.totalRecord"
        class="text-md"
        (page)="pageChange($event)"
      ></mat-paginator>
    </div>
  </div>
</div>
