<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="px-2">
    <!-- button back start-->
    <ion-buttons slot="start">
      <ng-content select="[start]"></ng-content>
    </ion-buttons>
    <!-- button back end-->

    <ion-buttons slot="end">
      <ng-content select="[end]"></ng-content>
    </ion-buttons>

    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>
