<app-nav-bar [title]="'Lương'" [isSearch]="false"> </app-nav-bar>

<ion-content>
  <ion-refresher
    *ngIf="isMobile"
    slot="fixed"
    style="margin-top: 4rem; z-index: 999 !important"
    (ionRefresh)="doRefresh($event)"
  >
    <ion-refresher-content refreshingSpinner="bubbles"></ion-refresher-content>
  </ion-refresher>

  <ion-fab
    *ngIf="isManagerPayroll"
    class="d-md-none"
    vertical="bottom"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button class="custom-fab" (click)="onCreate()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="m-content">
    <div *ngIf="isManagerPayroll" class="d-none d-md-flex justify-content-end">
      <ion-button color="primary" class="custom-btn" (click)="onCreate()">
        <ion-icon class="me-1" name="add-outline"></ion-icon>
        <span>Tạo lương</span>
      </ion-button>
    </div>

    <div class="mt-2 d-none d-md-block">
      <div class="main-content">
        <div class="main-content-header">
          <span class="content-header-text">Danh sách lương</span>
        </div>

        <div class="d-none d-sm-flex justify-content-end">
          <app-table-display-columns
            [tableName]="'salary'"
            [baseColumns]="displayedColumns"
            [showColumns]="showColumns"
            (onColumnsChange)="showColumns = $event"
          >
          </app-table-display-columns>
        </div>

        <div class="overflow-auto custom-table">
          <table
            mat-table
            [dataSource]="dataSource"
            class="table table-striped table-hover"
          >
            >
            <ng-container matColumnDef="staff">
              <th mat-header-cell *matHeaderCellDef style="min-width: 250px">
                Tên nhân viên
              </th>
              <td mat-cell *matCellDef="let element">
                <div class="d-flex align-items-center">
                  <ion-avatar style="max-width: 2.3rem; max-height: 2.3rem">
                    <img
                      [src]="
                        element.avatar
                          ? element.avatar
                          : 'assets/images/default-avatar.png'
                      "
                      alt=""
                      style="width: 2.3rem; height: 2.3rem"
                    />
                  </ion-avatar>

                  <h3 class="mb-0 ms-2" style="line-height: 1.2rem">
                    <span>{{ element.fullName }}</span>
                    <br />
                    <span style="font-size: 15px; color: lightslategray">{{
                      element.role.name
                    }}</span>
                  </h3>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef class="w-1">Lương</th>
              <td mat-cell *matCellDef="let element">
                {{ element.salary.value | number }} đ
              </td>
            </ng-container>
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef class="w-1">Loại Lương</th>
              <td mat-cell *matCellDef="let element">
                {{ element.salary.type === 1 ? "Chính thức" : "Bán thời gian" }}
              </td>
            </ng-container>
            <ng-container matColumnDef="action" stickyEnd>
              <th
                mat-header-cell
                *matHeaderCellDef
                class="table-last-col text-center"
                style="width: 120px"
              >
                Thao tác
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                class="table-last-col text-center"
                (click)="$event.stopPropagation()"
              >
                <table-icon
                  [element]="element"
                  (onViewDetailEvent)="onViewDetail(element)"
                  (onUpdateEvent)="onUpdate(element)"
                  [isShowDelete]="false"
                  [isShowUpdate]="isManagerPayroll"
                >
                </table-icon>
              </td>
            </ng-container>

            <ng-container matColumnDef="noData">
              <td
                mat-footer-cell
                *matFooterCellDef
                [attr.colspan]="displayedColumns.length"
                class="text-center"
                style="background-color: rgba(90, 86, 86, 0.23)"
              >
                Không tồn tại bản ghi.
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="showColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: showColumns"
              class="cursor-pointer"
              (click)="onViewDetail(row)"
            ></tr>

            <tr
              mat-footer-row
              *matFooterRowDef="['noData']"
              [ngClass]="{
                'd-none': !(dataSource != null && dataSource.data.length == 0)
              }"
            ></tr>
          </table>
        </div>

        <mat-paginator
          [pageSizeOptions]="pageSizeList"
          [pageSize]="filter.PageSize"
          [length]="pagingModel.totalRecord"
          class="text-md"
          (page)="pageChange($event)"
          #MatPaginator
        ></mat-paginator>
      </div>
    </div>
  </div>

  <div class="mb-mobile m-mobile-content d-md-none">
    <div *ngIf="!this.dataSource.data.length" class="mt-5 text-center">
      <img src="assets/images/empty_state.png" alt="empty-data" />
      <h2>Không tồn tại bản ghi</h2>
    </div>

    <ion-card
      *ngFor="let item of dataSource.data"
      class="mt-2 mb-2 animated fadeIn fast"
    >
      <ion-item (click)="onViewDetail(item)" class="pt-3 pb-3">
        <ion-label>{{ item.fullName }}</ion-label>
        <ion-icon
          name="chevron-forward-outline"
          size="small"
          slot="end"
        ></ion-icon>
      </ion-item>
    </ion-card>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
      <ion-infinite-scroll-content> </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <app-loading [show]="clientState.isBusy"></app-loading>
</ion-content>
