<button mat-icon-button onclick="this.blur()" [matMenuTriggerFor]="menu">
  <mat-icon class="parent-icon"
    >{{ vercical ? "more_horiz" : "more_vert" }}
  </mat-icon>
</button>

<mat-menu #menu="matMenu" class="custom-matMenu">
  <a mat-menu-item (click)="onDelete(element)" *ngIf="isShowDelete">
    <mat-icon>delete_outline</mat-icon>
    <span>Xóa</span>
  </a>
  <a mat-menu-item (click)="onUpdate(element)" *ngIf="isShowUpdate">
    <mat-icon>create</mat-icon>
    <span>Cập nhật </span>
  </a>
  <a mat-menu-item (click)="onViewDetail(element)" *ngIf="isShowDetail">
    <mat-icon>visibility</mat-icon>
    <span>Xem chi tiết</span>
  </a>
  <ng-content></ng-content>
</mat-menu>
