<app-nav-bar
  class="d-none d-md-block"
  [title]="'Chi tiết phiếu lương'"
></app-nav-bar>

<app-nav-bar-custome class="d-md-none" [title]="'Chi tiết phiếu lương'">
  <div start>
    <ion-button (click)="onBack()">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>
  </div>
</app-nav-bar-custome>

<ion-content>
  <div class="m-md-content mb-mobile row mx-0" *ngIf="model">
    <div class="d-none d-md-block">
      <reusable-detail-icon
        [goBackUrl]="'/my-payroll/view'"
        [deleteUrl]="deleteUrl"
        [deleteParam]="'id'"
        [id]="id"
        [isShowDelete]="false"
        [isShowUpdate]="false"
      >
      </reusable-detail-icon>
    </div>
    <!-- btn end  -->

    <div class="mt-2 mt-md-0 d-flex justify-content-end">
      <ion-button
        color="primary"
        *ngIf="model.status === 0 && isManager"
        (click)="onUpdateStatus(1)"
      >
        Xác nhận phiếu lương
      </ion-button>
      <ion-button
        color="primary"
        *ngIf="model.status === 1 && isManager"
        (click)="onUpdateStatus(2)"
      >
        Trả lương
      </ion-button>
    </div>

    <div class="mt-4 mt-md-2 p-0" *ngIf="model">
      <div class="main-content-header">
        <span>Chi tiết phiếu lương</span>
      </div>

      <reusable-detail-main
        [labels]="model.salaryType === 1 ? labelsFulltime : labelsParttime"
        [data]="[
          model.user?.fullName,
          (model.salary | number) + ' đ',
          model.salaryType === 1 ? 'Chính thức' : 'Bán thời gian',
          model.salaryType === 1
            ? model.totalAbsentDays + ' ngày'
            : model.totalDays - model.totalAbsentDays + ' ngày',
          model.startDate | date: 'dd/MM/yyyy',
          model.endDate | date: 'dd/MM/yyyy',
          model.creator?.fullName +
            ' - ' +
            (model.createdDate | date: 'dd/MM/yyyy')
        ]"
      >
        <div class="row mx-0">
          <div class="col-lg-2">
            <label class="detail-label my-2">Trạng thái</label>
          </div>
          <div class="col-lg-10">
            <p class="detail-content text-secondary my-2">
              {{
                model.status == 0
                  ? "Chờ xác nhận"
                  : model.status == 1
                  ? "Đã xác nhận"
                  : "Đã nhận"
              }}
            </p>
          </div>
        </div>
      </reusable-detail-main>
    </div>

    <div class="row mx-0 p-0">
      <div class="col-md-6 ps-md-0 pe-md-2 mt-3">
        <div class="main-content px-3 py-4 h-100">
          <h3 class="text-secondary text-uppercase">Trợ cấp</h3>
          <div class="mt-3">
            <span *ngIf="!model.subsidies">
              <div class="info-group">
                <label class="text-secondary">Không</label>
              </div></span
            >
            <div class="row mx-0">
              <div
                class="col-md-4 col-sm-6"
                *ngFor="let sub of model.subsidies"
              >
                <div class="info-group">
                  <label class="text-secondary">{{ sub.name }} </label>
                  <p class="font-weight-600">{{ sub.value | number }} đ</p>
                </div>
              </div>
            </div>
          </div>
          <h3 class="text-secondary text-uppercase mt-3">Ứng lương</h3>
          <div class="info-group">
            <p>{{ model.totalSalaryAdvance | number }} đ</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 pe-md-0 ps-md-2 mt-3">
        <div class="main-content px-3 py-4 h-100">
          <h3 class="text-secondary text-uppercase">Tăng giảm lương</h3>
          <div class="mt-3">
            <h4 class="text-uppercase">Tăng</h4>
            <div *ngIf="!add.length">
              <div class="info-group">
                <label class="text-secondary">Không</label>
              </div>
            </div>
            <div class="row mx-0">
              <div class="col-md-4 col-sm-6 ps-0" *ngFor="let item of add">
                <div class="info-group">
                  <label class="text-secondary">{{ item[0] }} </label>
                  <p class="font-weight-600">{{ item[1] | number }} đ</p>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-3">
            <h4 class="text-uppercase">Giảm</h4>
            <div *ngIf="!subtract.length">
              <div class="info-group">
                <label class="text-secondary">Không</label>
              </div>
            </div>
            <div class="row mx-0">
              <div class="col-md-4 col-sm-6" *ngFor="let item of subtract">
                <div class="info-group">
                  <label class="text-secondary">{{ item[0] }} </label>
                  <p class="font-weight-600">{{ item[1] | number }} đ</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="mt-3">Tổng: {{ model.total | number }} đ</h2>
  </div>
</ion-content>

<app-loading [show]="clientState.isBusy"></app-loading>
