<div class="fixed">
  <ion-fab class="d-md-none" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="custom-fab" (click)="presentBudgetModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>

<div class="d-none d-md-flex justify-content-between p-3 p-md-0 mb-3">
  <button
    mat-icon-button
    matTooltip="Quay lại"
    class="d-none d-md-block"
    #tooltipBack="matTooltip"
    (mousedown)="tooltipBack.hide()"
    (click)="onBack()"
  >
    <mat-icon class="custom-mat-icon fg-primary">arrow_back</mat-icon>
  </button>
  <ion-button color="primary" class="custom-btn" (click)="presentBudgetModal()">
    <ion-icon class="me-1" name="add-outline"></ion-icon>
    <span>Thêm mới</span>
  </ion-button>
</div>

<!-- task count start -->
<div
  class="d-flex flex-column flex-xl-row align-items-center justify-content-md-between w-100 p-detail p-md-0"
>
  <div class="box mb-3 me-md-3">
    <div class="box-title">Tổng thu</div>
    <div class="box-count">{{ totalIncome | number }} đ</div>
  </div>
  <div class="box mb-3 me-md-3">
    <div class="box-title">Tổng chi</div>
    <div class="box-count">{{ totalExpense | number }} đ</div>
  </div>
  <div class="box mb-3">
    <div class="box-title">Tổng thu chi</div>
    <div class="box-count">{{ totalIncome - totalExpense | number }} đ</div>
  </div>
</div>
<!-- task count end -->

<div class="p-detail p-md-0 m-md-0">
  <!-- income start -->
  <div>
    <!-- group start -->
    <div
      class="group group-open"
      [class]="!incomeList.length ? 'cursor-auto' : ''"
    >
      <div class="group-title">Thu</div>
    </div>
    <!-- group end -->
    <!-- sub group start -->
    <div class="sub">
      <div *ngIf="!incomeList.length">Không tồn tại khoản thu</div>

      <div
        *ngFor="let income of incomeList; index as i"
        class="sub-parent"
        (click)="toggleIncomeSub(income.id)"
      >
        <div
          class="sub-item d-flex justify-content-between"
          [class]="income.id === openIncomeId ? 'mb-3' : ''"
        >
          <div class="sub-title">{{ income.name }}</div>
          <div class="d-flex align-items-center">
            <div class="sub-quantity me-4">{{ income.price | number }} đ</div>

            <ion-icon
              class="icon-more"
              [matMenuTriggerFor]="menu"
              (click)="$event.stopPropagation()"
              size="small"
              name="ellipsis-vertical"
            ></ion-icon>

            <mat-menu #menu="matMenu" class="custom-matMenu">
              <a mat-menu-item (click)="onDelete(income.id, i)">
                <mat-icon>delete_outline</mat-icon>
                <span>Xóa</span>
              </a>
              <a mat-menu-item (click)="onUpdate(income.id, i)">
                <mat-icon>create</mat-icon>
                <span>Cập nhật </span>
              </a>
            </mat-menu>
          </div>
        </div>

        <!-- description start -->

        <div
          class="description"
          (click)="$event.stopPropagation()"
          *ngIf="income.id === openIncomeId"
        >
          <div class="description-text mb-1 d-flex align-items-center">
            <ion-avatar style="max-width: 2rem; max-height: 2rem">
              <img
                [src]="
                  income.creatorAvatar
                    ? income.creatorAvatar
                    : 'assets/images/default-avatar.png'
                "
                alt="avatar"
                style="width: 2rem; height: 2rem"
              />
            </ion-avatar>
            <span class="ms-2">{{ income.creatorFullName }}</span>
          </div>

          <div class="description-text mb-1">
            Nhóm: {{ income.categoryName }}
          </div>
          <div class="description-text">
            Mô tả: {{ income.description ? income.description : "Không" }}
          </div>
        </div>
        <!-- description end -->
      </div>
      <!-- sub eqiupment end -->
    </div>
    <!-- sub group end -->
  </div>
  <!-- income end -->

  <!-- expense start -->
  <div>
    <!-- group start -->
    <div
      class="group group-open"
      [class]="!expenseList.length ? 'cursor-auto' : ''"
    >
      <div class="group-title">Chi</div>
    </div>
    <!-- group end -->
    <!-- sub group start -->
    <div class="sub">
      <div *ngIf="!expenseList.length">Không tồn tại khoản chi</div>

      <div
        *ngFor="let expense of expenseList; index as i"
        class="sub-parent"
        (click)="toggleExpenseSub(expense.id)"
      >
        <div
          class="sub-item d-flex justify-content-between"
          [class]="expense.id == openExpenseId ? 'mb-3' : ''"
        >
          <div class="sub-title">{{ expense.name }}</div>
          <div class="d-flex align-items-center">
            <div class="sub-quantity me-4">{{ expense.price | number }} đ</div>

            <ion-icon
              class="icon-more"
              [matMenuTriggerFor]="menu"
              (click)="$event.stopPropagation()"
              size="small"
              name="ellipsis-vertical"
            ></ion-icon>

            <mat-menu #menu="matMenu" class="custom-matMenu">
              <a mat-menu-item (click)="onDelete(expense.id, i, true)">
                <mat-icon>delete_outline</mat-icon>
                <span>Xóa</span>
              </a>
              <a mat-menu-item (click)="onUpdate(expense.id, i, true)">
                <mat-icon>create</mat-icon>
                <span>Cập nhật </span>
              </a>
            </mat-menu>
          </div>
        </div>

        <!-- description start -->
        <div
          class="description"
          (click)="$event.stopPropagation()"
          *ngIf="expense.id == openExpenseId"
        >
          <div class="description-text mb-1 d-flex align-items-center">
            <ion-avatar style="max-width: 2rem; max-height: 2rem">
              <img
                [src]="
                  expense.creatorAvatar
                    ? expense.creatorAvatar
                    : 'assets/images/default-avatar.png'
                "
                alt="avatar"
                style="width: 2rem; height: 2rem"
              />
            </ion-avatar>
            <span class="ms-2">{{ expense.creatorFullName }}</span>
          </div>
          <div class="description-text mb-1">
            Nhóm: {{ expense.categoryName }}
          </div>
          <div class="description-text">
            Mô tả: {{ expense.description ? expense.description : "Không" }}
          </div>
        </div>
        <!-- description end -->
      </div>
      <!-- sub eqiupment end -->
    </div>
    <!-- sub group end -->
  </div>
  <!-- Expense end -->
</div>
