<div class="d-md-none">
  <app-nav-bar-modal
    title="{{ data ? 'Cập nhật' : 'Tạo mới' }}"
    (onBackEvent)="onDismissModal()"
    (onActionEvent)="onSubmit()"
  ></app-nav-bar-modal>
</div>

<ion-content class="modal-main">
  <h2 class="d-none d-sm-block">{{ data ? "Cập nhật" : "Tạo mới" }}</h2>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="row mx-0 align-items-baseline">
      <div class="col-lg-12 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Tiêu đề <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <input matInput formControlName="title" placeholder="Nhập tiêu đề" />
          <mat-error
            *ngIf="
              title.invalid && (title.dirty || title.touched || f.submitted)
            "
          >
            <span *ngIf="title.errors?.required"
              >Tiêu đề là trường bắt buộc</span
            >
            <span *ngIf="title.errors?.maxlength"
              >Tiêu đề nằm trong khoảng 1-200 ký tự</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-lg-12 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Nội dung <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <textarea
            matInput
            placeholder="Nhập nội dung"
            [matTextareaAutosize]="true"
            [matAutosizeMinRows]="13"
            [matAutosizeMaxRows]="13"
            formControlName="content"
          ></textarea>

          <mat-error
            *ngIf="
              content.invalid &&
              (content.dirty || content.touched || f.submitted)
            "
          >
            <span *ngIf="content.errors?.required"
              >Nội dung là trường bắt buộc</span
            >

            <span *ngIf="content.errors?.maxlength"
              >Nội dung nằm trong khoảng 1-1000 ký tự</span
            >
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <!-- button save -->
    <div class="col-12 px-0 mt-3 mt-md-0 text-end">
      <ion-button
        fill="clear"
        class="custom-btn d-none d-md-inline-block text-secondary"
        type="button"
        (click)="onDismissModal()"
      >
        Hủy
      </ion-button>
      <ion-button
        color="primary"
        class="custom-btn d-block d-md-inline-block"
        [disabled]="clientState.isBusy || !createForm.dirty"
        type="submit"
      >
        Lưu
      </ion-button>
    </div>
  </form>
</ion-content>
