// FONTS
$default-font-size: 1.6rem;

// COLORS
$primary-text: #151a22;
$bg-main: #f1f5f9;

$primary: #3f51b5;

$white: #ffffff;
$white1: #f2f3f8;
$white2: #e4e8f0;
$white3: #f1f4f6;
$gray-900: #212529;
