.mt-mobile {
  margin-top: 65px;
}

.p-detail {
  padding-left: 12px;
  padding-right: 12px;
}

.bg-lightskyblue {
  background-color: lightskyblue;
}

.box-title {
  font-weight: 500;
  font-size: 18px;
}

.progress-wrapper {
  position: relative;
}

.current {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.count {
  font-weight: 600;
  font-size: 18px;
}

.report-count {
  color: white;
}
canvas {
  background-color: white;
  border-radius: 12px;
}
.box {
  height: 6rem;
  width: 100%;
  align-items: center;
  padding: 1rem;
  border-radius: 12px;
}

ion-badge.budget {
  width: 10rem;
}

.event-name {
  max-width: 300px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @media (max-width: 425px) {
    max-width: 85px;
  }
}
.complete {
  border-left: 5px solid green;
}
.cancel {
  border-left: 5px solid red;
}
.pointer {
  cursor: pointer;
}
.task {
  font-size: 14px;
  padding: 0 0.5rem;
  @media (max-width: 768px) {
    padding: 0;
    margin-right: 1rem;
    font-size: 12px;
    .task-center {
      margin: 0;
      padding: 0;
    }
  }
}
.avatar {
  width: 2rem;
  height: 2rem;
}
@media (max-width: 768px) {
  .staff-name {
    max-width: 150px;
    font-size: 12px;
    margin-left: 0.5rem !important ;
  }
}
.tasks-staff {
  font-size: 16px;
  display: flex;
  @media (max-width: 425px) {
    font-size: 14px;
  }
}
