<table-filter>
  <div class="my-2 p-2 p-md-0">
    <form (ngSubmit)="onSearch()" [formGroup]="searchForm">
      <div class="row mx-0 align-items-baseline">
        <div class="col-md-6">
          <mat-form-field class="w-100 search-input" appearance="outline">
            <mat-icon matPrefix>search</mat-icon>
            <input
              placeholder="Từ ngày"
              matInput
              [matDatepicker]="formDate"
              formControlName="fromDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="formDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #formDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="w-100 search-input" appearance="outline">
            <mat-icon matPrefix>search</mat-icon>
            <input
              placeholder="Đến ngày"
              matInput
              [matDatepicker]="toDate"
              formControlName="toDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="toDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #toDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="w-100 d-flex justify-content-end mb-2">
          <ion-button
            fill="clear"
            class="custom-btn text-secondary"
            (click)="resetFilter()"
            type="button"
          >
            Xóa bộ lọc
          </ion-button>
          <ion-button color="primary" class="custom-btn mx-2" type="submit">
            Tìm kiếm
          </ion-button>
        </div>
      </div>
    </form>
  </div>
</table-filter>
<div class="column w-100">
  <canvas #budgetChart class="my-3"></canvas>
  <canvas #staffChart class="my-3"></canvas>
  <mat-form-field
    *ngIf="data"
    class="search-input my-3 px-3"
    appearance="outline"
  >
    <mat-label>Tên sự kiện</mat-label>
    <mat-select [formControl]="eventId">
      <mat-option [value]="1">Tất cả</mat-option>
      <mat-option *ngFor="let event of data.events" [value]="event.id">{{
        event.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <canvas #taskChart></canvas>
</div>
