ion-toolbar {
  border-bottom: 1px solid #d7d8da;
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
}

ion-title {
  padding-left: 3.5rem !important;
  font-weight: normal !important;
  text-align: start;
}

@media (min-width: 576px) {
  ion-title {
    font-weight: 500 !important;
  }
}
