<ion-content>
  <div class="reset-password-page">
    <div class="reset-password-container w-100">
      <div class="reset-password-title mt-5 mt-md-0">
        <span class="title">Khôi phục mật khẩu</span>
      </div>

      <div class="reset-password-message error-message" *ngIf="isError">
        <span>{{ errorMessage }}</span>
      </div>

      <div class="reset-password-message success-message" *ngIf="isSuccess">
        <span>{{ successMessage }}</span>
      </div>

      <ion-button
        class="mt-3"
        expand="block"
        color="primary"
        routerLink="/auth/login"
      >
        Đăng nhập
      </ion-button>
    </div>
  </div>
</ion-content>
<div class="login-loading">
  <app-loading [show]="clientState.isBusy"></app-loading>
</div>
