<app-nav-bar-modal
  class="d-sm-none"
  title="Thêm mới nhân viên"
  (onBackEvent)="onDismissModal()"
  (onActionEvent)="onSubmit()"
></app-nav-bar-modal>

<ion-content class="modal-main">
  <h2 class="d-none d-sm-block">Thêm mới</h2>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="row mx-0 align-items-baseline">
      <div class="col-12 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Nhân viên <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <input
            formControlName="users"
            readonly
            class="cursor-pointer"
            placeholder="Chọn nhân viên"
            matInput
            (click)="onSelectUserModal()"
            #user
          />

          <mat-error
            *ngIf="
              users.invalid && (users.dirty || users.touched || f.submitted)
            "
          >
            <span *ngIf="users.errors?.required"
              >Tên nhân viên là trường bắt buộc</span
            >
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- button save -->
    <div class="col-12 px-0 mt-3 mt-md-0 text-end">
      <ion-button
        fill="clear"
        class="custom-btn d-none d-md-inline-block text-secondary"
        type="button"
        (click)="onDismissModal()"
      >
        Hủy
      </ion-button>
      <ion-button
        color="primary"
        class="custom-btn d-block d-md-inline-block"
        [disabled]="clientState.isBusy || !createForm.dirty"
        type="submit"
      >
        Lưu
      </ion-button>
    </div>
  </form>
</ion-content>

<app-loading [isModal]="true" [show]="clientState.isBusy"></app-loading>
