<div class="d-md-none">
  <app-nav-bar-modal
    title="{{ id ? 'Cập nhật' : 'Tạo mới' }}"
    (onBackEvent)="onDismissModal()"
  ></app-nav-bar-modal>
</div>

<ion-content class="modal-main">
  <h2 class="d-none d-sm-block">{{ id ? "Cập nhật" : "Tạo mới" }}</h2>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="row mx-0 align-items-baseline">
      <div class="col-12 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Tên phòng ban <span class="text-danger">*</span></label
        >

        <mat-form-field class="w-100" appearance="outline">
          <input
            matInput
            formControlName="name"
            placeholder="Nhập tên phòng ban"
          />
          <mat-error
            *ngIf="name.invalid && (name.dirty || name.touched || f.submitted)"
          >
            <span *ngIf="name.errors?.required"
              >Tên phòng ban là trường bắt buộc</span
            >
            <span *ngIf="name.errors?.maxlength"
              >Tên phòng ban nằm trong khoảng 1-50 ký tự</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 px-0 px-lg-2 mb-2" *ngIf="id && data.deleteEnable">
        <label class="input-label"
          >Trạng thái <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <mat-select formControlName="status">
            <mat-option [value]="1">Hoạt động</mat-option>
            <mat-option [value]="0">Ngưng hoạt động</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 px-0 px-lg-2 mb-3">
      <label class="input-label">Nội dung</label>

      <mat-form-field class="w-100" appearance="outline">
        <textarea
          matInput
          [matTextareaAutosize]="true"
          [matAutosizeMinRows]="10"
          [matAutosizeMaxRows]="10"
          formControlName="description"
          placeholder="Nhập nội dung"
        ></textarea>

        <mat-error
          *ngIf="
            description.invalid &&
            (description.dirty || description.touched || f.submitted)
          "
        >
          <span *ngIf="description.errors?.maxlength"
            >Mô tả nằm trong khoảng 0-500 ký tự</span
          >
        </mat-error>
      </mat-form-field>
    </div>
    <!-- button save -->
    <div class="col-12 px-0 text-end">
      <ion-button
        fill="clear"
        class="custom-btn d-none d-md-inline-block text-secondary"
        type="button"
        (click)="onDismissModal()"
      >
        Hủy
      </ion-button>
      <ion-button
        color="primary"
        class="custom-btn d-block d-md-inline-block"
        [disabled]="clientState.isBusy || !formGroup.dirty"
        type="submit"
      >
        Lưu
      </ion-button>
    </div>
  </form>
</ion-content>
<app-loading [isModal]="true" [show]="clientState.isBusy"></app-loading>
