<div class="d-md-none">
  <app-nav-bar-modal
    title="Cập nhật"
    (onBackEvent)="onDismissModal()"
  ></app-nav-bar-modal>
</div>

<ion-content class="modal-main">
  <h2 class="d-none d-sm-block">Cập nhật</h2>

  <form
    [formGroup]="updateForm"
    *ngIf="data"
    (ngSubmit)="onSubmit()"
    #f="ngForm"
  >
    <div class="row mx-0 align-items-baseline">
      <div class="col-12 px-0 px-lg-2 mb-3">
        <label class="input-label">Nhân viên</label>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput [value]="data.user.fullName" readonly />
        </mat-form-field>
      </div>

      <div class="col-lg-6 px-0 px-lg-2 mb-3">
        <label class="input-label">Ngày bắt đầu</label>
        <mat-form-field class="w-100" appearance="outline">
          <input
            matInput
            [value]="data.startDate | date: 'dd/MM/yyyy'"
            readonly
          />
        </mat-form-field>
      </div>

      <div class="col-lg-6 px-0 px-lg-2 mb-3">
        <label class="input-label">Ngày kết thúc</label>
        <mat-form-field class="w-100" appearance="outline">
          <input
            matInput
            [value]="data.endDate | date: 'dd/MM/yyyy'"
            readonly
          />
        </mat-form-field>
      </div>

      <div class="col-12 px-0 px-lg-2 mb-3">
        <label class="input-label">Thêm lương</label>
      </div>
      <!-- add -->
      <div class="p-0 w-100" formArrayName="addedSalaries">
        <div
          *ngFor="
            let item of updateForm.controls.addedSalaries.controls;
            index as i
          "
        >
          <div class="row mx-0" [formGroupName]="i">
            <div class="col-lg-5 px-0 px-lg-2 mb-2">
              <label class="input-label"
                >Lý do <span class="text-danger">*</span></label
              >
              <mat-form-field class="w-100" appearance="outline">
                <input
                  placeholder="Nhập lý do"
                  matInput
                  formControlName="name"
                  required
                />
              </mat-form-field>
            </div>

            <div class="col-lg-5 px-0 px-lg-2 mb-3">
              <label class="input-label"
                >Giá trị <span class="text-danger">*</span></label
              >
              <mat-form-field class="w-100" appearance="outline">
                <input
                  placeholder="Nhập giá trị"
                  matInput
                  onlynumber
                  formControlName="value"
                  required
                />
              </mat-form-field>
            </div>

            <div
              class="col-12 col-lg-2 px-0 px-lg-2 d-block d-flex justify-content-center align-items-center mb-md-2"
            >
              <button mat-icon-button (click)="removeRowAddedSalaries(i)">
                <ion-icon class="delete-icon" name="trash-outline"></ion-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- button add more -->
      <div class="col-12 px-0 mb-3 px-lg-2">
        <button
          mat-stroked-button
          color="primary"
          type="button"
          (click)="addMoreAddedSalaries()"
        >
          <mat-icon inline="true">add</mat-icon>
        </button>
      </div>

      <div class="col-12 px-0 px-lg-2 mb-3">
        <label class="input-label">Trừ lương</label>
      </div>
      <!-- sub -->
      <div class="p-0 w-100" formArrayName="substractedSalaries">
        <div
          *ngFor="
            let item of updateForm.controls.substractedSalaries.controls;
            index as i
          "
        >
          <div class="row mx-0" [formGroupName]="i">
            <div class="col-lg-5 px-0 px-lg-2 mb-2">
              <label class="input-label"
                >Lý do <span class="text-danger">*</span></label
              >
              <mat-form-field class="w-100" appearance="outline">
                <input
                  placeholder="Nhập lý do"
                  matInput
                  formControlName="name"
                  required
                />
              </mat-form-field>
            </div>

            <div class="col-lg-5 px-0 px-lg-2 mb-3">
              <label class="input-label"
                >Giá trị <span class="text-danger">*</span></label
              >
              <mat-form-field class="w-100" appearance="outline">
                <input
                  placeholder="Nhập giá trị"
                  matInput
                  onlynumber
                  formControlName="value"
                  required
                />
              </mat-form-field>
            </div>

            <div
              class="col-12 col-lg-2 px-0 px-lg-2 d-block d-flex justify-content-center align-items-center mb-md-2"
            >
              <button mat-icon-button (click)="removeRowSubstractedSalaries(i)">
                <ion-icon class="delete-icon" name="trash-outline"></ion-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 px-0 mb-3 px-lg-2">
        <button
          mat-stroked-button
          color="primary"
          type="button"
          (click)="addMoreSubstractedSalaries()"
        >
          <mat-icon inline="true">add</mat-icon>
        </button>
      </div>
    </div>

    <!-- button add more -->
    <div class="col-12 px-0 mt-3 mt-md-0 text-end">
      <ion-button
        fill="clear"
        class="custom-btn d-none d-md-inline-block text-secondary"
        type="button"
        (click)="onDismissModal()"
      >
        Hủy
      </ion-button>
      <ion-button
        color="primary"
        class="custom-btn d-block d-md-inline-block"
        [disabled]="clientState.isBusy || !updateForm.dirty"
        type="submit"
      >
        Lưu
      </ion-button>
    </div>
  </form>
</ion-content>
