<app-nav-bar> </app-nav-bar>

<app-nav-bar-back
  class="d-md-none"
  [title]="'Chi tiết điểm danh'"
></app-nav-bar-back>

<ion-content>
  <ion-refresher
    *ngIf="isMobile"
    slot="fixed"
    style="margin-top: 4rem; z-index: 999 !important"
    (ionRefresh)="doRefresh($event)"
  >
    <ion-refresher-content refreshingSpinner="bubbles"></ion-refresher-content>
  </ion-refresher>

  <div class="m-content-0 m-md-content mb-mobile">
    <div class="d-none d-md-block p-md-0">
      <reusable-detail-icon
        [goBackUrl]="'/attendance-history/list'"
        [isShowDelete]="false"
        [isShowUpdate]="false"
      >
      </reusable-detail-icon>
    </div>
    <!-- btn end  -->
    <div class="mt-4 mt-md-2 p-md-0">
      <div class="main-content-header mb-4">
        <span>Chi tiết điểm danh</span>
      </div>

      <reusable-detail-main
        [labels]="['Tên nhân viên', 'Phòng ban', 'Chức vụ']"
        [data]="[
          attendanceModel[0]?.user.fullName,
          attendanceModel[0]?.user.department.name,
          attendanceModel[0]?.user.role.name
        ]"
      >
        <div class="row mx-0">
          <div class="col-lg-2">
            <label class="detail-label my-2">Số điện thoại</label>
          </div>
          <div class="col-lg-10">
            <p class="detail-content text-secondary my-2">
              {{
                attendanceModel[0]?.user.phone
                  ? attendanceModel[0]?.user.phone
                  : "Không"
              }}
            </p>
          </div>
        </div>
      </reusable-detail-main>

      <!-- list attendance -->
      <div *ngFor="let attendance of attendanceModel; index as i">
        <div class="main-content-header my-4">
          <span class="content-header-text">{{
            attendance.checkInDateTime | date: "dd/MM/yyyy"
          }}</span>
        </div>
        <reusable-detail-main
          [labels]="['Vào ca', 'Tan ca']"
          [data]="[
            attendance.checkInDateTime | date: 'H:mm dd/MM/yyyy',
            !attendance.checkOut
              ? 'Không'
              : (attendance.checkOutDateTime | date: 'H:mm dd/MM/yyyy')
          ]"
        >
          <div class="row mx-0">
            <div class="col-lg-2">
              <label class="detail-label my-2">Tổng</label>
            </div>
            <div class="col-lg-10">
              <p class="detail-content text-secondary my-2">
                {{
                  attendance.checkInDateTime
                    | calculateTime: attendance.checkOutDateTime
                    | date: "HH:mm"
                }}
              </p>
            </div>
          </div>
        </reusable-detail-main>
      </div>
      <!-- list attendance -->
    </div>
  </div>

  <app-loading [show]="clientState.isBusy"></app-loading>
</ion-content>
