ion-segment-button {
  max-width: 100%;
}

.badge-count {
  min-width: 20px;
  width: auto;
  height: 20px;
  padding: 2px 0;
}

@media (min-width: 576px) {
  .p-content-segment {
    padding: 30px;
  }
}
