<app-nav-bar [title]="'Yêu cầu'"></app-nav-bar>

<ion-content>
  <ion-refresher
    *ngIf="isMobile"
    slot="fixed"
    style="margin-top: 4rem; z-index: 999 !important"
    (ionRefresh)="doRefresh($event)"
  >
    <ion-refresher-content refreshingSpinner="bubbles"></ion-refresher-content>
  </ion-refresher>

  <ion-fab
    *ngIf="!isAdmin"
    class="d-md-none"
    vertical="bottom"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button class="custom-fab" (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-segment
    scrollable
    class="m-content p-0"
    mode="md"
    [(ngModel)]="segment"
    value="pending"
  >
    <ion-segment-button value="own">
      <ion-label
        >Yêu cầu của tôi
        <ion-badge class="badge-count" color="secondary">{{
          pagingPendingOwnModel.totalRecord
        }}</ion-badge>
      </ion-label>
    </ion-segment-button>

    <ion-segment-button value="accepted">
      <ion-label
        >Chấp nhận
        <ion-badge class="badge-count" color="success">{{
          totalAccepted
        }}</ion-badge>
      </ion-label>
    </ion-segment-button>

    <ion-segment-button value="denied">
      <ion-label
        >Từ chối
        <ion-badge class="badge-count" color="danger">{{
          totalDenined
        }}</ion-badge>
      </ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="p-content-segment">
    <div *ngIf="!isAdmin" class="d-none d-md-flex justify-content-end">
      <ion-button color="primary" class="custom-btn" (click)="presentModal()">
        <ion-icon class="me-1" name="add-outline"></ion-icon>
        <span>Thêm mới</span>
      </ion-button>
    </div>

    <div [ngSwitch]="segment">
      <div *ngSwitchCase="'own'">
        <table-filter>
          <div class="my-2 p-2 p-md-0">
            <form [formGroup]="searchForm" (ngSubmit)="onFilter()">
              <div class="row mx-0 align-items-baseline">
                <div class="col-12">
                  <mat-form-field
                    class="w-100 search-input"
                    appearance="outline"
                  >
                    <mat-icon matPrefix>search</mat-icon>

                    <input
                      matInput
                      formControlName="textSearch"
                      placeholder="Tiêu đề"
                    />
                  </mat-form-field>
                </div>

                <div class="w-100 d-flex justify-content-end mb-2">
                  <ion-button
                    fill="clear"
                    class="custom-btn text-secondary"
                    (click)="onResetFilter()"
                    type="button"
                  >
                    Xóa bộ lọc
                  </ion-button>
                  <ion-button
                    color="primary"
                    class="custom-btn mx-2"
                    type="submit"
                  >
                    Tìm kiếm
                  </ion-button>
                </div>
              </div>
            </form>
          </div>
        </table-filter>

        <div class="mt-2">
          <div class="main-content d-none d-md-block">
            <div class="main-content-header">
              <span class="content-header-text">Danh sách yêu cầu</span>
            </div>

            <div class="d-none d-md-flex justify-content-end mt-4">
              <app-table-display-columns
                [tableName]="'request-own'"
                [baseColumns]="displayedColumns"
                [showColumns]="showColumns"
                (onColumnsChange)="showColumns = $event"
              >
              </app-table-display-columns>
            </div>

            <div class="overflow-auto custom-table">
              <table
                mat-table
                [dataSource]="dataSource"
                class="table table-striped table-hover"
              >
                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef class="w-3">Tiêu đề</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.title }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="categoryName">
                  <th mat-header-cell *matHeaderCellDef class="w-1">
                    Loại đơn
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.categoryName }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="ownerName">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="min-width: 270px"
                  >
                    Người xử lý
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div class="d-flex align-items-center">
                      <ion-avatar style="max-width: 2.3rem; max-height: 2.3rem">
                        <img
                          [src]="
                            element.acceptedAvatar
                              ? element.acceptedAvatar
                              : 'assets/images/default-avatar.png'
                          "
                          alt=""
                          style="width: 2.3rem; height: 2.3rem"
                        />
                      </ion-avatar>

                      <h3 class="mb-0 ms-2" style="line-height: 1.2rem">
                        <span>{{ element.acceptedName }}</span>
                        <br />
                        <span style="font-size: 15px; color: lightslategray">{{
                          element.acceptedRole
                        }}</span>
                      </h3>
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="createdDate">
                  <th mat-header-cell *matHeaderCellDef class="w-1">
                    Ngày gửi
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.createdDate | date: "H:mm dd/MM/yyyy" }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef class="w-1">
                    Trạng thái
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <ion-badge color="tertiary">
                      <ion-label>Đang xử lý</ion-label>
                    </ion-badge>
                  </td>
                </ng-container>

                <ng-container matColumnDef="noData">
                  <td
                    mat-footer-cell
                    *matFooterCellDef
                    [attr.colspan]="displayedColumns.length"
                    class="text-center"
                    style="background-color: rgba(90, 86, 86, 0.23)"
                  >
                    Không tồn tại bản ghi.
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="showColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: showColumns"
                  class="cursor-pointer"
                  (click)="onViewDetail(row)"
                ></tr>

                <tr
                  mat-footer-row
                  *matFooterRowDef="['noData']"
                  [ngClass]="{
                    'd-none': !(
                      dataSource != null && dataSource.data.length == 0
                    )
                  }"
                ></tr>
              </table>
            </div>

            <mat-paginator
              [pageSizeOptions]="pageSizeList"
              [pageSize]="filter.PageSize"
              [length]="pagingPendingOwnModel.totalRecord"
              class="text-md"
              (page)="pageChange($event)"
              #MatPaginator
            ></mat-paginator>
          </div>
        </div>

        <div class="mb-mobile d-md-none">
          <div *ngIf="!this.dataSource.data.length" class="mt-5 text-center">
            <img src="assets/images/empty_state.png" alt="empty-data" />
            <h2>Không tồn tại bản ghi</h2>
          </div>

          <ion-card
            *ngFor="let item of dataSource.data"
            class="mt-2 mb-2 animated fadeIn fast"
          >
            <ion-item (click)="onViewDetail(item)" class="pt-3 pb-3">
              <ion-label>{{ item.title }}</ion-label>
              <ion-icon
                name="chevron-forward-outline"
                size="small"
                slot="end"
              ></ion-icon>
            </ion-item>
          </ion-card>

          <ion-infinite-scroll
            *ngIf="dataSource.data.length > 0"
            threshold="15%"
            (ionInfinite)="loadMoreData($event)"
            #infiniteScroll
          >
            <ion-infinite-scroll-content> </ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </div>
      </div>

      <div *ngSwitchCase="'accepted'">
        <app-request-list-table
          [data]="responseAccepted"
          [status]="2"
        ></app-request-list-table>
      </div>

      <!-- denied start -->
      <div *ngSwitchCase="'denied'">
        <app-request-list-table
          [data]="responseDenined"
          [status]="0"
        ></app-request-list-table>
      </div>
      <!-- denied end -->
    </div>
  </div>
</ion-content>
<app-loading [show]="clientState.isBusy"></app-loading>
