<ion-button
  fill="clear"
  color="light"
  class="h-small ms-3 m-md-0"
  (click)="toggleSearch()"
>
  <ion-icon class="text-secondary me-2" name="filter-outline"></ion-icon>
  <span class="text-secondary">Bộ lọc</span>
</ion-button>

<section [@slideInOut]="showSearchField" style="overflow: hidden">
  <ng-content></ng-content>
</section>
