<div class="d-md-none">
  <app-nav-bar-modal
    title="Thêm mới nhân viên"
    (onBackEvent)="onDismissModal()"
  ></app-nav-bar-modal>
</div>

<ion-content class="modal-main">
  <h2 class="d-none d-sm-block">Thêm mới nhân viên</h2>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="row mx-0 align-items-baseline">
      <div class="col-lg-6 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Họ và tên <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <input
            matInput
            formControlName="fullName"
            placeholder="Nhập họ và tên"
          />

          <mat-error
            *ngIf="
              fullName.invalid &&
              (fullName.dirty || fullName.touched || f.submitted)
            "
          >
            <span *ngIf="fullName.errors?.required"
              >Họ và tên là trường bắt buộc</span
            >
            <span *ngIf="fullName.errors?.minlength"
              >Họ và tên nằm trong khoảng 5-50 ký tự</span
            >
            <span *ngIf="fullName.errors?.maxlength"
              >Họ và tên nằm trong khoảng 5-50 ký tự</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-lg-6 px-0 px-lg-2 mb-3">
        <label class="input-label">Ngày sinh</label>
        <mat-form-field class="w-100" appearance="outline">
          <input
            matInput
            [matDatepicker]="dateDobMat"
            formControlName="doB"
            placeholder="Chọn ngày sinh"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="dateDobMat"
          ></mat-datepicker-toggle>
          <mat-datepicker #dateDobMat></mat-datepicker>

          <mat-error
            *ngIf="doB.invalid && (doB.dirty || doB.touched || f.submitted)"
          >
            <span *ngIf="doB.errors?.yearLessThan18"
              >Ngày sinh không hợp lệ</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-lg-6 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Giới tính <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <mat-select formControlName="gender" placeholder="Chọn giới tính">
            <mat-option *ngFor="let g of genderList" [value]="g.value">
              {{ g.label }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              gender.invalid && (gender.dirty || gender.touched || f.submitted)
            "
          >
            <span *ngIf="gender.errors?.required"
              >Giới tính là trường bắt buộc</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-lg-6 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Chứng minh nhân dân/Căn cước công dân
        </label>
        <mat-form-field class="w-100" appearance="outline">
          <input
            matInput
            placeholder="Nhập CMND/CCCD"
            formControlName="identityNumber"
            onlynumber
          />
          <mat-error
            *ngIf="
              identityNumber.invalid &&
              (identityNumber.dirty || identityNumber.touched || f.submitted)
            "
          >
            <span *ngIf="identityNumber.errors?.minlength"
              >CMND/CCCD nằm trong khoảng 9-12 ký tự</span
            >
            <span *ngIf="identityNumber.errors?.maxlength"
              >CMND/CCCD nằm trong khoảng 9-12 ký tự</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-lg-6 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Số điện thoại <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <input
            matInput
            formControlName="phone"
            placeholder="Nhập số điện thoại"
            onlynumber
            required
          />

          <mat-error
            *ngIf="
              phone.invalid && (phone.dirty || phone.touched || f.submitted)
            "
          >
            <span *ngIf="phone.errors?.required"
              >Số điện thoại là trường bắt buộc</span
            >
            <span *ngIf="phone.errors?.minlength"
              >Số điện thoại nằm trong khoảng 10-15 ký tự</span
            >
            <span *ngIf="phone.errors?.maxlength"
              >Số điện thoại nằm trong khoảng 10-15 ký tự</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-lg-6 px-0 px-lg-2 mb-3">
        <label class="input-label">Email</label>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput formControlName="email" placeholder="Nhập email" />

          <mat-error
            *ngIf="
              email.invalid && (email.dirty || email.touched || f.submitted)
            "
          >
            <span *ngIf="email.errors?.maxlength"
              >Email nằm trong khoảng 0-255 ký tự</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-lg-6 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Chức vụ <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <mat-select
            placeholder="Chọn chức vụ"
            msInfiniteScroll
            required
            (infiniteScroll)="onLoadMoreRole()"
            formControlName="roleId"
            (closed)="onResetFilterRole()"
            (keydown)="$event.stopPropagation()"
          >
            <!-- [(ngModel)]="defaultRole" -->

            <ion-item-divider sticky class="custom-ion-divider border-0">
              <ion-searchbar
                padding-start="0"
                mode="md"
                class="custom-search-select custom-search p-0"
                placeholder="Tìm kiếm"
                [debounce]="300"
                showCancelButton="never"
                (ionChange)="onSearchRole($event)"
                #roleSearch
              ></ion-searchbar>
            </ion-item-divider>
            <mat-option *ngFor="let type of roleList" [value]="type.id">
              <h3 class="m-0">
                {{ type.name }}
              </h3>
            </mat-option>

            <h3 class="m-0 p-3 text-secondary" *ngIf="!roleList.length">
              Không tồn tại
            </h3>
          </mat-select>
          <mat-error
            *ngIf="
              roleId.invalid && (roleId.dirty || roleId.touched || f.submitted)
            "
          >
            <span *ngIf="roleId.errors?.required"
              >Chức vụ là trường bắt buộc</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-lg-6 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Phòng ban <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <mat-select
            placeholder="Chọn phòng ban"
            msInfiniteScroll
            (infiniteScroll)="onLoadMoreDepartment()"
            formControlName="departmentId"
            (closed)="onResetFilterDepartment()"
          >
            <ion-item-divider sticky class="custom-ion-divider border-0">
              <ion-searchbar
                padding-start="0"
                mode="md"
                class="custom-search-select custom-search p-0"
                placeholder="Tìm kiếm"
                [debounce]="300"
                showCancelButton="never"
                (ionChange)="onSearchDepartment($event)"
                #departmentSearch
              ></ion-searchbar>
            </ion-item-divider>

            <mat-option *ngFor="let type of departmentList" [value]="type.id">
              <h3 class="m-0">
                {{ type.name }}
              </h3>
            </mat-option>
            <h3 class="m-0 p-3 text-secondary" *ngIf="!departmentList.length">
              Không tồn tại
            </h3>
          </mat-select>

          <mat-error
            *ngIf="
              department.invalid &&
              (department.dirty || department.touched || f.submitted)
            "
          >
            <span *ngIf="department.errors?.required"
              >Phòng ban là trường bắt buộc</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-lg-6 px-0 px-lg-2 mb-3">
        <label class="input-label">Địa chỉ </label>
        <mat-form-field class="w-100" appearance="outline">
          <input
            matInput
            formControlName="address"
            placeholder="Nhập địa chỉ"
          />
          <mat-error
            *ngIf="
              address.invalid &&
              (address.dirty || address.touched || f.submitted)
            "
          >
            <span *ngIf="address.errors?.minlength"
              >Địa chỉ nằm trong khoảng 5-255 ký tự</span
            >
            <span *ngIf="address.errors?.maxlength"
              >Địa chỉ nằm trong khoảng 5-255 ký tự</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-lg-6 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Tên đăng nhập <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <input
            matInput
            formControlName="username"
            placeholder="Nhập tên đăng nhập"
          />
          <mat-error
            *ngIf="
              username.invalid &&
              (username.dirty || username.touched || f.submitted)
            "
          >
            <span *ngIf="username.errors?.required"
              >Tên đăng nhập là trường bắt buộc</span
            >
            <span *ngIf="username.errors?.minlength"
              >Tên đăng nhập nằm trong khoảng 5-50 ký tự</span
            >
            <span *ngIf="username.errors?.maxlength"
              >Tên đăng nhập nằm trong khoảng 5-50 ký tự</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="p-0" formArrayName="advenInfo">
        <div
          *ngFor="
            let item of createForm.controls.advenInfo.controls;
            index as i
          "
        >
          <div class="row mx-0" [formGroupName]="i">
            <div class="col-lg-5 px-0 px-lg-2 mb-3">
              <label class="input-label"
                >Tên trường <span class="text-danger">*</span></label
              >
              <mat-form-field class="w-100" appearance="outline">
                <input
                  matInput
                  formControlName="name"
                  placeholder="Nhập tên trường"
                />

                <mat-error
                  *ngIf="
                    advanceInfo.controls[i].controls.name.invalid &&
                    (advanceInfo.controls[i].controls.name.dirty ||
                      advanceInfo.controls[i].controls.name.touched ||
                      f.submitted)
                  "
                >
                  <span
                    *ngIf="
                      advanceInfo.controls[i].controls.name.errors?.required
                    "
                    >Tên trường là trường bắt buộc</span
                  >
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-lg-5 px-0 px-lg-2 mb-2">
              <label class="input-label"
                >Giá trị <span class="text-danger">*</span></label
              >
              <mat-form-field class="w-100" appearance="outline">
                <input
                  matInput
                  formControlName="value"
                  placeholder="Nhập giá trị"
                />

                <mat-error
                  *ngIf="
                    advanceInfo.controls[i].controls.value.invalid &&
                    (advanceInfo.controls[i].controls.value.dirty ||
                      advanceInfo.controls[i].controls.value.touched ||
                      f.submitted)
                  "
                >
                  <span
                    *ngIf="
                      advanceInfo.controls[i].controls.value.errors?.required
                    "
                    >Giá trị là trường bắt buộc</span
                  >
                </mat-error>
              </mat-form-field>
            </div>

            <div
              class="col-12 col-lg-2 px-0 px-lg-2 d-block d-flex justify-content-center align-items-center mb-md-2"
            >
              <button mat-icon-button (click)="removeRow(i)">
                <ion-icon class="delete-icon" name="trash-outline"></ion-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- button add more -->
      <div class="col-12 px-0 mb-3 px-lg-2">
        <button
          mat-stroked-button
          color="primary"
          type="button"
          (click)="addMore()"
        >
          <mat-icon inline="true">add</mat-icon>
        </button>
      </div>
    </div>

    <!-- button save -->
    <div class="col-12 px-0 mt-3 mt-md-0 text-end">
      <ion-button
        fill="clear"
        class="custom-btn d-none d-md-inline-block text-secondary"
        type="button"
        (click)="onDismissModal()"
      >
        Hủy
      </ion-button>
      <ion-button
        color="primary"
        class="custom-btn d-block d-md-inline-block"
        [disabled]="clientState.isBusy || !createForm.dirty"
        type="submit"
      >
        Lưu
      </ion-button>
    </div>
  </form>
</ion-content>

<app-loading [isModal]="true" [show]="clientState.isBusy"></app-loading>
