<ion-refresher
  *ngIf="isMobile"
  slot="fixed"
  style="margin-top: 4rem; z-index: 999 !important"
  (ionRefresh)="doRefresh($event)"
>
  <ion-refresher-content refreshingSpinner="bubbles"></ion-refresher-content>
</ion-refresher>

<div class="d-none d-md-flex justify-content-between p-3 p-md-0 mb-3">
  <button
    mat-icon-button
    matTooltip="Quay lại"
    class="d-none d-md-block"
    #tooltipBack="matTooltip"
    (mousedown)="tooltipBack.hide()"
    (click)="onBack()"
  >
    <mat-icon class="custom-mat-icon fg-primary">arrow_back</mat-icon>
  </button>

  <ion-button
    *ngIf="isManageEvent"
    class="custom-btn"
    color="primary"
    (click)="presentModal()"
  >
    <ion-icon
      *ngIf="!eventModel?.users?.length"
      class="me-1"
      name="add-outline"
    ></ion-icon>
    <span>Thêm mới</span>
  </ion-button>
</div>

<table-filter>
  <form
    [formGroup]="searchForm"
    (ngSubmit)="onFilter()"
    (keyup.enter)="onFilter()"
  >
    <div class="row mx-0 align-items-baseline">
      <div class="col-12">
        <mat-form-field class="w-100 search-input" appearance="outline">
          <mat-icon matPrefix>search</mat-icon>

          <input
            placeholder="Nhập tên nhân viên"
            matInput
            formControlName="textSearch"
          />
        </mat-form-field>
      </div>

      <div class="w-100 d-flex justify-content-end mb-2">
        <ion-button
          fill="clear"
          class="custom-btn text-secondary"
          (click)="onResetFilter()"
          type="button"
        >
          Xóa bộ lọc
        </ion-button>
        <ion-button color="primary" class="custom-btn mx-2" type="submit">
          Tìm kiếm
        </ion-button>
      </div>
    </div>
  </form>
</table-filter>

<div class="mt-2 d-none d-md-block">
  <div class="main-content">
    <div class="main-content-header">
      <span class="content-header-text"
        >Danh sách nhân viên tham gia sự kiện</span
      >
    </div>
    <div
      class="text-end link-detail my-2"
      routerLink="{{ '/attendance-manage/detail/' + eventId }}"
    >
      Xem chi tiết điểm danh
    </div>

    <div class="d-none d-md-flex justify-content-end">
      <app-table-display-columns
        [tableName]="'event-staff'"
        [baseColumns]="displayedColumns"
        (onColumnsChange)="showColumns = $event"
      >
      </app-table-display-columns>
    </div>

    <div class="overflow-auto custom-table">
      <table mat-table [dataSource]="dataSource" class="table table-hover">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef style="min-width: 270px">
            Tên nhân viên
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <ion-avatar style="max-width: 2.3rem; max-height: 2.3rem">
                <img
                  [src]="
                    element.avatar
                      ? element.avatar
                      : 'assets/images/default-avatar.png'
                  "
                  alt=""
                  style="width: 2.3rem; height: 2.3rem"
                />
              </ion-avatar>

              <h3 class="mb-0 ms-2" style="line-height: 1.2rem">
                <span>{{ element.fullName }}</span>
                <br />
                <span style="font-size: 15px; color: lightslategray">{{
                  element.role.name
                }}</span>
              </h3>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef style="min-width: 120px">
            Số điện thoại
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.phone }}
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef style="min-width: 120px">
            Email
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.email }}
          </td>
        </ng-container>

        <ng-container matColumnDef="department">
          <th mat-header-cell *matHeaderCellDef style="min-width: 120px">
            Phòng ban
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.department?.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action" stickyEnd>
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table-last-col text-center"
            style="width: 120px"
          >
            Thao tác
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="table-last-col text-center"
            (click)="$event.stopPropagation()"
          >
            <table-icon
              [element]="element"
              (onDeleteEvent)="onDeleteMember(element)"
              [isShowDetail]="false"
              [isShowUpdate]="false"
            >
            </table-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="noData">
          <td
            mat-footer-cell
            *matFooterCellDef
            [attr.colspan]="displayedColumns.length"
            class="text-center"
            style="background-color: rgba(90, 86, 86, 0.23)"
          >
            Không tồn tại nhân viên trong sự kiện.
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="showColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: showColumns"
          class="cursor-pointer"
          (click)="onPresentPreviewUser(row.id)"
        ></tr>

        <tr
          mat-footer-row
          *matFooterRowDef="['noData']"
          [ngClass]="{
            'd-none': !(dataSource != null && dataSource.data.length == 0)
          }"
        ></tr>
      </table>
    </div>

    <mat-paginator
      [pageSizeOptions]="pageSizeList"
      [pageSize]="filter.PageSize"
      [length]="pagingModel.totalRecord"
      class="text-md"
      (page)="pageChange($event)"
    ></mat-paginator>
  </div>
</div>

<!-- mobile start -->

<div class="mb-mobile d-md-none">
  <div *ngIf="!this.dataSource.data.length" class="mt-5 text-center">
    <img src="assets/images/empty_state.png" alt="empty-data" />
    <h2>Không tồn tại bản ghi</h2>
  </div>

  <ion-card
    *ngFor="let item of dataSource.data"
    class="mt-2 mb-2 animated fadeIn fast"
  >
    <ion-item (click)="onPresentPreviewUser(item.id)" class="pt-2 pb-2">
      <ion-avatar slot="start">
        <img
          class="h-100"
          style="vertical-align: top"
          [src]="
            item.avatar
              ? item.avatar
              : '../../../../assets/images/default-avatar.png'
          "
        />
      </ion-avatar>
      <ion-label>
        <div class="d-flex flex-column">
          <h3 class="m-0">{{ item.fullName }}</h3>
          <p>{{ item.department.name }}</p>
        </div>
      </ion-label>
      <ion-icon
        name="chevron-forward-outline"
        size="small"
        slot="end"
      ></ion-icon>
    </ion-item>
  </ion-card>

  <ion-infinite-scroll
    *ngIf="dataSource.data.length > 0"
    threshold="15%"
    (ionInfinite)="loadMoreData($event)"
  >
    <ion-infinite-scroll-content> </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>

<app-loading [show]="clientState.isBusy"></app-loading>
