<div class="d-md-none">
  <app-nav-bar-modal
    title="Thêm mới"
    (onBackEvent)="onDismissModal()"
    (onActionEvent)="onSubmit()"
  ></app-nav-bar-modal>
</div>

<ion-content class="modal-main">
  <h2 class="d-none d-sm-block">Thêm mới</h2>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="row mx-0 align-items-baseline">
      <div class="col-12 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Tên nhân viên <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <mat-select
            placeholder="Chọn nhân viên"
            msInfiniteScroll
            formControlName="users"
            multiple
            (closed)="onResetFilter()"
            (infiniteScroll)="onLoadMoreData()"
          >
            <ion-item-divider sticky class="custom-ion-divider border-0">
              <ion-searchbar
                padding-start="0"
                mode="md"
                class="custom-search-select custom-search p-0"
                placeholder="Tìm kiếm"
                [debounce]="300"
                showCancelButton="never"
                (ionChange)="onSearch($event)"
                (keydown)="$event.stopPropagation()"
                #searchbar
              ></ion-searchbar>
            </ion-item-divider>
            <mat-optgroup
              *ngFor="let group of staffList"
              [label]="group.departmentName"
            >
              <mat-option
                *ngFor="let sub of group.users"
                [value]="sub.id"
                color="accent"
              >
                <div class="d-flex align-items-center">
                  <ion-avatar style="max-width: 2.3rem; max-height: 2.3rem">
                    <img
                      [src]="
                        sub.avatar
                          ? sub.avatar
                          : 'assets/images/default-avatar.png'
                      "
                      alt=""
                      style="width: 2.3rem; height: 2.3rem"
                    />
                  </ion-avatar>

                  <h3 class="mb-0 ms-2">
                    <span>{{ sub.fullname }}</span>
                  </h3>
                </div>
              </mat-option>
            </mat-optgroup>

            <h3 class="m-0 p-3 text-secondary" *ngIf="!staffList.length">
              Không tồn tại
            </h3>
          </mat-select>
          <mat-error
            *ngIf="
              users.invalid && (users.dirty || users.touched || f.submitted)
            "
          >
            <span *ngIf="users.errors?.required"
              >Nhân viên là trường bắt buộc</span
            >
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="col-12 px-0 mt-3 mt-md-0 text-end">
      <ion-button
        fill="clear"
        class="custom-btn d-none d-md-inline-block text-secondary"
        type="button"
        (click)="onDismissModal()"
      >
        Hủy
      </ion-button>
      <ion-button
        color="primary"
        class="custom-btn d-block d-md-inline-block"
        [disabled]="clientState.isBusy || !createForm.dirty"
        type="submit"
      >
        Lưu
      </ion-button>
    </div>
  </form>
</ion-content>

<app-loading [isModal]="true" [show]="clientState.isBusy"></app-loading>
