<div class="d-md-none">
  <app-nav-bar-modal
    title="Tạo mới phiếu lương"
    (onBackEvent)="onDismissModal()"
    (onActionEvent)="onSubmit()"
  ></app-nav-bar-modal>
</div>

<ion-content class="modal-main">
  <h2 class="d-none d-sm-block">Tạo mới phiếu lương</h2>

  <form [formGroup]="createForm" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="row mx-0 align-items-baseline">
      <div class="col-12 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Loại nhân viên <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <mat-select
            [formControl]="isFulltime"
            placeholder="Chọn loại nhân viên"
          >
            <mat-option [value]="true">Nhân viên toàn thời gian</mat-option>
            <mat-option [value]="false">Nhân viên bán thời gian</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-12 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Tạo cho <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <mat-select [formControl]="multiple" placeholder="Chọn tạo cho">
            <mat-option [value]="false">Một nhân viên</mat-option>
            <mat-option [value]="true">Nhiều nhân viên</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="multiple.value" class="col-12 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Nhân viên <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <mat-select
            placeholder="Chọn nhân viên"
            msInfiniteScroll
            required
            (infiniteScroll)="onLoadMoreData()"
            formControlName="userId"
            (closed)="onResetFilter()"
            multiple
          >
            <ion-item-divider sticky class="custom-ion-divider border-0">
              <ion-searchbar
                padding-start="0"
                mode="md"
                class="custom-search-select custom-search p-0"
                placeholder="Tìm kiếm"
                [debounce]="300"
                showCancelButton="never"
                (ionChange)="onSearch($event)"
                (keydown)="$event.stopPropagation()"
                #searchbar
              ></ion-searchbar>
            </ion-item-divider>

            <mat-optgroup
              *ngFor="let group of staffList"
              [label]="group.departmentName"
            >
              <mat-option
                *ngFor="let sub of group.users"
                [value]="sub.id"
                color="accent"
              >
                <div class="d-flex align-items-center">
                  <ion-avatar style="max-width: 2.3rem; max-height: 2.3rem">
                    <img
                      [src]="
                        sub.avatar
                          ? sub.avatar
                          : 'assets/images/default-avatar.png'
                      "
                      alt=""
                      style="width: 2.3rem; height: 2.3rem"
                    />
                  </ion-avatar>

                  <h3 class="mb-0 ms-2">
                    <span>{{ sub.fullname }}</span>
                  </h3>
                </div>
              </mat-option>
            </mat-optgroup>
            <h3 class="m-0 p-3 text-secondary" *ngIf="!staffList.length">
              Không tồn tại
            </h3>
          </mat-select>
          <mat-error
            *ngIf="
              userId.invalid && (userId.dirty || userId.touched || f.submitted)
            "
          >
            <span *ngIf="userId.errors?.required"
              >Nhân viên là trường bắt buộc</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="!multiple.value" class="col-12 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Nhân viên <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <mat-select
            placeholder="Chọn nhân viên"
            msInfiniteScroll
            (infiniteScroll)="onLoadMoreData()"
            formControlName="userId"
            (closed)="onResetFilter()"
          >
            <ion-item-divider sticky class="custom-ion-divider border-0">
              <ion-searchbar
                padding-start="0"
                mode="md"
                class="custom-search-select custom-search p-0"
                placeholder="Tìm kiếm"
                [debounce]="300"
                showCancelButton="never"
                (ionChange)="onSearch($event)"
                (keydown)="$event.stopPropagation()"
                #searchbar
              ></ion-searchbar>
            </ion-item-divider>

            <mat-optgroup
              *ngFor="let group of staffList"
              [label]="group.departmentName"
            >
              <mat-option
                *ngFor="let sub of group.users"
                [value]="sub.id"
                color="accent"
              >
                <div class="d-flex align-items-center">
                  <ion-avatar style="max-width: 2.3rem; max-height: 2.3rem">
                    <img
                      [src]="
                        sub.avatar
                          ? sub.avatar
                          : 'assets/images/default-avatar.png'
                      "
                      alt=""
                      style="width: 2.3rem; height: 2.3rem"
                    />
                  </ion-avatar>

                  <h3 class="mb-0 ms-2">
                    <span>{{ sub.fullname }}</span>
                  </h3>
                </div>
              </mat-option>
            </mat-optgroup>
            <h3 class="m-0 p-3 text-secondary" *ngIf="!staffList">
              Không tồn tại
            </h3>
          </mat-select>
          <mat-error
            *ngIf="
              userId.invalid && (userId.dirty || userId.touched || f.submitted)
            "
          >
            <span *ngIf="userId.errors?.required"
              >Nhân viên là trường bắt buộc</span
            >
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 px-0 px-lg-2 mb-3" *ngIf="!isFulltime.value">
        <label class="input-label"
          >Ngày bắt đầu <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <input
            placeholder="Chọn ngày bắt đầu"
            matInput
            [matDatepicker]="dateStartMat"
            required
            formControlName="startDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="dateStartMat"
          ></mat-datepicker-toggle>
          <mat-datepicker #dateStartMat></mat-datepicker>

          <mat-error
            *ngIf="
              startDate.invalid &&
              (startDate.dirty || startDate.touched || f.submitted)
            "
          >
            <span *ngIf="startDate.errors?.required"
              >Ngày bắt đầu là trường bắt buộc</span
            >
            <span *ngIf="startDate.errors?.startDateLessThanEndDate"
              >Ngày bắt đầu không được lớn hơn ngày kết thúc</span
            >
            <span *ngIf="startDate.errors?.lessThanDateNow"
              >Ngày bắt đầu không được lớn hơn ngày hiện tại</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Ngày kết thúc <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <input
            placeholder="Chọn ngày kết thúc"
            matInput
            [matDatepicker]="dateEndMat"
            required
            formControlName="endDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="dateEndMat"
          ></mat-datepicker-toggle>
          <mat-datepicker #dateEndMat></mat-datepicker>

          <mat-error
            *ngIf="
              endDate.invalid &&
              (endDate.dirty || endDate.touched || f.submitted)
            "
          >
            <span *ngIf="endDate.errors?.required"
              >Ngày kết thúc là trường bắt buộc</span
            >

            <span *ngIf="endDate.errors?.endDateLessThanStartDate"
              >Ngày kết thúc không được nhỏ hơn ngày bắt đầu</span
            >
            <span *ngIf="endDate.errors?.lessThanDateNow"
              >Ngày kết thúc không được nhỏ hơn ngày hiện tại</span
            >
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="col-12 px-0 mt-3 mt-md-0 text-end">
      <ion-button
        fill="clear"
        class="custom-btn d-none d-md-inline-block text-secondary"
        type="button"
        (click)="onDismissModal()"
      >
        Hủy
      </ion-button>
      <ion-button
        color="primary"
        class="custom-btn d-block d-md-inline-block"
        [disabled]="clientState.isBusy || !createForm.dirty"
        type="submit"
      >
        Lưu
      </ion-button>
    </div>
  </form>
</ion-content>

<app-loading [show]="clientState.isBusy"></app-loading>
