<div class="d-none d-md-block">
  <app-nav-bar [title]="'Chi tiết yêu câu'"></app-nav-bar>
</div>

<app-nav-bar-custome class="d-md-none" [title]="'Chi tiết yêu câu'">
  <div start>
    <ion-button (click)="onBack()">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>
  </div>

  <div end>
    <table-icon
      [vercical]="true"
      [isShowDelete]="false"
      [isShowUpdate]="false"
      [isShowDetail]="false"
    >
    </table-icon>
  </div>
</app-nav-bar-custome>

<ion-content>
  <ion-refresher
    *ngIf="isMobile"
    slot="fixed"
    style="margin-top: 4rem; z-index: 999 !important"
    (ionRefresh)="doRefresh($event)"
  >
    <ion-refresher-content refreshingSpinner="bubbles"></ion-refresher-content>
  </ion-refresher>

  <div class="m-content-0 m-md-content mb-mobile">
    <div class="d-none d-md-block p-md-0">
      <reusable-detail-icon
        [isShowDelete]="false"
        [isShowUpdate]="false"
        [goBackUrl]="'/request-history/list'"
      >
      </reusable-detail-icon>
    </div>
    <!-- btn end  -->

    <div class="mt-4 mt-md-2 p-md-0">
      <div class="main-content-header mb-4">
        <span class="content-header-text">Chi tiết yêu cầu</span>
      </div>

      <reusable-detail-main
        [labels]="labels"
        [data]="[
          model.ownerName,
          model.status == 0
            ? 'Từ chối'
            : model.status == 1
            ? 'Đang xử lý'
            : 'Chấp thuận',
          model.title,
          model.categoryName,
          model.createdDate | date: 'H:mm dd/MM/yyyy'
        ]"
      >
        <div class="row mx-0">
          <div class="col-lg-2">
            <label class="detail-label my-2">Nội dung</label>
          </div>
          <div class="col-lg-10">
            <p class="detail-content text-secondary my-2">
              {{ model.content ? model.content : "Không" }}
            </p>
          </div>
        </div>
      </reusable-detail-main>
    </div>

    <div *ngIf="model.status != 1" class="mt-4 p-md-0">
      <div class="main-content-header mb-4">
        <span class="content-header-text">Kết quả</span>
      </div>

      <reusable-detail-main
        [labels]="['Người duyệt', 'Ngày duyệt']"
        [data]="[
          model.acceptedName,

          model.acceptDate | date: 'H:mm dd/MM/yyyy',
          model.replyMessage
        ]"
      >
        <div class="row mx-0">
          <div class="col-lg-2">
            <label class="detail-label my-2">Nội dung</label>
          </div>
          <div class="col-lg-10">
            <p class="detail-content text-secondary my-2">
              {{ model.replyMessage ? model.replyMessage : "Không" }}
            </p>
          </div>
        </div>
      </reusable-detail-main>
    </div>
  </div>

  <app-loading [show]="clientState.isBusy"></app-loading>
</ion-content>
