label {
  margin-bottom: 3px;
}
.mr-4 {
  margin-right: 2rem !important;
}

.profile-image {
  padding: 0;
  width: 7.5rem;
  height: 7.5rem;
  display: block;
  margin: 0 auto;
}

.m-img {
  margin-right: 12px;
}

.outer {
  width: 100%;
  height: 100%;
  max-width: 7.5rem !important;
  max-height: 7.5rem !important;
  margin: auto;
  border-radius: 100%;
  position: relative;
  border: 1px solid #f1f1f1;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.inner {
  background-color: #e7ebef;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.inner-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.5rem;
}

.input-file {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  width: 0;
  height: 0;
}

@media (min-width: 768px) {
  .p-detail {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 1024px) {
  .p-detail {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}
