<app-nav-bar
  class="d-none d-md-block"
  [title]="'Chi tiết nhân viên'"
></app-nav-bar>

<app-nav-bar-custome class="d-md-none" [title]="'Chi tiết nhân viên'">
  <div start>
    <ion-button (click)="onBack()">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>
  </div>

  <div class="pe-1" end>
    <table-icon
      (onUpdateEvent)="onUpdate()"
      (onDeleteEvent)="onDelete()"
      [vercical]="false"
      [isShowDetail]="false"
    >
      <a mat-menu-item (click)="onChangePassword()">
        <mat-icon>password</mat-icon>
        <span>Thay đổi mật khẩu</span>
      </a>
    </table-icon>
  </div>
</app-nav-bar-custome>

<ion-content>
  <ion-refresher
    *ngIf="isMobile"
    slot="fixed"
    style="margin-top: 4rem; z-index: 999 !important"
    (ionRefresh)="doRefresh($event)"
  >
    <ion-refresher-content refreshingSpinner="bubbles"></ion-refresher-content>
  </ion-refresher>

  <div class="m-content-0 m-md-content mb-mobile row mx-0 mt-md-5">
    <div class="d-none d-md-block">
      <reusable-detail-icon
        [goBackUrl]="'/staff/list'"
        (onUpdateEvent)="onUpdate()"
        [deleteUrl]="deleteUrl"
        [deleteParam]="'id'"
        [id]="id"
        [isShowDelete]="isManagerStaff"
        [isShowUpdate]="isManagerStaff"
        class="d-none d-md-block"
        [deleteMsg]="'Bạn có chắc muốn xóa nhân viên này?'"
        [deleteSuccessMsg]="'Xoá nhân viên thành công'"
      >
        <ion-button color="primary" (click)="onChangePassword()">
          Thay đổi mật khẩu
        </ion-button>
      </reusable-detail-icon>
    </div>

    <div class="profile-image mt-3 mt-md-0">
      <div class="outer">
        <img
          [src]="avatarURL ? avatarURL : 'assets/images/default-avatar.png'"
        />

        <div (click)="imageInput.click()" class="inner">
          <input
            class="input-file"
            #imageInput
            type="file"
            accept="image/png,image/jpeg"
            (change)="imageInputChange($event)"
          />
          <div class="inner-icon">
            <ion-icon name="camera"></ion-icon>
          </div>
        </div>
      </div>
    </div>

    <!-- btn end  -->
    <div class="col-12 px-0 mt-md-2">
      <div class="row mx-0">
        <div class="p-detail col-xl-12 mt-3">
          <div class="main-content px-3 py-4 h-100">
            <h3 class="text-secondary text-uppercase">Thông tin cá nhân</h3>
            <div class="mt-3">
              <div class="d-flex mx-0">
                <div class="flex-grow-1">
                  <div class="row mx-0">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                      <label class="text-secondary">Họ và tên </label>
                      <p class="font-weight-600">{{ model.fullName }}</p>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3">
                      <label class="text-secondary">Tên đăng nhập </label>
                      <p class="font-weight-600">{{ model.username }}</p>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3">
                      <label class="text-secondary">Giới tính </label>
                      <p class="font-weight-600">
                        {{ model.gender == 0 ? "Nam" : "Nữ" }}
                      </p>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                      <label class="text-secondary">Địa chỉ </label>
                      <p class="font-weight-600">
                        {{ model.address ? model.address : "---" }}
                      </p>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3">
                      <label class="text-secondary">Ngày sinh </label>
                      <p class="font-weight-600">
                        {{
                          (model.doB | date: "dd/MM/yyyy") == "01/01/0001"
                            ? "---"
                            : (model.doB | date: "dd/MM/yyyy")
                        }}
                      </p>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                      <label class="text-secondary">CMND/CCCD </label>
                      <p class="font-weight-600">
                        {{
                          model.identityNumber ? model.identityNumber : "---"
                        }}
                      </p>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-3">
                      <label class="text-secondary">Số điện thoại </label>
                      <p>{{ model.phone }}</p>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                      <label class="text-secondary">Email </label>
                      <p>{{ model.email ? model.email : "---" }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="p-detail">
          <div class="col-12 mt-3">
            <div class="main-content px-3 py-4 h-100">
              <h3 class="text-secondary text-uppercase">Thông tin hợp đồng</h3>
              <div class="mt-3">
                <div class="row mx-0">
                  <div class="col-md-4 col-lg-4">
                    <label class="text-secondary">Loại lương nhân viên </label>
                    <p>
                      {{
                        model.salary?.type === 1
                          ? "Nhân viên chính thức"
                          : model.salary?.type === 2
                          ? "Nhân viên bán thời gian"
                          : "Chưa tạo lương"
                      }}
                    </p>
                  </div>
                  <div class="col-md-4 col-lg-4">
                    <label class="text-secondary">Phòng ban </label>
                    <p>{{ model.department?.name }}</p>
                  </div>
                  <div class="col-md-4 col-lg-4">
                    <label class="text-secondary">Chức vụ </label>
                    <p>{{ model.role?.name }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 mt-3" *ngIf="model.advenInfo">
            <div class="main-content px-3 py-4 h-100">
              <h3 class="text-secondary text-uppercase">Thông tin thêm</h3>
              <div class="mt-3">
                <div *ngIf="!model.advenInfo.length">
                  <p>Không</p>
                </div>
                <div class="row mx-0">
                  <div
                    class="col-md-4 col-sm-6"
                    *ngFor="let item of model.advenInfo"
                  >
                    <label class="text-secondary">{{ item.name }} </label>
                    <p class="font-weight-600">{{ item.value }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<app-loading [show]="clientState.isBusy"></app-loading>
