<div class="d-none d-md-block">
  <app-nav-bar [title]="'Chi tiết yêu cầu'"></app-nav-bar>
</div>

<app-nav-bar-custome class="d-md-none" [title]="'Chi tiết yêu câu'">
  <div start>
    <ion-button (click)="onBack()">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>
  </div>

  <div end *ngIf="model.status == 1">
    <table-icon
      [vercical]="true"
      [isShowDelete]="false"
      [isShowUpdate]="false"
      [isShowDetail]="false"
    >
    </table-icon>
  </div>
</app-nav-bar-custome>

<ion-content>
  <div class="m-md-content mb-mobile row mx-0">
    <reusable-detail-icon
      [isShowDelete]="false"
      [isShowUpdate]="false"
      [goBackUrl]="'/request/list'"
    >
    </reusable-detail-icon>
    <!-- btn end  -->

    <div class="mt-4 mt-md-2 p-0">
      <div class="main-content-header">
        <span class="content-header-text">Chi tiết yêu cầu</span>
      </div>

      <reusable-detail-main
        [labels]="labels"
        [data]="[
          model.ownerName,
          model.acceptedName,
          model.status == 0
            ? 'Từ chối'
            : model.status == 1
            ? 'Đang xử lý'
            : 'Chấp thuận',
          model.title,
          model.categoryName,
          model.createdDate | date: 'H:mm dd/MM/yyyy'
        ]"
      >
        <div class="row mx-0">
          <div class="col-lg-2">
            <label class="detail-label my-2">Nội dung</label>
          </div>
          <div class="col-lg-10">
            <p class="detail-content text-secondary my-2">
              {{ model.content ? model.content : "Không" }}
            </p>
          </div>
        </div>
      </reusable-detail-main>
    </div>

    <div *ngIf="model.status != 1" class="mt-4 p-0">
      <div class="main-content-header">
        <span class="content-header-text">Kết quả</span>
      </div>

      <reusable-detail-main
        [labels]="['Người duyệt', 'Ngày duyệt']"
        [data]="[
          model.acceptedName,

          model.acceptDate | date: 'H:mm dd/MM/yyyy',
          model.replyMessage
        ]"
      >
        <div class="row mx-0">
          <div class="col-lg-2">
            <label class="detail-label my-2">Nội dung</label>
          </div>
          <div class="col-lg-10">
            <p class="detail-content text-secondary my-2">
              {{ model.replyMessage ? model.replyMessage : "Không" }}
            </p>
          </div>
        </div>
      </reusable-detail-main>
    </div>
  </div>

  <app-loading [show]="clientState.isBusy"></app-loading>
</ion-content>
