.bdr {
  border: 1px solid red;
}
.bdg {
  border: 1px solid green;
}
.bdb {
  border: 1px solid blue;
}

ion-content {
  --background: white !important;
}

.nav-action {
  height: 2.5rem;
}

.p-field {
  padding: 0 12px;
}

.modal-main {
  // padding: 0 1.5rem 1.5rem 1.5rem;
  padding-left: 12px;
  padding-right: 12px;
}

.user-item {
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  padding: 0 0.2rem;

  &:hover {
    background-color: #f1f1f1;
  }
}

.user-role {
  color: lightslategray;
}

.sticky {
  position: sticky;
  background-color: #fff;
  top: 0;
}

.user-left {
  flex-basis: 17rem;
}

.text-department {
  margin-left: 3.5rem;
  color: lightslategray;
}

.btn-select {
  border-radius: 10px;
  margin-left: auto;
  height: 2.8rem;
  padding: 0 1rem;
  background-color: #6eb4f4;
  letter-spacing: -0.03em;
  color: #fff;
  // z-index: -1;
}

.selected {
  background-color: #ff5555;
}

.h-small {
  height: 1rem !important;
}

.btn-select-all {
  padding: 0.2rem;
  margin-bottom: 0.5rem;
  color: #5eacf3;
  cursor: pointer;
  &:hover {
    color: #a6d1f8;
  }
}

@media (min-width: 576px) {
  .modal-main {
    padding: 0 1.5rem 1.5rem 1.5rem;
  }
}
