.forgot-password-page {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forgot-password-title {
  padding-bottom: 8px;
  margin-bottom: 24px;

  .title {
    line-height: 1.5;
    font-size: 30px;
    font-weight: 500;
  }

  .sub-title {
    margin-top: 2rem;
    text-align: center;
    font-weight: 400;
  }
}

.forgot-password-message {
  line-height: 1;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 64px;
  padding: 16px 24px;
  margin-bottom: 12px;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.error-message {
  background: #fdf2f2;
  color: #9b1c1c;
  box-shadow: inset 0 0 0 1px #f98080;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.success-message {
  background: #f3faf7;
  color: #03543f;
  box-shadow: inset 0 0 0 1px #31c48d;
}

@media (min-width: 576px) {
  .forgot-password-page {
    background-color: #f1f5f9;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .forgot-password-container {
    background: #fff;
    width: 100%;
    max-width: 27rem;
    padding: 48px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  .forgot-password-title {
    padding-bottom: 8px;
    margin-bottom: 24px;

    .title {
      line-height: 1.5;
      font-size: 30px;
      font-weight: 500;
    }

    .sub-title {
      margin-top: 2rem;
      text-align: start;
      font-weight: 400;
    }
  }

  .btn-login {
    --padding-start: 2px;
  }
}
