<app-nav-bar-back
  class="d-md-none"
  [title]="'Quên mật khẩu'"
  (onBackEvent)="onBack()"
></app-nav-bar-back>

<ion-content>
  <div class="forgot-password-page">
    <div class="forgot-password-container">
      <div class="forgot-password-title">
        <span class="title d-none d-md-block">Quên mật khẩu</span>
        <div class="sub-title">
          <span
            >Nhập số điện thoại đã đăng kí với tài khoản để đổi mật khẩu</span
          >
        </div>
      </div>

      <div class="forgot-password-message error-message" *ngIf="isError">
        <span>{{ errorMessage }}</span>
      </div>
      <div class="forgot-password-message success-message" *ngIf="isSuccess">
        <span>{{ successMessage }}</span>
      </div>

      <form
        (keyup.enter)="onForgotPassword()"
        [formGroup]="forgotPasswordForm"
        (ngSubmit)="onForgotPassword()"
        novalidate
        autocomplete="off"
        #f="ngForm"
      >
        <div class="row mx-0 align-items-baseline">
          <div class="col-12 px-0">
            <mat-form-field class="w-100" appearance="outline">
              <input
                matInput
                formControlName="phone"
                placeholder="Nhập số điện thoại"
              />
              <mat-error
                *ngIf="
                  phone.invalid && (phone.dirty || phone.touched || f.submitted)
                "
              >
                <span *ngIf="phone.errors?.required"
                  >Số điện thoại là trường bắt buộc</span
                >
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <ion-button
          class="mt-3"
          expand="block"
          color="primary"
          type="submit"
          [disabled]="clientState.isBusy"
        >
          Gửi
        </ion-button>
      </form>

      <div class="mt-3 d-none d-md-flex align-items-center">
        <span class="text-secondary"> Quay trở lại </span>
        <ion-button
          fill="clear"
          class="custom-btn btn-login"
          type="button"
          color="primary"
          routerLink="/auth/login"
        >
          Đăng nhập
        </ion-button>
      </div>
    </div>
  </div>

  <div class="login-loading">
    <app-loading [show]="clientState.isBusy"></app-loading>
  </div>
</ion-content>
