<div class="d-flex justify-content-between">
  <button
    *ngIf="isShowBack"
    mat-icon-button
    matTooltip="Quay lại"
    class="d-none d-md-block"
    #tooltipBack="matTooltip"
    (mousedown)="tooltipBack.hide()"
    (click)="onGoBack()"
  >
    <mat-icon class="custom-mat-icon fg-primary">arrow_back</mat-icon>
  </button>

  <div class="d-flex align-items-center">
    <button
      *ngIf="isShowUpdate"
      mat-icon-button
      matTooltip="Cập nhật"
      class="me-2"
      #tooltipUpdate="matTooltip"
      (mousedown)="tooltipUpdate.hide()"
      onclick="this.blur()"
      (click)="onUpdate()"
    >
      <mat-icon class="custom-mat-icon fg-primary">create</mat-icon>
    </button>

    <button
      *ngIf="isShowDelete"
      mat-icon-button
      matTooltip="Xóa"
      #tooltipDelete="matTooltip"
      (mousedown)="tooltipDelete.hide()"
      onclick="this.blur()"
      (click)="onDelete()"
    >
      <mat-icon color="warn" class="custom-mat-icon">delete_outline </mat-icon>
    </button>

    <ng-content></ng-content>
  </div>
</div>
