.p-detail {
  padding-left: 12px;
  padding-right: 12px;
}
.detail {
  border-radius: 12px;
  background-color: #ffffff;
  padding: 5px 10px;

  &-label {
    font-weight: 500;
  }

  &-content {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .p-detail {
    padding: 0;
  }
}
