<div class="p-detail">
  <div class="detail">
    <div *ngFor="let label of labels; index as i">
      <div class="row mx-0">
        <div class="col-lg-2 border-bottom">
          <label class="detail-label my-2">{{ label }}</label>
        </div>

        <div class="col-lg-10 border-bottom">
          <p class="detail-content text-secondary my-2">
            {{ data[i] ? data[i] : "Không" }}
          </p>
        </div>
      </div>
      <ng-content></ng-content>
    </div>
  </div>
</div>
