<app-nav-bar
  [title]="'Danh sách yêu cầu'"
  [isSearch]="true"
  (onSearchEvent)="onFilter($event)"
>
</app-nav-bar>
<ion-content>
  <ion-refresher
    *ngIf="isMobile"
    slot="fixed"
    style="margin-top: 4rem; z-index: 999 !important"
    (ionRefresh)="doRefresh($event)"
  >
    <ion-refresher-content refreshingSpinner="bubbles"></ion-refresher-content>
  </ion-refresher>

  <div class="m-content">
    <table-filter>
      <div class="my-2 p-2 p-md-0">
        <form [formGroup]="searchForm" (ngSubmit)="onFilter()">
          <div class="row mx-0 align-items-baseline">
            <div class="d-none d-md-block col-md-6">
              <mat-form-field class="w-100 search-input" appearance="outline">
                <mat-icon matPrefix>search</mat-icon>

                <input
                  matInput
                  formControlName="TextSearch"
                  placeholder="Tiêu đề"
                />
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field class="w-100 search-input" appearance="outline">
                <mat-icon matPrefix>search</mat-icon>

                <input
                  matInput
                  formControlName="OwnerName"
                  placeholder="Người gửi đơn"
                />
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field class="w-100 search-input" appearance="outline">
                <mat-icon matPrefix>search</mat-icon>

                <input
                  matInput
                  formControlName="AcceptName"
                  placeholder="Người xử lý"
                />
              </mat-form-field>
            </div>

            <div class="w-100 d-flex justify-content-end mb-2">
              <ion-button
                fill="clear"
                class="custom-btn text-secondary"
                (click)="onResetFilter()"
                type="button"
              >
                Xóa bộ lọc
              </ion-button>
              <ion-button color="primary" class="custom-btn mx-2" type="submit">
                Tìm kiếm
              </ion-button>
            </div>
          </div>
        </form>
      </div>
    </table-filter>

    <div class="mt-2 d-none d-md-block">
      <div class="main-content">
        <div class="main-content-header">
          <span class="content-header-text">Danh sách yêu cầu cần duyệt</span>
        </div>

        <div class="d-none d-md-flex justify-content-end mt-4">
          <app-table-display-columns
            [tableName]="'request-pending-a'"
            [baseColumns]="displayedColumns"
            [showColumns]="showColumns"
            (onColumnsChange)="showColumns = $event"
          >
          </app-table-display-columns>
        </div>
        <div class="overflow-auto custom-table">
          <table
            mat-table
            [dataSource]="dataSource"
            class="table table-striped table-hover"
          >
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef class="w-1">Tiêu đề</th>
              <td mat-cell *matCellDef="let element">
                {{ element.title }}
              </td>
            </ng-container>

            <ng-container matColumnDef="categoryName">
              <th mat-header-cell *matHeaderCellDef class="w-1">Loại đơn</th>
              <td mat-cell *matCellDef="let element">
                {{ element.categoryName }}
              </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef style="min-width: 270px">
                Người yêu cầu
              </th>
              <td mat-cell *matCellDef="let element">
                <div class="d-flex align-items-center">
                  <ion-avatar style="max-width: 2.3rem; max-height: 2.3rem">
                    <img
                      [src]="
                        element.ownerAvatar
                          ? element.ownerAvatar
                          : 'assets/images/default-avatar.png'
                      "
                      alt=""
                      style="width: 2.3rem; height: 2.3rem"
                    />
                  </ion-avatar>

                  <h3 class="mb-0 ms-2" style="line-height: 1.2rem">
                    <span>{{ element.ownerName }}</span>
                    <br />
                    <span style="font-size: 15px; color: lightslategray">{{
                      element.ownerRole
                    }}</span>
                  </h3>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="acceptedName">
              <th mat-header-cell *matHeaderCellDef style="min-width: 270px">
                Người xử lý
              </th>
              <td mat-cell *matCellDef="let element">
                <div class="d-flex align-items-center">
                  <ion-avatar style="max-width: 2.3rem; max-height: 2.3rem">
                    <img
                      [src]="
                        element.acceptedAvatar
                          ? element.acceptedAvatar
                          : 'assets/images/default-avatar.png'
                      "
                      alt=""
                      style="width: 2.3rem; height: 2.3rem"
                    />
                  </ion-avatar>

                  <h3 class="mb-0 ms-2" style="line-height: 1.2rem">
                    <span>{{ element.acceptedName }}</span>
                    <br />
                    <span style="font-size: 15px; color: lightslategray">{{
                      element.acceptedRole
                    }}</span>
                  </h3>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="createdDate">
              <th mat-header-cell *matHeaderCellDef class="w-3">Ngày gửi</th>
              <td mat-cell *matCellDef="let element">
                {{ element.createdDate | date: "H:mm dd/MM/yyyy" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="action" stickyEnd>
              <th
                mat-header-cell
                *matHeaderCellDef
                class="table-last-col text-center"
                style="width: 120px"
              >
                Thao tác
              </th>
              <td
                mat-cell
                *matCellDef="let element; let i = index"
                class="table-last-col text-center"
                (click)="$event.stopPropagation()"
              >
                <button
                  mat-icon-button
                  matTooltip="Từ chối"
                  class="me-2"
                  #tooltipUpdate="matTooltip"
                  (mousedown)="tooltipUpdate.hide()"
                  onclick="this.blur()"
                  (click)="onDeniedRequest(element, i)"
                >
                  <mat-icon class="custom-mat-icon fg-primary text-danger"
                    >close</mat-icon
                  >
                </button>

                <button
                  mat-icon-button
                  matTooltip="Chấp thuận"
                  class="me-2"
                  #tooltipUpdate="matTooltip"
                  (mousedown)="tooltipUpdate.hide()"
                  onclick="this.blur()"
                  (click)="onAcceptedRequest(element, i)"
                >
                  <mat-icon class="custom-mat-icon fg-primary text-success"
                    >done</mat-icon
                  >
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="noData">
              <td
                mat-footer-cell
                *matFooterCellDef
                [attr.colspan]="displayedColumns.length"
                class="text-center"
                style="background-color: rgba(90, 86, 86, 0.23)"
              >
                Không tồn tại bản ghi.
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="showColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: showColumns"
              class="cursor-pointer"
              (click)="onViewDetail(row)"
            ></tr>

            <tr
              mat-footer-row
              *matFooterRowDef="['noData']"
              [ngClass]="{
                'd-none': !(dataSource != null && dataSource.data.length == 0)
              }"
            ></tr>
          </table>
        </div>

        <mat-paginator
          [pageSizeOptions]="pageSizeList"
          [pageSize]="filter.PageSize"
          [length]="pagingModel.totalRecord"
          class="text-md"
          (page)="pageChange($event)"
          #MatPaginator
        ></mat-paginator>
      </div>
    </div>
  </div>

  <div class="mb-mobile d-md-none">
    <div *ngIf="!this.dataSource.data.length" class="mt-5 text-center">
      <img src="assets/images/empty_state.png" alt="empty-data" />
      <h2>Không tồn tại bản ghi</h2>
    </div>

    <ion-card
      *ngFor="let item of dataSource.data"
      class="my-2 animated fadeIn fast"
    >
      <ion-item (click)="onViewDetail(item)">
        <ion-label class="d-flex flex-column">
          <span class="mb-2">{{ item.title }}</span>
          <div class="d-flex align-items-center">
            <img
              [src]="
                item.ownerAvatar
                  ? item.ownerAvatar
                  : 'assets/images/default-avatar.png'
              "
              alt="avatar"
              style="width: 2rem; height: 2rem; border-radius: 100%"
            />
            <span class="ms-2 font-16">{{ item.ownerName }}</span>
          </div></ion-label
        >
        <ion-icon
          name="chevron-forward-outline"
          size="small"
          slot="end"
        ></ion-icon>
      </ion-item>
    </ion-card>

    <ion-infinite-scroll threshold="15%" (ionInfinite)="loadMoreData($event)">
      <ion-infinite-scroll-content> </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>

<app-loading [show]="clientState.isBusy"></app-loading>
