<table-filter>
  <div class="my-2 p-2 p-md-0">
    <form [formGroup]="searchForm" (ngSubmit)="onFilter()">
      <div class="row mx-0 align-items-baseline">
        <div class="col-12">
          <mat-form-field class="w-100 search-input" appearance="outline">
            <mat-icon matPrefix>search</mat-icon>

            <input
              matInput
              formControlName="textSearch"
              placeholder="Tiêu đề"
            />
          </mat-form-field>
        </div>

        <div class="w-100 d-flex justify-content-end mb-2">
          <ion-button
            fill="clear"
            class="custom-btn text-secondary"
            (click)="onResetFilter()"
            type="button"
          >
            Xóa bộ lọc
          </ion-button>
          <ion-button color="primary" class="custom-btn mx-2" type="submit">
            Tìm kiếm
          </ion-button>
        </div>
      </div>
    </form>
  </div>
</table-filter>

<div class="mt-2">
  <div class="main-content d-none d-md-block">
    <div class="main-content-header">
      <span class="content-header-text">Danh sách yêu cầu</span>
    </div>

    <div class="d-none d-md-flex justify-content-end mt-4">
      <app-table-display-columns
        [tableName]="'request-list-table'"
        [baseColumns]="displayedColumns"
        [showColumns]="showColumns"
        (onColumnsChange)="showColumns = $event"
      >
      </app-table-display-columns>
    </div>
    <div class="overflow-auto custom-table">
      <table
        mat-table
        [dataSource]="dataSource"
        class="table table-striped table-hover"
      >
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef class="w-3">Tiêu đề</th>
          <td mat-cell *matCellDef="let element">
            {{ element.title }}
          </td>
        </ng-container>

        <ng-container matColumnDef="categoryName">
          <th mat-header-cell *matHeaderCellDef class="w-1">Loại đơn</th>
          <td mat-cell *matCellDef="let element">
            {{ element.categoryName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="acceptedName">
          <th mat-header-cell *matHeaderCellDef style="min-width: 270px">
            Người duyệt
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <ion-avatar style="max-width: 2.3rem; max-height: 2.3rem">
                <img
                  [src]="
                    element.avatar
                      ? element.avatar
                      : 'assets/images/default-avatar.png'
                  "
                  alt=""
                  style="width: 2.3rem; height: 2.3rem"
                />
              </ion-avatar>

              <h3 class="mb-0 ms-2" style="line-height: 1.2rem">
                <span>{{ element.acceptedName }}</span>
                <br />
                <span style="font-size: 15px; color: lightslategray">{{
                  element.acceptedRole
                }}</span>
              </h3>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef class="w-3">Ngày gửi</th>
          <td mat-cell *matCellDef="let element">
            {{ element.createdDate | date: "H:mm dd/MM/yyyy" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="noData">
          <td
            mat-footer-cell
            *matFooterCellDef
            [attr.colspan]="displayedColumns.length"
            class="text-center"
            style="background-color: rgba(90, 86, 86, 0.23)"
          >
            Không tồn tại bản ghi.
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="showColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: showColumns"
          class="cursor-pointer"
          (click)="onViewDetail(row)"
        ></tr>

        <tr
          mat-footer-row
          *matFooterRowDef="['noData']"
          [ngClass]="{
            'd-none': !(dataSource != null && dataSource.data.length == 0)
          }"
        ></tr>
      </table>
    </div>

    <mat-paginator
      [pageSizeOptions]="pageSizeList"
      [pageSize]="filter.PageSize"
      [length]="pagingModel.totalRecord"
      class="text-md"
      (page)="pageChange($event)"
      #MatPaginator
    ></mat-paginator>
  </div>
</div>

<div class="mb-mobile d-md-none">
  <div *ngIf="!this.dataSource.data.length" class="mt-5 text-center">
    <img src="assets/images/empty_state.png" alt="empty-data" />
    <h2>Không tồn tại bản ghi</h2>
  </div>

  <ion-card
    *ngFor="let item of dataSource.data"
    class="my-2 animated fadeIn fast"
  >
    <ion-item (click)="onViewDetail(item)" class="py-3">
      <ion-label>{{ item.title }}</ion-label>
      <ion-icon
        name="chevron-forward-outline"
        size="small"
        slot="end"
      ></ion-icon>
    </ion-item>
  </ion-card>

  <ion-infinite-scroll
    *ngIf="dataSource.data.length > 0"
    threshold="15%"
    (ionInfinite)="loadMoreData($event)"
    #infiniteScroll
  >
    <ion-infinite-scroll-content> </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>
