<div class="d-md-none">
  <app-nav-bar-modal
    title="Đổi mật khẩu"
    (onBackEvent)="onDismissModal()"
    (onActionEvent)="onSubmit()"
  ></app-nav-bar-modal>
</div>

<ion-content class="modal-main">
  <h2 class="d-none d-sm-block">Đổi mật khẩu</h2>
  <form
    [formGroup]="changePasswordForm"
    (keyup.enter)="onSubmit()"
    (ngSubmit)="onSubmit()"
    #f="ngForm"
  >
    <div class="row mx-0 align-items-baseline">
      <div class="col-12 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Mật khẩu mới <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <input
            placeholder="Nhập mật khẩu mới"
            matInput
            formControlName="newPassword"
            [type]="visibleNewPassword ? 'text' : 'password'"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="
              visibleNewPassword = !visibleNewPassword; $event.stopPropagation()
            "
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="visibleNewPassword"
          >
            <mat-icon>{{
              visibleNewPassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>

          <mat-error
            *ngIf="
              newPassword.invalid &&
              (newPassword.dirty || newPassword.touched || f.submitted)
            "
          >
            <span *ngIf="newPassword.errors?.required"
              >Mật khẩu mới là trường bắt buộc</span
            >

            <span *ngIf="newPassword.errors?.minlength"
              >Mật khẩu mới nằm trong khoảng 8-50 ký tự</span
            >
            <span *ngIf="newPassword.errors?.maxlength"
              >Mật khẩu mới nằm trong khoảng 8-50 ký tự</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Xác nhận mật khẩu mới <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <input
            placeholder="Nhập xác nhận mật khẩu mới"
            matInput
            formControlName="confirmNewPassword"
            [type]="visibleConfirmNewPassword ? 'text' : 'password'"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="
              visibleConfirmNewPassword = !visibleConfirmNewPassword;
              $event.stopPropagation()
            "
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="visibleConfirmNewPassword"
          >
            <mat-icon>{{
              visibleConfirmNewPassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error
            *ngIf="
              confirmNewPassword.invalid &&
              (confirmNewPassword.dirty ||
                confirmNewPassword.touched ||
                f.submitted)
            "
          >
            <span *ngIf="confirmNewPassword.errors?.required"
              >Xác nhận mật khẩu là trường bắt buộc</span
            >
            <span *ngIf="confirmNewPassword.errors?.notMatch"
              >Xác nhận mật khẩu không trùng với mật khẩu</span
            >
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- button save -->
    <div class="col-12 px-0 mt-3 mt-md-0 text-end">
      <ion-button
        fill="clear"
        class="custom-btn d-none d-md-inline-block text-secondary"
        type="button"
        (click)="onDismissModal()"
      >
        Hủy
      </ion-button>
      <ion-button
        color="primary"
        class="custom-btn d-block d-md-inline-block"
        [disabled]="clientState.isBusy || !changePasswordForm.dirty"
        type="submit"
      >
        Cập nhật
      </ion-button>
    </div>
  </form>
</ion-content>

<app-loading [isModal]="true" [show]="clientState.isBusy"></app-loading>
