<app-nav-bar
  class="d-none d-md-block"
  [title]="'Chi tiết thông báo'"
></app-nav-bar>

<app-nav-bar-custome class="d-md-none" [title]="'Chi tiết thông báo'">
  <div start>
    <ion-button (click)="onBack()">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>
  </div>

  <div class="pe-1" end>
    <table-icon
      (onUpdateEvent)="onUpdate()"
      (onDeleteEvent)="onDelete()"
      [vercical]="false"
      [isShowDetail]="false"
    >
    </table-icon>
  </div>
</app-nav-bar-custome>

<ion-content>
  <div class="m-content-0 m-md-content m-mobile-content mb-mobile">
    <div class="d-none d-md-block p-md-0">
      <reusable-detail-icon
        [goBackUrl]="'/notification/list'"
        (onUpdateEvent)="onUpdate()"
        [deleteUrl]="deleteUrl"
        [deleteParam]="'id'"
        [id]="id"
        [deleteMsg]="'Bạn có chắc muốn xóa thông báo này?'"
        [deleteSuccessMsg]="'Xoá thông báo thành công'"
        [isShowDelete]="model.status == 1 && isManageNotification"
        [isShowUpdate]="isManageNotification"
      >
      </reusable-detail-icon>
    </div>

    <div class="main-content mt-md-2">
      <h1 class="content-header">{{ model.title }}</h1>

      <div
        class="content-meta d-flex flex-column flex-md-row align-items-center my-2"
      >
        <ion-avatar style="max-width: 2rem; max-height: 2rem">
          <img
            [src]="
              model.creatorAvatar
                ? model.creatorAvatar
                : 'assets/images/default-avatar.png'
            "
            alt=""
            style="width: 2rem; height: 2rem"
          />
        </ion-avatar>
        <span class="content-author me-md-2 ms-2">{{ model.creator }}</span>
        <span class="content-date">{{
          model.createdDate | date: "H:mm dd/MM/yyyy"
        }}</span>
      </div>
      <p class="content-main">{{ model.content }}</p>
    </div>
  </div>
</ion-content>
<app-loading [show]="clientState.isBusy"></app-loading>
