.content-header {
  font-size: 31px;
  font-weight: 600;
}

.content-meta {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  .content-author {
    font-size: 17px;
    font-weight: 500;
  }

  .content-date {
    font-size: 15px;
    color: #888888;
  }
}

.content-main {
  white-space: pre-line;
  color: #111111;
  font-size: 18px;
  line-height: 1.618;
}

.mb-mobile {
  margin-bottom: 25px;
}

.m-mobile-content {
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 20px;
}

@media (min-width: 576px) {
  .m-mobile-content {
    padding-left: 0;
    padding-right: 0;
  }
  .m-md-content {
    padding: 30px;
    margin-top: 45px;
  }

  .mb-mobile {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .content-date {
    color: #888888;
    &::before {
      content: "●";
      margin-right: 5px;
      color: #888888;
      font-size: 10px;
      padding-bottom: 15px;
    }
  }
}
