<div *ngIf="reportYear">
  <mat-form-field class="search-input my-3" appearance="outline">
    <mat-label>Năm</mat-label>
    <mat-select [formControl]="yearControl">
      <mat-option [value]="2020"> 2020 </mat-option>
      <mat-option [value]="2021"> 2021 </mat-option>
    </mat-select>
  </mat-form-field>
  <div
    class="
      d-flex
      flex-column flex-md-row
      align-items-center
      justify-content-md-between
      w-100
      p-detail p-md-0
    "
  >
    <div class="bg-white box mb-3 me-md-3 pointer">
      <div class="text-dark d-flex flex-column text-center">
        <span class="box-title">Tổng sự kiện</span>
        <span class="count my-3" style="font-size: 32px">{{
          reportYear.numberOfEvent
        }}</span>
      </div>
    </div>
    <div class="bg-white box mb-3 me-md-3 pointer">
      <div class="text-dark d-flex">
        <div class="d-flex flex-column text-center flex-grow-1">
          <span class="box-title">Đúng tiến độ</span>
          <span class="count my-3" style="font-size: 32px">{{
            countEvent[0]
          }}</span>
        </div>
      </div>
    </div>
    <div class="bg-white box mb-3 me-md-3 pointer">
      <div class="text-dark d-flex">
        <div class="d-flex flex-column text-center flex-grow-1">
          <span class="box-title">Chậm tiến độ</span>
          <span class="count my-3" style="font-size: 32px">{{
            countEvent[1]
          }}</span>
        </div>
      </div>
    </div>
    <div class="bg-white box mb-3 pointer">
      <div class="text-dark d-flex">
        <div class="d-flex flex-column text-center flex-grow-1">
          <span class="box-title">Đã huỷ</span>
          <span class="count my-3" style="font-size: 32px">{{
            countEvent[2]
          }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="column w-100">
  <div class="my-3">
    <canvas #eventChart></canvas>
  </div>
  <div class="my-3">
    <canvas #budgetYearChart></canvas>
  </div>
</div>
