.p-detail {
  padding-left: 12px;
  padding-right: 12px;
}

.task-list {
  width: 100%;
  min-width: 12rem;
}

.task-detail {
  width: 100%;
}

.task-item {
  display: flex;
  align-items: center;
  margin: 0.7rem 0;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 8px;
}

.task-name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.bg-lightgray {
  --background: #f1f1f1;
}

.bg-priority-hight {
  background-color: #ffe8e2;
}
.bg-priority-medium {
  background-color: #fdefd7;
}
.bg-priority-low {
  background-color: #c8e8fe;
}

.content-task {
  margin-top: 45px;
  padding-top: 1rem;
}

.main-task-detail {
  margin-top: 20px;
  border-radius: 12px;
  // padding: 5px 10px;
}

@media (min-width: 768px) {
  .task-list {
    width: 30%;
  }

  .main-task-detail {
    margin-top: 0;
    border-radius: 12px;
    letter-spacing: 0.5px;
    background-clip: border-box;
  }
  .main-task-content {
    border-radius: 12px;
    letter-spacing: 0.5px;
    background-clip: border-box;
  }

  .task-content {
    display: flex;
    justify-content: space-between;
    height: 80vh;
  }
}

.progress-wrapper {
  position: relative;
}

.current {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.priority-circle {
  top: 50%;
  left: 50%;
  width: 3.43rem;
  height: 3.43rem;
  position: absolute;
  border-radius: 100%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hight {
  border: 3px solid #e86969;
}

.medium {
  border: 3px solid #fee281;
}

.low {
  border: 3px solid #a1e26d;
}

@media (min-width: 768px) {
  .p-detail {
    padding: 0;
  }
}
