<!-- nav bar list -->
<app-nav-bar
  [title]="'Công việc'"
  [class]="taskId ? 'd-none d-md-block' : ''"
></app-nav-bar>
<!-- nav bar list -->

<!-- nav bar detail -->
<app-nav-bar-custome *ngIf="taskId" [title]="'Công việc'" class="d-md-none">
  <div start>
    <ion-button (click)="closed()">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>
  </div>
</app-nav-bar-custome>
<!-- nav bar detail -->

<ion-content>
  <ion-fab
    *ngIf="isManagerEvent && !taskId"
    class="d-md-none"
    vertical="bottom"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button class="custom-fab" (click)="createTask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-segment
    scrollable
    [class]="taskId ? 'd-none d-md-flex' : ''"
    class="m-content p-0"
    mode="md"
    (ionChange)="changeType()"
    [(ngModel)]="typeTaskSelect"
  >
    <ion-segment-button [value]="1" *ngIf="!isAdmin">
      <ion-label>Công việc của tôi </ion-label>
    </ion-segment-button>
    <ion-segment-button [value]="2">
      <ion-label>Công việc sự kiện</ion-label>
    </ion-segment-button>
    <ion-segment-button [value]="3">
      <ion-label>Công việc ngoài</ion-label>
    </ion-segment-button>
    <ion-segment-button [value]="4">
      <ion-label>Công việc phòng ban </ion-label>
    </ion-segment-button>
    <ion-segment-button [value]="6" *ngIf="isManagerEvent">
      <ion-label>Tất cả </ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="p-content-segment">
    <table-filter [class]="taskId ? 'd-none d-md-block' : ''">
      <div class="my-2 p-2 p-md-0">
        <form
          [formGroup]="searchForm"
          (keyup.enter)="onFilter()"
          (ngSubmit)="onFilter()"
        >
          <div class="row mx-0 align-items-baseline">
            <div class="col-md-6" *ngIf="!hideEventId">
              <mat-form-field class="w-100 search-input" appearance="outline">
                <mat-icon matPrefix>search</mat-icon>
                <mat-select formControlName="eventId" placeholder="Tên sư kiện">
                  <mat-option [value]="1">Tất cả</mat-option>
                  <mat-option *ngFor="let event of events" [value]="event.id">{{
                    event.name
                  }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6" *ngIf="typeTaskSelect != 1">
              <mat-form-field class="w-100 search-input" appearance="outline">
                <mat-icon matPrefix>search</mat-icon>
                <mat-select
                  formControlName="staffNullable"
                  placeholder="Loại công việc"
                >
                  <mat-option [value]="1">Tất cả</mat-option>
                  <mat-option [value]="true">Chưa có người xử lý</mat-option>
                  <mat-option [value]="false">Đã có người xử lý</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100 search-input" appearance="outline">
                <mat-icon matPrefix>search</mat-icon>
                <mat-select formControlName="priority" placeholder="Độ ưu tiên">
                  <mat-option [value]="3">Tất cả</mat-option>
                  <mat-option [value]="2">Cao</mat-option>
                  <mat-option [value]="1">Trung bình</mat-option>
                  <mat-option [value]="0">Thấp</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-6" *ngIf="isManagerEvent && typeTaskSelect != 1">
              <mat-form-field class="w-100 search-input" appearance="outline">
                <mat-icon matPrefix>search</mat-icon>
                <input
                  type="text"
                  matInput
                  placeholder="Nhân viên"
                  formControlName="staffName"
                />
              </mat-form-field>
            </div>

            <div class="w-100 d-flex justify-content-end mb-2">
              <ion-button
                fill="clear"
                class="custom-btn text-secondary"
                (click)="onResetFilter()"
                type="button"
              >
                Xóa bộ lọc
              </ion-button>
              <ion-button color="primary" class="custom-btn mx-2" type="submit">
                Tìm kiếm
              </ion-button>
            </div>
          </div>
        </form>
      </div>
    </table-filter>

    <div class="task-content p-detail p-md-0">
      <!-- task list start -->
      <div
        [class]="taskId ? 'd-none d-md-block ' : ''"
        class="main-task-content task-list me-md-3"
      >
        <div class="d-flex flex-column h-100 justify-content-between">
          <div
            class="overflow-auto flex-grow-1"
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="90"
            [scrollWindow]="false"
            (scrolled)="onLoadMoreData()"
          >
            <div
              *ngFor="let task of tasks; let i = index"
              class="task-item bg-white"
              (click)="taskDetail(task.id)"
            >
              <div class="progress-wrapper me-3">
                <div class="current">
                  {{ completeSubtask[i] }}/{{
                    task.subTasks.length ? task.subTasks.length : 1
                  }}
                </div>
                <div
                  [class]="
                    task.priority == 2
                      ? 'hight'
                      : task.priority == 1
                      ? 'medium'
                      : 'low'
                  "
                  class="priority-circle"
                ></div>
                <round-progress
                  [current]="completeSubtask[i]"
                  [max]="task.subTasks.length ? task.subTasks.length : 1"
                  [color]="
                    task.priority == 2
                      ? '#E86969'
                      : task.priority == 1
                      ? '#FEE281'
                      : '#A1E26D'
                  "
                  [background]="'#eaeaea'"
                  [radius]="35"
                  [stroke]="8"
                  [duration]="500"
                >
                </round-progress>
              </div>
              <div class="d-flex flex-column ms-2 w-100">
                <span
                  class="task-name text-description"
                  style="font-weight: 500"
                >
                  {{ task.name }}
                </span>
                <span class="text-secondary font-16">{{
                  task.deadline | date: "H:mm dd/MM/yyyy"
                }}</span>
              </div>
            </div>

            <!-- task list empty start -->
            <div
              *ngIf="!tasks.length"
              class="h-100 d-flex align-items-center justify-content-center"
            >
              <div style="font-weight: 600; font-size: 18px">
                Chưa có công việc.
              </div>
            </div>
            <!-- task list empty end -->
          </div>

          <!-- btn add start -->
          <div class="text-center d-none d-md-block" *ngIf="isManagerEvent">
            <ion-button
              color="primary"
              class="custom-btn btn-add"
              (click)="createTask()"
            >
              <ion-icon class="me-1" name="add-outline"></ion-icon>
              <span>Thêm mới</span>
            </ion-button>
            <!-- <div class="overlay"></div> -->
          </div>
        </div>
        <!-- btn add end -->
      </div>
      <!-- task list end -->

      <!-- task detail start -->
      <div
        [class]="
          !taskId ? 'd-none d-md-block main-content' : 'w-100 main-task-detail'
        "
        class="task-detail overflow-auto"
        style="margin-top: 0.7rem"
      >
        <div *ngIf="!taskId" class="mt-5 text-center">
          <img src="assets/images/empty_state.png" alt="empty-data" />
          <h2>Lựa chọn công việc</h2>
        </div>

        <app-task-detail
          *ngIf="taskId"
          [id]="taskId"
          (closeDetail)="closed()"
          (reloadTask)="reloadTask()"
        ></app-task-detail>
      </div>
    </div>
    <!-- task detail end -->
  </div>
</ion-content>
