<app-nav-bar class="d-none d-md-block" [title]="'Chi tiết lương'"></app-nav-bar>

<app-nav-bar-custome class="d-md-none" [title]="'Chi tiết lương'">
  <div start>
    <ion-button (click)="onBack()">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>
  </div>

  <div end>
    <table-icon
      (onUpdateEvent)="onUpdate()"
      [isShowDelete]="false"
      [isShowUpdate]="isManagerPayroll"
      [isShowDetail]="false"
      [vercical]="false"
    >
    </table-icon>
  </div>
</app-nav-bar-custome>

<ion-content>
  <div class="m-md-content" *ngIf="model">
    <div class="d-none d-md-block p-md-0">
      <reusable-detail-icon
        [goBackUrl]="'/salary/list'"
        (onUpdateEvent)="onUpdate()"
        [deleteParam]="'id'"
        [id]="id"
        [isShowDelete]="false"
        [isShowUpdate]="isManagerPayroll"
      >
      </reusable-detail-icon>
    </div>

    <div class="mt-4 mt-md-2 p-md-0" *ngIf="model">
      <div class="d-none d-md-block main-content-header">
        <span>Chi tiết lương</span>
      </div>

      <reusable-detail-main
        [labels]="labels"
        [data]="[model?.fullName, (model?.salary?.value | number) + 'đ']"
      >
        <div class="row mx-0">
          <div class="col-lg-2">
            <label class="detail-label my-2">Loại lương</label>
          </div>
          <div class="col-lg-10">
            <p class="detail-content text-description text-secondary my-2">
              {{ model.type === 1 ? "Chính thức" : "Bán thời gian" }}
            </p>
          </div>
        </div>
      </reusable-detail-main>
    </div>

    <div class="p-detail p-md-0">
      <div class="main-content mt-3 px-3 h-100">
        <div class="d-flex align-items-center justify-content-between">
          <h3 class="text-secondary text-uppercase">Trợ cấp</h3>
          <div class="d-flex">
            <div class="mx-3" *ngIf="isManagerPayroll">
              <ion-button color="primary" (click)="deleteSubsidy()">
                Xoá hết
              </ion-button>
            </div>
            <div class="mx-3" *ngIf="isManagerPayroll">
              <ion-button color="primary" (click)="subsidyStaff()">
                Thay đổi
              </ion-button>
            </div>
          </div>
        </div>
        <div class="mt-3">
          <div *ngIf="!model.subsidies">
            <div class="info-group">
              <label class="text-secondary">Không</label>
            </div>
          </div>
          <div class="row mx-0">
            <div class="col-md-4 col-sm-6" *ngFor="let item of model.subsidies">
              <div class="info-group">
                <label class="text-secondary">{{ item.name }}: </label>
                <p class="font-weight-600">
                  {{ item.value | currency: "VND" }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="main-content mt-3 px-3 h-100">
        <div class="d-flex align-items-center justify-content-between">
          <h3 class="text-secondary text-uppercase">Ứng lương</h3>

          <div class="mx-3" *ngIf="isManagerPayroll">
            <ion-button color="primary" (click)="onSalaryAdvance()">
              Thêm ứng lương
            </ion-button>
          </div>
        </div>
        <div class="mt-3">
          <div *ngIf="!salaryAdvance">
            <div class="info-group">
              <label class="text-secondary">Không</label>
            </div>
          </div>
          <div class="row mx-0">
            <div class="col-md-4 col-12" *ngFor="let item of salaryAdvance">
              <div class="info-group">
                <span
                  >{{ item.salaryAdvance.value | number }}đ -
                  {{ item.salaryAdvance.createdDate | date: "dd/MM/yyyy" }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
