<div class="d-md-none">
  <app-nav-bar-modal
    title="{{ equipmentId ? 'Cập nhật' : 'Tạo mới' }}"
    (onBackEvent)="onDismissModal()"
  ></app-nav-bar-modal>
</div>

<ion-content class="modal-main">
  <h2 class="d-none d-sm-block">{{ equipmentId ? "Cập nhật" : "Tạo mới" }}</h2>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="row mx-0 align-items-baseline">
      <div class="col-lg-12 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Tên trang thiết bị <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <input
            matInput
            formControlName="name"
            placeholder="Nhập tên trang thiết bị"
          />
          <mat-error
            *ngIf="name.invalid && (name.dirty || name.touched || f.submitted)"
          >
            <span *ngIf="name.errors?.required"
              >Tên trang thiết bị là trường bắt buộc</span
            >
            <span *ngIf="name.errors?.maxlength"
              >Tên trang thiết bị nằm trong khoảng 1-50 ký tự</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-lg-6 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Số lượng <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <input
            placeholder="Nhập số lượng"
            matInput
            formControlName="quantity"
            maxlength="10"
            onlynumber
          />
          <mat-error
            *ngIf="
              quantity.invalid &&
              (quantity.dirty || quantity.touched || f.submitted)
            "
          >
            <span *ngIf="quantity.errors?.required"
              >Số lượng là trường bắt buộc</span
            >
            <span *ngIf="quantity.errors?.lessThanZero"
              >Số lượng phải lớn hơn 0</span
            >
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-6 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Nhóm <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <mat-select
            placeholder="Chọn nhóm"
            msInfiniteScroll
            (infiniteScroll)="onLoadMoreCategory()"
            formControlName="categoryName"
            (closed)="onResetFilterCategory()"
          >
            <ion-item-divider sticky class="custom-ion-divider border-0">
              <ion-searchbar
                padding-start="0"
                mode="md"
                class="custom-search-select custom-search p-0"
                placeholder="Tìm kiếm"
                [debounce]="300"
                showCancelButton="never"
                (ionChange)="onSearchCategory($event)"
                (keydown)="$event.stopPropagation()"
                #searchbar
              ></ion-searchbar>
            </ion-item-divider>

            <mat-option *ngFor="let type of categoryList" [value]="type.id">
              <h3 class="m-0">
                {{ type.name }}
              </h3>
            </mat-option>
            <h3
              class="mt-1 mb-0 text-center font-weight-bold text-secondary"
              *ngIf="!categoryList.length"
            >
              Chọn từ danh sách hoặc tạo mới
            </h3>
            <mat-option
              *ngIf="!categoryList.length"
              (click)="onCreateCategory()"
            >
              <h3 class="m-0 font-17">
                <span class="material-icons pe-2"> add </span>Tạo mới
              </h3>
            </mat-option>
          </mat-select>

          <mat-error
            *ngIf="
              categoryName.invalid &&
              (categoryName.dirty || categoryName.touched || f.submitted)
            "
          >
            <span *ngIf="categoryName.errors?.required"
              >Nhóm là trường bắt buộc</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-lg-12 px-0 px-lg-2 mb-3">
        <label class="input-label">Mô tả</label>
        <mat-form-field class="w-100" appearance="outline">
          <textarea
            placeholder="Nhập Mô tả"
            matInput
            [matTextareaAutosize]="true"
            [matAutosizeMinRows]="10"
            [matAutosizeMaxRows]="10"
            formControlName="description"
          ></textarea>
          <mat-error
            *ngIf="
              description.invalid &&
              (description.dirty || description.touched || f.submitted)
            "
          >
            <span *ngIf="description.errors?.maxlength"
              >Mô tả nằm trong khoảng 0-500 ký tự</span
            >
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- button save -->
    <div class="col-12 px-0 mt-3 mt-md-0 text-end">
      <ion-button
        fill="clear"
        class="custom-btn d-none d-md-inline-block text-secondary"
        type="button"
        (click)="onDismissModal()"
      >
        Hủy
      </ion-button>
      <ion-button
        color="primary"
        class="custom-btn d-block d-md-inline-block"
        [disabled]="clientState.isBusy || !createForm.dirty"
        type="submit"
      >
        Lưu
      </ion-button>
    </div>
  </form>
</ion-content>
