<app-nav-bar
  title="Thể loại"
  [isSearch]="true"
  (onSearchEvent)="onFilter($event)"
>
</app-nav-bar>

<ion-content>
  <ion-refresher
    *ngIf="isMobile"
    slot="fixed"
    style="margin-top: 4rem; z-index: 999 !important"
    (ionRefresh)="doRefresh($event)"
  >
    <ion-refresher-content refreshingSpinner="bubbles"></ion-refresher-content>
  </ion-refresher>

  <ion-fab class="d-md-none" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="custom-fab" (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="m-content">
    <div class="d-none d-md-flex justify-content-end">
      <ion-button color="primary" class="custom-btn" (click)="presentModal()">
        <ion-icon class="me-1" name="add-outline"></ion-icon>
        <span>Thêm mới</span>
      </ion-button>
    </div>

    <table-filter>
      <div class="my-2 p-2 p-md-0">
        <form [formGroup]="searchForm" (ngSubmit)="onFilter()">
          <div class="row mx-0 align-items-baseline">
            <div class="col-md-6 mb-2">
              <mat-form-field class="w-100 search-input" appearance="outline">
                <mat-icon matPrefix>search</mat-icon>
                <input
                  matInput
                  formControlName="textSearch"
                  placeholder="Tên thể loại"
                />
              </mat-form-field>
            </div>

            <div class="col-md-6 mb-2">
              <mat-form-field class="w-100 search-input" appearance="outline">
                <mat-icon matPrefix>search</mat-icon>

                <mat-select formControlName="type" placeholder="Thể loại">
                  <mat-option *ngFor="let type of types" [value]="type.value">
                    {{ type.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="w-100 d-flex justify-content-end mb-2">
              <ion-button
                fill="clear"
                class="custom-btn text-secondary"
                (click)="onResetFilter()"
                type="button"
              >
                Xóa bộ lọc
              </ion-button>
              <ion-button color="primary" class="custom-btn mx-2" type="submit">
                Tìm kiếm
              </ion-button>
            </div>
          </div>
        </form>
      </div>
    </table-filter>

    <div class="mt-2 d-none d-md-block">
      <div class="main-content">
        <div class="main-content-header">
          <span class="content-header-text">Danh sách thể loại</span>
        </div>

        <div class="d-none d-md-flex justify-content-end">
          <app-table-display-columns
            [tableName]="'category'"
            [baseColumns]="displayedColumns"
            [showColumns]="showColumns"
            (onColumnsChange)="showColumns = $event"
          >
          </app-table-display-columns>
        </div>

        <div class="overflow-auto custom-table">
          <table
            mat-table
            [dataSource]="dataSource"
            class="table table-striped table-hover"
          >
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef class="w-3">
                Tên thể loại
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.name }}
              </td>
            </ng-container>

            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef class="w-2">Tính năng</th>
              <td mat-cell *matCellDef="let element">
                <ion-badge
                  color="{{
                    element.type == 0
                      ? 'success'
                      : element.type == 1
                      ? 'primary'
                      : 'tertiary'
                  }}"
                >
                  <ion-label>
                    {{
                      element.type == 0
                        ? "Trang thiết bị"
                        : element.type == 1
                        ? "Thu chi"
                        : "Yêu cầu"
                    }}
                  </ion-label>
                </ion-badge>
              </td>
            </ng-container>

            <ng-container matColumnDef="action" stickyEnd>
              <th
                mat-header-cell
                *matHeaderCellDef
                class="table-last-col text-center"
                style="width: 120px"
              >
                Thao tác
              </th>
              <td
                mat-cell
                *matCellDef="let element; let i = index"
                class="table-last-col text-center"
                (click)="$event.stopPropagation()"
              >
                <table-icon
                  [element]="element"
                  (onUpdateEvent)="onUpdate(element, i)"
                  (onDeleteEvent)="onDelete(element)"
                  [isShowDetail]="false"
                  [isShowDelete]="
                    element.deleteEnable || element.deleteEnable == undefined
                  "
                >
                </table-icon>
              </td>
            </ng-container>

            <ng-container matColumnDef="noData">
              <td
                mat-footer-cell
                *matFooterCellDef
                [attr.colspan]="displayedColumns.length"
                class="text-center"
                style="background-color: rgba(90, 86, 86, 0.23)"
              >
                Không tồn tại bản ghi.
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="showColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: showColumns"
              class="cursor-pointer"
            ></tr>
            <tr
              mat-footer-row
              *matFooterRowDef="['noData']"
              [ngClass]="{
                'd-none': !(dataSource != null && dataSource.data.length == 0)
              }"
            ></tr>
          </table>
        </div>

        <mat-paginator
          [pageSizeOptions]="pageSizeList"
          [pageSize]="filter.PageSize"
          [length]="pagingModel.totalRecord"
          class="text-md"
          (page)="pageChange($event)"
        ></mat-paginator>
      </div>
    </div>
  </div>

  <!-- mobile start -->

  <div class="mb-mobile d-md-none">
    <div *ngIf="!this.dataSource.data.length" class="mt-5 text-center">
      <img src="assets/images/empty_state.png" alt="empty-data" />
      <h2>Không tồn tại bản ghi</h2>
    </div>

    <ion-card
      *ngFor="let item of dataSource.data; index as i"
      class="my-2 animated fadeIn fast"
    >
      <ion-item>
        <ion-label>
          <div class="d-flex flex-column">
            <span class="mb-1">{{ item.name }}</span>

            <ion-badge
              color="{{
                item.type == 0
                  ? 'success'
                  : item.type == 1
                  ? 'primary'
                  : 'tertiary'
              }}"
            >
              <ion-label>
                {{
                  item.type == 0
                    ? "Trang thiết bị"
                    : item.type == 1
                    ? "Thu chi"
                    : "Yêu cầu"
                }}
              </ion-label>
            </ion-badge>
          </div>
        </ion-label>

        <table-icon
          (onUpdateEvent)="onUpdate(item, i)"
          (onDeleteEvent)="onDelete(item)"
          [isShowDetail]="false"
          [vercical]="false"
        >
        </table-icon>
      </ion-item>
    </ion-card>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
      <ion-infinite-scroll-content> </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <!-- mobile end -->
  <app-loading [show]="clientState.isBusy"></app-loading>
</ion-content>
