<div class="my-2">
  <button mat-button [matMenuTriggerFor]="menu">
    <span class="text-md">Hiển thị cột</span>
    <mat-icon>view_column</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="custom-matMenu">
    <div *ngFor="let col of baseColumns; let i = index">
      <a
        mat-menu-item
        class="d-flex justify-content-between no-hover"
        (click)="$event.stopPropagation(); onChangeColumn(col.id, i)"
      >
        <span class="me-2">{{ col.name }}</span>
        <!-- true -->
        <span *ngIf="showColumns.indexOf(col.id) > -1">
          <mat-icon class="m-0">done</mat-icon>
        </span>
        <!-- false -->
        <span *ngIf="showColumns.indexOf(col.id) == -1">
          <mat-icon class="m-0">close</mat-icon>
        </span>
      </a>
    </div>
  </mat-menu>
</div>
