.p-detail {
  margin-top: 1.5rem;
  padding-left: 12px;
  padding-right: 12px;
}

.fixed {
  position: fixed;
  bottom: 0px;
  right: 0;
}

.box {
  background-color: #ffffff;
  border-radius: 12px;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 50px;

  &-title {
    font-size: 25px;
    font-weight: 500;
  }

  &-count {
    font-size: 30px;
    font-weight: 500;
  }
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0.7rem 1.5rem;
  cursor: pointer;

  &-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  }

  &-carret {
    font-size: 25px;
  }
}

.group-open {
  border-radius: 12px 12px 0 0;
}

.group-close {
  margin-bottom: 0.5rem;
  border-radius: 12px;
}

.sub {
  background-color: #ffffff;
  padding: 0.7rem 1.5rem 1.7rem 1.5rem;

  margin-bottom: 0.5rem;
  border-radius: 0 0 12px 12px;

  &-parent {
    border-top: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
    padding: 1rem 1.5rem;
    cursor: pointer;

    &:last-child {
      border-bottom: 1px solid #c8c8c8;
    }
    &:hover {
      background-color: #f1f1f1;
    }
  }

  &-title {
    font-size: 20px;
    font-weight: 500;
  }

  &-quantity {
    font-size: 18px;
  }

  .icon-more:hover {
    color: #595959;
  }

  .description {
    margin-bottom: 3rem;
    &-text {
      font-size: 18px;
    }
  }
}
