<app-nav-bar-modal
  class="d-sm-none"
  title="Thêm mới nhân viên"
  (onBackEvent)="onDismissModal()"
  (onActionEvent)="onSubmit()"
></app-nav-bar-modal>

<ion-content class="modal-main">
  <h2 class="d-none d-sm-block">Thêm mới</h2>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="row mx-0 align-items-baseline">
      <div class="col-12 px-0 px-lg-2 mb-3">
        <label class="input-label">Trợ cấp</label>
        <mat-form-field class="w-100" appearance="outline">
          <mat-select
            placeholder="Chọn chợ cấp"
            required
            msInfiniteScroll
            (infiniteScroll)="onLoadMoreData()"
            formControlName="subsidies"
            multiple
            (closed)="onResetFilter()"
          >
            <ion-item-divider sticky class="custom-ion-divider border-0">
              <ion-searchbar
                padding-start="0"
                mode="md"
                class="custom-search-select custom-search p-0"
                placeholder="Tìm kiếm"
                [debounce]="300"
                showCancelButton="never"
                (ionChange)="onSearch($event)"
                (keydown)="$event.stopPropagation()"
                #searchbar
              ></ion-searchbar>
            </ion-item-divider>
            <mat-option *ngFor="let subsidy of subsidyList" [value]="subsidy.id"
              >{{ subsidy.name }} - {{ subsidy.value | number }}đ</mat-option
            >
            <h3 class="m-0 p-3 text-secondary" *ngIf="!subsidyList.length">
              Không tồn tại
            </h3>
          </mat-select>
          <mat-error *ngIf="createForm.hasError('required', 'subsidies')"
            >Trợ cấp không được để trống</mat-error
          >
        </mat-form-field>
      </div>
    </div>

    <!-- button save -->
    <div class="col-12 px-0 mt-3 mt-md-0 text-end">
      <ion-button
        fill="clear"
        class="custom-btn d-none d-md-inline-block text-secondary"
        type="button"
        (click)="onDismissModal()"
      >
        Hủy
      </ion-button>
      <ion-button
        color="primary"
        class="custom-btn d-block d-md-inline-block"
        [disabled]="clientState.isBusy || !createForm.dirty"
        type="submit"
      >
        Lưu
      </ion-button>
    </div>
  </form>
</ion-content>
