<div class="d-md-none">
  <app-nav-bar-modal
    title="{{ id ? 'Cập nhật' : 'Tạo mới' }}"
    (onBackEvent)="onDismissModal()"
  ></app-nav-bar-modal>
</div>

<ion-content class="modal-main">
  <h2 class="d-none d-sm-block">{{ id ? "Cập nhật" : "Tạo mới" }}</h2>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="row mx-0 align-items-baseline">
      <div class="col-lg-12 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Tên chức vụ <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <input
            matInput
            formControlName="name"
            placeholder="Nhập tên chức vụ"
          />
          <mat-error
            *ngIf="name.invalid && (name.dirty || name.touched || f.submitted)"
          >
            <span *ngIf="name.errors?.required"
              >Tên chức vụ là trường bắt buộc</span
            >
            <span *ngIf="name.errors?.maxlength"
              >Tên chức vụ nằm trong khoảng 1-50 ký tự</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 px-0 px-lg-2 mb-3" *ngIf="id && data.deleteEnable">
        <label class="input-label"
          >Trạng thái <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <mat-select formControlName="status" placeholder="Chọn trạng thái">
            <mat-option
              *ngFor="let status of statusList"
              [value]="status.value"
            >
              {{ status.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-12 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Loại nhân viên <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <mat-select formControlName="level" placeholder="Chọn loại nhân viên">
            <mat-option *ngFor="let type of roleTypeList" [value]="type.value">
              {{ type.label }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              level.invalid && (level.dirty || level.touched || f.submitted)
            "
          >
            <span *ngIf="level.errors?.required"
              >Loại nhân viên là trường bắt buộc</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-lg-12 px-0 px-lg-2 mb-3">
        <label class="input-label">Ghi chú</label>
        <mat-form-field class="w-100" appearance="outline">
          <textarea
            matInput
            placeholder="Nhập ghi chú"
            [matTextareaAutosize]="true"
            [matAutosizeMinRows]="7"
            [matAutosizeMaxRows]="7"
            formControlName="description"
          ></textarea>
          <mat-error
            *ngIf="
              description.invalid &&
              (description.dirty || description.touched || f.submitted)
            "
          >
            <span *ngIf="description.errors?.maxlength"
              >Mô tả nằm trong khoảng 0-500 ký tự</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <!-- permistion start -->
      <div class="col-lg-12 px-0 px-lg-2 mb-3">
        <label class="input-label p-0 mb-1">Phân quyền</label>
        <div *ngFor="let item of listFeatures; index as i">
          <mat-checkbox
            color="primary"
            [checked]="isChecked(i)"
            (change)="$event ? onToggleAll($event, item.label, i) : null"
          >
            <h3 class="m-0">{{ item.label }}</h3>
          </mat-checkbox>
          <ul formArrayName="features">
            <li
              [formGroupName]="j"
              class="ms-4"
              *ngFor="
                let control of createForm.controls?.features?.controls;
                index as j
              "
            >
              <div *ngFor="let subFeature of item.feature">
                <mat-checkbox
                  formControlName="checked"
                  *ngIf="subFeature.id == control.value.id"
                  color="primary"
                  (change)="$event ? onToggle($event, i) : null"
                >
                  {{ subFeature.name }}
                </mat-checkbox>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- permistion end -->

    <div class="col-12 px-0 mt-3 mt-md-0 text-end">
      <ion-button
        fill="clear"
        class="custom-btn d-none d-md-inline-block text-secondary"
        type="button"
        (click)="onDismissModal()"
      >
        Hủy
      </ion-button>
      <ion-button
        color="primary"
        class="custom-btn d-block d-md-inline-block"
        [disabled]="clientState.isBusy || !createForm.dirty"
        type="submit"
      >
        Lưu
      </ion-button>
    </div>
  </form>
</ion-content>
<app-loading [isModal]="true" [show]="clientState.isBusy"></app-loading>
