.mat-optgroup .mat-option:not(.mat-option-multiple) {
  padding-left: 16px !important;
}

.sub-info {
  display: flex;
  justify-content: space-between;
}

.sub-task {
  align-self: flex-start;
  align-self: center;
  min-width: 20px;
  width: auto;
  height: 20px;
  padding: 2px;
  border-radius: 5px;
}
