<div class="d-md-none">
  <app-nav-bar-modal
    title="Tạo mới công việc"
    (onBackEvent)="onDismissModal()"
  ></app-nav-bar-modal>
</div>

<ion-content class="modal-main">
  <h2 class="d-none d-sm-block">Tạo mới công việc</h2>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="row mx-0 align-items-baseline">
      <div class="col-lg-6 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Tên công việc <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <input
            matInput
            formControlName="name"
            placeholder="Nhập tên công việc"
          />
          <mat-error
            *ngIf="
              name.invalid &&
              (name.dirty || name.touched || formGroup.submitted)
            "
          >
            <span *ngIf="name.errors?.required"
              >Tên công việc là trường bắt buộc</span
            >

            <span *ngIf="name.errors?.maxlength"
              >Tên công việc nằm trong khoảng 1-100 ký tự</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-lg-6 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Hạn chót <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <input
            placeholder="Chọn hạn chót"
            matInput
            [matDatetimepicker]="deadlineMat"
            formControlName="deadline"
          />
          <mat-datetimepicker-toggle
            matSuffix
            [for]="deadlineMat"
          ></mat-datetimepicker-toggle>
          <mat-datetimepicker
            #deadlineMat
            type="datetime"
            [openOnFocus]="true"
            [timeInterval]="5"
          ></mat-datetimepicker>

          <mat-error
            *ngIf="
              deadline.invalid &&
              (deadline.dirty || deadline.touched || formGroup.submitted)
            "
          >
            <span *ngIf="deadline.errors?.required"
              >Hạn chót là trường bắt buộc</span
            >

            <span *ngIf="deadline.errors?.invalidDate"
              >Hạn chót không được nhỏ hơn ngày hiện tại</span
            >
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-6 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Độ ưu tiên <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <mat-select formControlName="priority" placeholder="Chọn độ ưu tiên">
            <mat-option [value]="2"> Cao </mat-option>
            <mat-option [value]="1"> Trung bình </mat-option>
            <mat-option [value]="0"> Thấp </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              priority.invalid &&
              (priority.dirty || priority.touched || formGroup.submitted)
            "
          >
            <span *ngIf="priority.errors?.required"
              >Độ ưu tiên là trường bắt buộc</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-lg-6 px-0 px-lg-2 mb-3">
        <label class="input-label">Sự kiện</label>
        <mat-form-field class="w-100" appearance="outline">
          <mat-select
            placeholder="Chọn sự kiện"
            msInfiniteScroll
            (infiniteScroll)="onLoadMoreDataEvent()"
            formControlName="eventId"
            (closed)="onResetFilterEvent()"
          >
            <ion-item-divider sticky class="custom-ion-divider border-0">
              <ion-searchbar
                padding-start="0"
                mode="md"
                class="custom-search-select custom-search p-0"
                placeholder="Tìm kiếm"
                [debounce]="300"
                showCancelButton="never"
                (ionChange)="onSearchEvent($event)"
                #eventSearch
              ></ion-searchbar>
            </ion-item-divider>

            <mat-option *ngFor="let type of eventList" [value]="type.id">
              <h3 class="m-0">
                {{ type.name }}
              </h3>
            </mat-option>
            <mat-option *ngIf="!eventList?.length">
              <h3 class="m-0 p-3 text-secondary">Không tồn tại</h3>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-6 px-0 px-lg-2 mb-3">
        <label class="input-label">Phòng ban</label>
        <mat-form-field class="w-100" appearance="outline">
          <mat-select
            placeholder="Chọn phòng ban"
            msInfiniteScroll
            (infiniteScroll)="onLoadMoreDataDepartment()"
            formControlName="departmentId"
            (closed)="onResetFilterDepartment()"
          >
            <ion-item-divider sticky class="custom-ion-divider border-0">
              <ion-searchbar
                padding-start="0"
                mode="md"
                class="custom-search-select custom-search p-0"
                placeholder="Tìm kiếm"
                [debounce]="300"
                showCancelButton="never"
                (ionChange)="onSearchDepartment($event)"
                #departmentSearch
              ></ion-searchbar>
            </ion-item-divider>

            <mat-option *ngFor="let type of departmentList" [value]="type.id">
              <h3 class="m-0">
                {{ type.name }}
              </h3>
            </mat-option>
            <mat-option *ngIf="!departmentList.length">
              <h3 class="m-0 p-3 text-secondary">Không tồn tại</h3>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-6 px-0 px-lg-2 mb-3">
        <label class="input-label">Nhân viên</label>
        <mat-form-field class="w-100" appearance="outline">
          <mat-select
            placeholder="Chọn nhân viên"
            msInfiniteScroll
            (infiniteScroll)="onLoadMoreDataStaff()"
            formControlName="staffId"
            (closed)="onResetFilterStaff()"
          >
            <ion-item-divider sticky class="custom-ion-divider border-0">
              <ion-searchbar
                padding-start="0"
                mode="md"
                class="custom-search-select custom-search p-0"
                placeholder="Tìm kiếm"
                [debounce]="300"
                showCancelButton="never"
                (ionChange)="onSearchStaff($event)"
                (keydown)="$event.stopPropagation()"
                #staffSearchbar
              ></ion-searchbar>
            </ion-item-divider>

            <mat-optgroup
              *ngFor="let group of staffList"
              [label]="group.departmentName"
            >
              <mat-option
                *ngFor="let sub of group.users"
                [value]="sub.id"
                color="accent"
              >
                <div class="d-flex align-items-center">
                  <ion-avatar style="max-width: 2.3rem; max-height: 2.3rem">
                    <img
                      [src]="
                        sub.avatar
                          ? sub.avatar
                          : 'assets/images/default-avatar.png'
                      "
                      alt=""
                      style="width: 2.3rem; height: 2.3rem"
                    />
                  </ion-avatar>
                  <div class="sub-info flex-fill">
                    <h3 class="mb-0 ms-2">
                      <div>
                        <div>{{ sub.fullname }}</div>
                      </div>
                    </h3>
                    <ion-badge class="sub-task" color="primary">{{
                      sub.numberOfProcessingTask
                    }}</ion-badge>
                  </div>
                </div>
              </mat-option>
            </mat-optgroup>
            <mat-select-trigger>{{ selectedUserFullname }}</mat-select-trigger>
            <mat-option *ngIf="!staffList?.length">
              <h3 class="m-0 p-3 text-secondary">Không tồn tại</h3>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 px-0 px-lg-2 mb-3" formArrayName="subTasks">
        <label class="input-label">Danh mục</label>
        <div
          *ngFor="let item of formGroup.controls.subTasks.controls; index as i"
        >
          <div class="d-flex mx-0 align-items-center" [formGroupName]="i">
            <div class="col-11 px-0 mb-3">
              <mat-form-field class="w-100" appearance="outline">
                <input
                  matInput
                  formControlName="name"
                  placeholder="Nhập tên danh mục"
                />
              </mat-form-field>
            </div>

            <button mat-icon-button (click)="removeRow(i)" class="col-1 mb-3">
              <ion-icon class="delete-icon" name="trash-outline"></ion-icon>
            </button>
          </div>
        </div>
        <div class="col-12 px-0 mb-3 px-lg-2">
          <button
            mat-stroked-button
            color="primary"
            type="button"
            (click)="addMore()"
          >
            <mat-icon inline="true">add</mat-icon>
          </button>
        </div>
      </div>
      <div class="col-12 px-0 px-lg-2 mb-3" formArrayName="equipments">
        <label class="input-label">Trang thiết bị</label>
        <div
          *ngFor="
            let item of formGroup.controls.equipments.controls;
            index as i
          "
        >
          <div class="d-flex mx-0 align-items-center" [formGroupName]="i">
            <div class="col-7 pl-0 pr-3 mb-3">
              <label class="input-label">Tên</label>
              <mat-form-field
                class="w-100"
                style="padding-right: 1rem"
                appearance="outline"
              >
                <mat-select
                  placeholder="Tên trang thiết bị"
                  formControlName="name"
                >
                  <mat-option
                    *ngFor="let item of equipments"
                    [value]="item.name"
                  >
                    {{ item.name }}
                  </mat-option>
                  <mat-option *ngIf="!equipments.length">
                    Không có trang thiết bị
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-4 mb-3">
              <label class="input-label">Số lượng</label>
              <mat-form-field class="w-100" appearance="outline">
                <input
                  matInput
                  formControlName="quantity"
                  OnlyNumber
                  placeholder="Số lượng"
                />
              </mat-form-field>
            </div>

            <button
              mat-icon-button
              (click)="removeRowEquipment(i)"
              class="col-1 mb-3"
            >
              <ion-icon class="delete-icon" name="trash-outline"></ion-icon>
            </button>
          </div>
        </div>
        <div class="col-12 px-0 mb-3 px-lg-2">
          <button
            mat-stroked-button
            color="primary"
            type="button"
            (click)="addMoreEquipment()"
          >
            <mat-icon inline="true">add</mat-icon>
          </button>
        </div>
      </div>
      <div class="col-12 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Mô tả <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <textarea
            placeholder="Nhập mô tả"
            matInput
            [matTextareaAutosize]="true"
            [matAutosizeMinRows]="5"
            [matAutosizeMaxRows]="5"
            formControlName="description"
          ></textarea>
          <mat-error
            *ngIf="
              description.invalid &&
              (description.dirty || description.touched || formGroup.submitted)
            "
          >
            <span *ngIf="description.errors?.required"
              >Mô tả là trường bắt buộc</span
            >
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <!-- button save -->
    <div class="col-12 px-0 mt-3 mt-md-0 text-end">
      <ion-button
        fill="clear"
        class="custom-btn d-none d-md-inline-block text-secondary"
        type="button"
        (click)="onDismissModal()"
      >
        Hủy
      </ion-button>
      <ion-button
        color="primary"
        class="custom-btn d-block d-md-inline-block"
        [disabled]="clientState.isBusy || !formGroup.dirty"
        type="submit"
      >
        Lưu
      </ion-button>
    </div>
  </form>
</ion-content>

<app-loading [isModal]="true" [show]="clientState.isBusy"></app-loading>
