<app-nav-bar [title]="'Báo cáo sự kiện'"></app-nav-bar>

<ion-content>
  <div class="m-content mb-content" style="padding-top: 0">
    <ion-segment
      scrollable
      class="m-content p-0"
      mode="md"
      [(ngModel)]="segment"
    >
      <ion-segment-button value="year">
        <ion-label>Thống kê theo năm </ion-label>
      </ion-segment-button>

      <ion-segment-button value="detail">
        <ion-label>Thống kê chi tiết </ion-label>
      </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="segment">
      <div *ngSwitchCase="'year'">
        <app-year></app-year>
      </div>
      <div *ngSwitchCase="'detail'">
        <app-detail></app-detail>
      </div>
    </div>
  </div>
</ion-content>
