<div class="d-md-none">
  <app-nav-bar-modal
    title="Cập nhật"
    (onBackEvent)="onDismissModal()"
    (onActionEvent)="onSubmit()"
  ></app-nav-bar-modal>
</div>

<ion-content class="modal-main">
  <h2 class="d-none d-sm-block">Cập nhật</h2>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="row mx-0 align-items-baseline">
      <div class="col-12 px-0 px-md-2 mb-2">
        <label class="input-label"
          >Tên trợ phí <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <input
            matInput
            formControlName="name"
            placeholder="Nhập tên trợ phí"
          />
          <mat-error *ngIf="formGroup.hasError('required', 'name')"
            >Trợ phí là trường bắt buộc
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 px-0 px-md-2 mb-2">
        <label class="input-label"
          >Trợ phí <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <input
            matInput
            formControlName="value"
            placeholder="Nhập trợ phí"
            decimalFormat
          />
          <mat-error *ngIf="formGroup.hasError('required', 'value')"
            >Trợ phí là trường bắt buộc
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <!-- button save -->
    <div class="col-12 px-0 mb-3 px-lg-2 text-end">
      <ion-button
        fill="clear"
        class="custom-btn d-none d-md-inline-block text-secondary"
        type="button"
        (click)="onDismissModal()"
      >
        Hủy
      </ion-button>
      <ion-button
        color="primary"
        class="custom-btn d-block d-md-inline-block"
        type="submit"
        [disabled]="clientState.isBusy || !formGroup.dirty"
      >
        Lưu
      </ion-button>
    </div>
  </form>
</ion-content>
