.menu {
  border: 1px solid #eee !important;
}

.menu-header-bg {
  height: 180px;
  width: 350px;
  background: linear-gradient(90deg, #7d96d6 0%, #3f96dd 100%);
  box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
  transform: rotate(-15deg);
  border-radius: 10px 10px 10px 50px;
  margin-left: -35px;
  margin-top: -50px;
  margin-bottom: 60px;
}

.header-content {
  position: absolute;
  top: 30px;
  left: 35px;
  display: flex;
  align-items: center;

  img {
    width: 75px;
    height: 75px;
    margin-right: 15px;
  }
  .header-title {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 0.4px;
  }
}

.menu-items {
  margin: 0;
  ion-icon {
    margin-right: 20px;
    color: #86979f;
    font-size: 25px;
  }
  .active {
    color: #628cff;
    --ion-item-background: #f1f1f1;
    ion-icon {
      color: #628cff;
    }
  }
}

.sub-active {
  color: #628cff;
}

.sub-menu {
  border: 0;
  .label-content {
    margin-left: 3rem !important;
  }
}

.name {
  font-size: 18px;
}

@media (min-width: 576px) {
  ion-item {
    cursor: pointer;
    &:hover {
      --ion-item-background: #f1f1f1;
    }
  }

  .active {
    color: #628cff;
    ion-icon {
      color: #628cff;
    }
  }
}
