<div class="d-none d-md-block">
  <app-progress-bar></app-progress-bar>
</div>

<ion-split-pane
  when="(min-width: 769px)"
  contentId="main-content"
  class="m-progress"
>
  <ion-menu
    class="menu"
    contentId="main-content"
    menuId="menu-content"
    type="overlay"
  >
    <ion-content class="content-side-bar">
      <div class="menu-header-bg"></div>
      <div class="ms-3 m-md-0 header-content">
        <img src="assets/images/logo.png" alt="" />
        <h2 class="header-title">eHRMA</h2>
      </div>
      <!-- content start -->
      <ion-list class="menu-items accordion-menu" id="inbox-list" line="none">
        <div
          *ngFor="let sidebar of sideBars; index as i"
          (click)="router(sidebar.routerlink)"
        >
          <div *ngIf="sidebar.isShow">
            <ion-item
              lines="none"
              [ngClass]="active == i ? 'active' : ''"
              (click)="openTab(sidebar.name, i, true)"
            >
              <ion-icon
                class="ms-3 title-icon"
                slot="start"
                [name]="sidebar.icon"
              ></ion-icon>
              <ion-label class="ms-2 name">{{ sidebar.name }}</ion-label>
              <ion-icon
                *ngIf="sidebar.child"
                slot="end"
                size="small"
                [name]="
                  checkOpenTab(sidebar.name)
                    ? 'chevron-down-outline'
                    : 'chevron-forward-outline'
                "
              ></ion-icon>
            </ion-item>

            <section [@slideInOut]="checkOpenTab(sidebar.name)">
              <ion-menu-toggle class="sub-menu" auto-hide="false">
                <div
                  *ngFor="let c of sidebar?.child"
                  (click)="($event.stopPropagation)"
                >
                  <ion-item
                    *ngIf="c.isShow"
                    routerDirection="root"
                    class="border-0"
                    lines="none"
                    detail="false"
                    [routerLink]="c.routerlink"
                    [routerLinkActive]="['sub-active']"
                  >
                    <ion-label class="label-content">
                      {{ c.name }}
                    </ion-label>
                  </ion-item>
                </div>
              </ion-menu-toggle>
            </section>
          </div>
        </div>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- content start -->
  <ion-router-outlet
    id="main-content"
    (activate)="getChild()"
  ></ion-router-outlet>

  <!-- content end -->
</ion-split-pane>
