<div class="d-md-none">
  <app-nav-bar-modal
    title="{{ data ? 'Cập nhật' : 'Tạo mới' }}"
    (onBackEvent)="onDismissModal()"
  ></app-nav-bar-modal>
</div>

<ion-content class="modal-main">
  <h2 class="d-none d-sm-block">{{ data ? "Cập nhật" : "Tạo mới" }}</h2>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="row mx-0 align-items-baseline">
      <div class="col-12 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Tên sự kiện <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <input
            placeholder="Nhập tên sự kiện"
            matInput
            formControlName="name"
          />
          <mat-error
            *ngIf="name.invalid && (name.dirty || name.touched || f.submitted)"
          >
            <span *ngIf="name.errors?.required"
              >Tên sự kiện là trường bắt buộc</span
            >

            <span *ngIf="name.errors?.maxlength"
              >Tên sự kiện nằm trong khoảng 1-100 ký tự</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 px-0 px-lg-2 mb-3">
        <label class="input-label"
          >Địa điểm <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <input
            (keyup)="onTypeAddress()"
            placeholder="Nhập địa điểm"
            matInput
            formControlName="address"
            #searchAddress
          />

          <mat-error
            *ngIf="
              address.invalid &&
              (address.dirty || address.touched || f.submitted)
            "
          >
            <span *ngIf="address.errors?.required"
              >Địa điểm là trường bắt buộc</span
            >

            <span *ngIf="address.errors?.requiredMatch"
              >Địa chỉ là trường bắt buộc phải chọn từ danh sách</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div
        *ngIf="!data || data?.status == 2"
        class="col-lg-6 px-0 px-lg-2 mb-3"
      >
        <label class="input-label"
          >Ngày bắt đầu <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <input
            placeholder="Chọn ngày bắt đầu"
            matInput
            [matDatepicker]="dateStartMat"
            formControlName="startDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="dateStartMat"
          ></mat-datepicker-toggle>
          <mat-datepicker #dateStartMat></mat-datepicker>

          <mat-error
            *ngIf="
              startDate.invalid &&
              (startDate.dirty || startDate.touched || f.submitted)
            "
          >
            <span *ngIf="startDate.errors?.required"
              >Ngày bắt đầu là trường bắt buộc</span
            >

            <span *ngIf="startDate.errors?.startDateLessThanEndDate"
              >Ngày bắt đầu không được lớn hơn ngày kết thúc</span
            >
            <span *ngIf="startDate.errors?.dateLessThanCurrentDate"
              >Ngày bắt đầu không nhỏ hơn ngày hiện tại</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div
        class="px-0 px-lg-2 mb-3"
        [class]="!data || data?.status == 2 ? 'col-lg-6' : 'col-12'"
      >
        <label class="input-label"
          >Ngày dự kiến kết thúc <span class="text-danger">*</span></label
        >
        <mat-form-field class="w-100" appearance="outline">
          <input
            placeholder="Chọn ngày kết thúc"
            matInput
            [matDatepicker]="dateEndMat"
            formControlName="expectedEndDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="dateEndMat"
          ></mat-datepicker-toggle>
          <mat-datepicker #dateEndMat></mat-datepicker>
          <mat-error
            *ngIf="
              endDate.invalid &&
              (endDate.dirty || endDate.touched || f.submitted)
            "
          >
            <span *ngIf="endDate.errors?.required"
              >Ngày dự kiến kết thúc là trường bắt buộc</span
            >

            <span *ngIf="endDate.errors?.endDateLessThanStartDate"
              >Ngày dự kiến kết thúc không được nhỏ hơn ngày bắt đầu</span
            >
            <span
              *ngIf="
                endDate.errors?.dateLessThanCurrentDate &&
                !endDate.errors?.endDateLessThanStartDate
              "
              >Ngày dự kiến kết thúc không được nhỏ hơn ngày hiện tại</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 px-0 px-lg-2 mb-3">
        <label class="input-label">Mô tả</label>
        <mat-form-field class="w-100" appearance="outline">
          <textarea
            placeholder="Nhập mô tả"
            matInput
            [matTextareaAutosize]="true"
            [matAutosizeMinRows]="10"
            [matAutosizeMaxRows]="10"
            formControlName="description"
          ></textarea>

          <mat-error
            *ngIf="
              description.invalid &&
              (description.dirty || description.touched || f.submitted)
            "
          >
            <span *ngIf="description.errors?.maxlength"
              >Mô tả nằm trong khoảng 0-500 ký tự</span
            >
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="col-12 px-0 mt-3 mt-md-0 text-end">
      <ion-button
        fill="clear"
        class="custom-btn d-none d-md-inline-block text-secondary"
        type="button"
        (click)="onDismissModal()"
      >
        Hủy
      </ion-button>
      <ion-button
        color="primary"
        class="custom-btn d-block d-md-inline-block"
        [disabled]="clientState.isBusy || !createForm.dirty"
        type="submit"
      >
        Lưu
      </ion-button>
    </div>
  </form>
</ion-content>

<app-loading [isModal]="true" [show]="clientState.isBusy"></app-loading>
