<app-nav-bar-custome class="d-md-none" [title]="'Nhân viên'">
  <div start>
    <ion-button (click)="onDismissModal()">
      <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
    </ion-button>
  </div>

  <div end>
    <ion-button (click)="onSave()" fill="clear">Lưu</ion-button>
  </div>
</app-nav-bar-custome>

<ion-content>
  <div class="sticky">
    <div class="nav-action d-none d-md-flex justify-content-between px-2">
      <ion-button (click)="onDismissModal()" fill="clear"> Huỷ </ion-button>
      <ion-button (click)="onSave()" fill="clear"> Lưu </ion-button>
    </div>

    <div class="px-md-4 py-0">
      <form
        [formGroup]="createForm"
        (keyup.enter)="onFilter()"
        (ngSubmit)="onFilter()"
      >
        <mat-form-field
          class="w-100 mt-2 mt-md-0 p-field p-md-0"
          appearance="outline"
        >
          <mat-icon matPrefix>search</mat-icon>
          <input
            matInput
            formControlName="TextSearch"
            placeholder="Tên nhân viên"
          />
        </mat-form-field>

        <table-filter>
          <div class="row mx-0 align-items-baseline">
            <div class="col-12 p-field p-md-0">
              <mat-form-field class="w-100" appearance="outline">
                <mat-icon matPrefix>search</mat-icon>
                <mat-select
                  formControlName="DepartmentId"
                  placeholder="Phòng ban"
                  msInfiniteScroll
                  (selectionChange)="onFilter()"
                  (infiniteScroll)="onLoadMoreDepartment()"
                >
                  <mat-option [value]=""> Tất cả </mat-option>
                  <mat-option
                    *ngFor="let department of departmentList"
                    [value]="department.id"
                  >
                    {{ department.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-12 p-field p-md-0">
              <mat-form-field class="w-100" appearance="outline">
                <mat-icon matPrefix>search</mat-icon>
                <mat-select
                  formControlName="RoleId"
                  placeholder="Chức vụ"
                  (selectionChange)="onFilter()"
                  msInfiniteScroll
                  (infiniteScroll)="onLoadMoreRole()"
                >
                  <mat-option [value]=""> Tất cả </mat-option>

                  <mat-option *ngFor="let role of roleList" [value]="role.id">
                    {{ role.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </table-filter>
      </form>
    </div>
  </div>

  <div class="modal-main">
    <div class="users">
      <div *ngIf="!userList.length" class="text-center">
        <img src="assets/images/empty_state.png" alt="empty-data" />
        <h2>Không tồn tại nhân viên</h2>
      </div>

      <div
        *ngIf="userList.length"
        class="text-end btn-select-all"
        (click)="onSelectAll()"
      >
        {{ isSelectAll ? "Huỷ chọn" : "Chọn toàn bộ" }}
      </div>

      <div class="user-item" *ngFor="let user of userList">
        <div class="d-flex align-items-center">
          <div class="flex-grow-1 d-md-flex align-items-center">
            <div class="user-left d-flex align-items-center">
              <ion-avatar style="max-width: 3rem; max-height: 3rem">
                <img
                  [src]="
                    user.avatar
                      ? user.avatar
                      : 'assets/images/default-avatar.png'
                  "
                  alt="avatar"
                  style="width: 3rem; height: 3rem"
                />
              </ion-avatar>
              <div class="user-detail ms-2">
                <div class="user-name mb-1">{{ user.fullName }}</div>
                <div class="user-role">
                  {{ user.role.name }}
                </div>
              </div>
            </div>

            <div class="text-department m-md-0">{{ user.department.name }}</div>
          </div>

          <button
            (click)="onSelected(user)"
            class="btn-select"
            [class]="
              (user.id | selectUser: cloneSelectedList) ? 'selected' : ''
            "
          >
            {{ (user.id | selectUser: cloneSelectedList) ? "Xoá" : "Chọn" }}
          </button>

          <!-- <ion-button
            [color]="(user.id | selectUser: cloneSelectedList) ? 'danger' : ''"
            (click)="onSelected(user)"
            class="btn-select"
          >
            {{ (user.id | selectUser: cloneSelectedList) ? "Xoá" : "Chọn" }}
          </ion-button> -->
        </div>
      </div>

      <ion-infinite-scroll
        #infinityScroll
        threshold="15%"
        (ionInfinite)="loadMoreData($event)"
      >
        <ion-infinite-scroll-content> </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>
</ion-content>

<app-loading [isModal]="true" [show]="clientState.isBusy"></app-loading>
